if UBOOT_CONFIG_TARGET_OCTEON_NIC23

config UBOOT_CONFIG_SYS_BOARD
	string
	default "octeon_nic23"

config UBOOT_CONFIG_SYS_VENDOR
	string
	default "Marvell"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	string
	default "octeon_nic23"

config UBOOT_CONFIG_DEFAULT_DEVICE_TREE
	string
	default "mrvl,octeon-nic23"

endif
