#
# switch api configuration
#
config MXL_ETHSW_API
	tristate "Maxlinear Ethernet Switch API"
	default y
	select MDIO
	select PHYLIB
	help
	  Support for Maxlinear Ethernet Switch API.

config MXL_ETHSW_NOSPTAG
	bool "Disable special tags on LAN interfaces"
	depends on MXL_ETHSW_API
	help
	  Do not insert special tags on packets received on LAN ports.

	  The adaption layer between the MAC (XGMAC and legacy MAC) and GSWIP
	  could hang when it adds special tags to corrupted or too short packets.
	  Prevent this by deactivating this feature. This mostly happens in
	  half duplex mode. When no special tag is added additional PCE rules
	  are needed for rules which should match on packets from all
	  interfaces (LAN + PON) because packets from the PON interface always
	  have a special tag. This affects PCE rules configured on the pon0
	  device.

config MXL_8021X
	depends on MXL_ETHSW_API
	default y
	bool "Support Maxlinear ETHSW 802.1X Switch API's"
	help
	  Supported Maxlinear Switch API for 802.1X features.

config MXL_MULTICAST
	depends on MXL_ETHSW_API
	default y
	bool "Support Maxlinear ETHSW MULTICAST Switch API's"
	help
	  Supported Maxlinear Switch API for multicast features.

config MXL_QOS
	depends on MXL_ETHSW_API
	default y
	bool "Support Maxlinear ETHSW QOS Switch API's"
	help
	  Supported Maxlinear Switch API for  Quality of Service (QoS) features.

config MXL_STP
	depends on MXL_ETHSW_API
	default y
	bool "Support Maxlinear ETHSW STP Switch API's"
	help
	  Supported Maxlinear Switch API for Spanning  Tree  Protocol(STP) features.

config MXL_VLAN
	depends on MXL_ETHSW_API
	default y
	bool "Support Maxlinear ETHSW VLAN Switch API's"
	help
	  Supported Maxlinear Switch API for VLAN features.

config MXL_WOL
	depends on MXL_ETHSW_API
	default y
	bool "Support Maxlinear ETHSW WOL Switch API's"
	help
	  Supported Maxlinear Switch API for Wake-On-Lan(WOL) features.

config MXL_PMAC
	depends on MXL_ETHSW_API
	default y
	bool "Support Maxlinear ETHSW PMAC Switch API's"
	help
	  Supported Maxlinear Switch API for PMAC Configuration features.

config MXL_RMON
	depends on MXL_ETHSW_API
	default y
	bool "Support Maxlinear ETHSW RMON Switch API's"
	help
	  Supported Maxlinear Switch API for RMON counter features.
