config UBOOT_CONFIG_PINCTRL_BCM283X
	depends on UBOOT_CONFIG_ARCH_BCM283X && UBOOT_CONFIG_PINCTRL_FULL && UBOOT_CONFIG_OF_CONTROL
	default y
	bool "Broadcom 283x family pin control driver"
	help
	   Support pin multiplexing and pin configuration control on
	   Broadcom's 283x family of SoCs.

config UBOOT_CONFIG_PINCTRL_BCM6838
	depends on UBOOT_CONFIG_ARCH_BMIPS && UBOOT_CONFIG_PINCTRL_FULL && UBOOT_CONFIG_OF_CONTROL
	default y
	bool "Broadcom 6838 family pin control driver"
	help
	   Support pin multiplexing and pin configuration control on
	   Broadcom's 6838 family of SoCs.
