config ppmd 'global'
	option debug '0'
	option demo  '0'  # demo mode enables all the modules regardless of the
			  # 'enable' option for each module
	option dvfs_low_threshold 9000 #in Mbps
	option dvfs_high_threshold 14000 #in Mbps
	option handle_cooling_event '1'
	option enable_dvfs_scaling '1'
	option log_to_file '0'
	option bbu_on_policy_name 'bbu_low_power_on'
	option bbu_off_policy_name 'bbu_low_power_off'
	option bbu_power_supply_name 'bbu-psy'
	option bbu_handle_uevent '1'
	option policy_curr 'balance'

config module 'eth'
	option enable '1'
#	option speed_class '1000'  #in Mbps
#	option degradation_factor 1
	option ten_gbps_interface '0'
	list phy_ifi 'eth0_1'
	list phy_ifi 'eth0_2'
	list phy_ifi 'eth0_3'
	list phy_ifi 'eth0_4'
	list phy_ifi 'eth0_5'
	list phy_ifi 'eth1'

config module 'wifi'
	option enable '1'
#	option speed_class '54000'
#	option degradation_factor 0.7
	option default_max_throughput_2GHz '600'
	option default_max_throughput_5GHz '3466'
	option default_max_throughput_6GHz '9608'

config module 'dsl'
	option enable '1'
#	option speed_class '845'
#	option degradation_factor 0.9

config module 'pon'
	option enable '1'
#	option speed_class '845'
#	option degradation_factor 0.9
