if UBOOT_CONFIG_TARGET_LS2080ARDB || UBOOT_CONFIG_TARGET_LS2081ARDB

config UBOOT_CONFIG_SYS_BOARD
	default "ls2080ardb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_SOC
	default "fsl-layerscape"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ls2080ardb"

source "../../../board/freescale/common/Kconfig"

if UBOOT_CONFIG_FSL_LS_PPA
config UBOOT_CONFIG_SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x20400000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_XIP && UBOOT_CONFIG_QSPI_BOOT
	default 0x580400000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_XIP
	default 0x400000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_MMC || UBOOT_CONFIG_SYS_LS_PPA_FW_IN_NAND

if UBOOT_CONFIG_CHAIN_OF_TRUST
config UBOOT_CONFIG_SYS_LS_PPA_ESBC_ADDR
	hex "PPA Firmware HDR Addr"
	default 0x20680000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_XIP && UBOOT_CONFIG_QSPI_BOOT
	default 0x580680000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_XIP
	default 0x680000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_MMC || UBOOT_CONFIG_SYS_LS_PPA_FW_IN_NAND
endif
endif

source "../../../board/freescale/common/Kconfig"

endif
