if UBOOT_CONFIG_TARGET_IMX8ULP_EVK

config UBOOT_CONFIG_SYS_BOARD
	default "imx8ulp_evk"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "imx8ulp_evk"

source "../../../board/freescale/common/Kconfig"

endif
