if UBOOT_CONFIG_TARGET_P1010RDB_PA || UBOOT_CONFIG_TARGET_P1010RDB_PB

config UBOOT_CONFIG_SYS_BOARD
	default "p1010rdb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "P1010RDB"

source "../../../board/freescale/common/Kconfig"

endif
