if UBOOT_CONFIG_ARCH_OCTEONTX

choice
	prompt "OcteonTX board select"
	optional

config UBOOT_CONFIG_TARGET_OCTEONTX_81XX
	bool "Marvell OcteonTX CN81XX"

config UBOOT_CONFIG_TARGET_OCTEONTX_83XX
	bool "Marvell OcteonTX CN83XX"

endchoice

config UBOOT_CONFIG_SYS_SOC
	string
	default "octeontx"

config UBOOT_CONFIG_SYS_PCI_64BIT
	bool
	default y

endif
