if UBOOT_CONFIG_TARGET_BRSMARC1

config UBOOT_CONFIG_SYS_BOARD
	default "brsmarc1"

config UBOOT_CONFIG_SYS_VENDOR
	default "BuR"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "brsmarc1"

endif
