#
# System reset devices
#

menu "System reset device drivers"

config UBOOT_CONFIG_SYSRESET
	bool "Enable support for system reset drivers"
	depends on UBOOT_CONFIG_DM
	help
	  Enable system reset drivers which can be used to reset the CPU or
	  board. Each driver can provide a reset method which will be called
	  to effect a reset. The uclass will try all available drivers when
	  reset_walk() is called.

config UBOOT_CONFIG_SPL_SYSRESET
	bool "Enable support for system reset drivers in SPL mode"
	depends on UBOOT_CONFIG_SYSRESET && UBOOT_CONFIG_SPL_DM
	help
	  Enable system reset drivers which can be used to reset the CPU or
	  board. Each driver can provide a reset method which will be called
	  to effect a reset. The uclass will try all available drivers when
	  reset_walk() is called.

config UBOOT_CONFIG_TPL_SYSRESET
	bool "Enable support for system reset drivers in TPL mode"
	depends on UBOOT_CONFIG_SYSRESET && UBOOT_CONFIG_TPL_DM
	help
	  Enable system reset drivers which can be used to reset the CPU or
	  board. Each driver can provide a reset method which will be called
	  to effect a reset. The uclass will try all available drivers when
	  reset_walk() is called.

if UBOOT_CONFIG_SYSRESET

config UBOOT_CONFIG_SYSRESET_CMD_RESET
	bool "sysreset implementation of the reset command"
	default y
	help
	  Enable sysreset implementation of the reset command.

if UBOOT_CONFIG_CMD_POWEROFF

config UBOOT_CONFIG_SYSRESET_CMD_POWEROFF
	bool "sysreset implementation of the poweroff command"
	help
	  This should be selected by the appropriate PMIC driver if
	  the poweroff command is enabled.

endif

config UBOOT_CONFIG_POWEROFF_GPIO
	bool "Enable support for GPIO poweroff driver"
	select UBOOT_CONFIG_DM_GPIO
	help
	  Support for system poweroff using a GPIO pin. This can be used
	  for systems having a single GPIO to trigger a system poweroff.

config UBOOT_CONFIG_SYSRESET_GPIO
	bool "Enable support for GPIO reset driver"
	select UBOOT_CONFIG_DM_GPIO
	help
	  Reset support via GPIO pin connected reset logic. This is used for
	  example on Microblaze where reset logic can be controlled via GPIO
	  pin which triggers cpu reset.

config UBOOT_CONFIG_SYSRESET_MICROBLAZE
	bool "Enable support for Microblaze soft reset"
	depends on UBOOT_CONFIG_MICROBLAZE
	help
	  This is soft reset on Microblaze which does jump to 0x0 address.

config UBOOT_CONFIG_SYSRESET_OCTEON
	bool "Enable support for Marvell Octeon SoC family"
	depends on UBOOT_CONFIG_ARCH_OCTEON
	help
	  This enables the system reset driver support for Marvell Octeon
	  SoCs.

config UBOOT_CONFIG_SYSRESET_PSCI
	bool "Enable support for PSCI System Reset"
	depends on UBOOT_CONFIG_ARM_PSCI_FW
	select UBOOT_CONFIG_SPL_ARM_PSCI_FW if SPL
	help
	  Enable PSCI SYSTEM_RESET function call.  To use this, PSCI firmware
	  must be running on your system.

config UBOOT_CONFIG_SYSRESET_SBI
	bool "Enable support for SBI System Reset"
	depends on UBOOT_CONFIG_RISCV_SMODE && UBOOT_CONFIG_SBI_V02
	select UBOOT_CONFIG_SYSRESET_CMD_POWEROFF if CMD_POWEROFF
	help
	  Enable system reset and poweroff via the SBI system reset extension.
	  The extension was introduced in version 0.3 of the SBI specification.

	  If the SBI implementation provides the extension, is board specific.
	  The RISC-V platform specification mandates the extension for rich
	  operating system platforms.

config UBOOT_CONFIG_SYSRESET_SOCFPGA
	bool "Enable support for Intel SOCFPGA family"
	depends on UBOOT_CONFIG_ARCH_SOCFPGA && (TARGET_SOCFPGA_GEN5 || UBOOT_CONFIG_TARGET_SOCFPGA_ARRIA10)
	help
	  This enables the system reset driver support for Intel SOCFPGA SoCs
	  (Cyclone 5, Arria 5 and Arria 10).

config UBOOT_CONFIG_SYSRESET_SOCFPGA_SOC64
	bool "Enable support for Intel SOCFPGA SoC64 family (Stratix10/Agilex)"
	depends on UBOOT_CONFIG_ARCH_SOCFPGA && UBOOT_CONFIG_TARGET_SOCFPGA_SOC64
	help
	  This enables the system reset driver support for Intel SOCFPGA
	  SoC64 SoCs.

config UBOOT_CONFIG_SYSRESET_TI_SCI
	bool "TI System Control Interface (TI SCI) system reset driver"
	depends on UBOOT_CONFIG_TI_SCI_PROTOCOL
	help
	  This enables the system reset driver support over TI System Control
	  Interface available on some new TI's SoCs.

config UBOOT_CONFIG_SYSRESET_SYSCON
	bool "Enable support for mfd syscon reboot driver"
	select UBOOT_CONFIG_REGMAP
	select UBOOT_CONFIG_SYSCON
	help
	  Reboot support for generic SYSCON mapped register reset.

config UBOOT_CONFIG_SYSRESET_WATCHDOG
	bool "Enable support for watchdog reboot driver"
	select UBOOT_CONFIG_WDT
	help
	  Reboot support for generic watchdog reset.

config UBOOT_CONFIG_SYSRESET_WATCHDOG_AUTO
	bool "Automatically register first watchdog with sysreset"
	depends on UBOOT_CONFIG_SYSRESET_WATCHDOG
	help
	  If enabled, the first watchdog (as selected by the watchdog uclass)
	  will automatically be registered with the watchdog reboot driver.

config UBOOT_CONFIG_SYSRESET_RESETCTL
	bool "Enable support for reset controller reboot driver"
	select UBOOT_CONFIG_DM_RESET
	help
	  Reboot support using generic reset controller.

config UBOOT_CONFIG_SYSRESET_X86
	bool "Enable support for x86 processor reboot driver"
	depends on UBOOT_CONFIG_X86
	help
	  Reboot support for generic x86 processor reset.

config UBOOT_CONFIG_SYSRESET_SPL_X86
	bool "Enable support for x86 processor reboot driver in SPL"
	depends on UBOOT_CONFIG_X86
	help
	  Reboot support for generic x86 processor reset in SPL.

config UBOOT_CONFIG_SYSRESET_TPL_X86
	bool "Enable support for x86 processor reboot driver in TPL"
	depends on UBOOT_CONFIG_X86
	help
	  Reboot support for generic x86 processor reset in TPL.

config UBOOT_CONFIG_SYSRESET_MPC83XX
	bool "Enable support MPC83xx SoC family reboot driver"
	help
	  Reboot support for NXP MPC83xx SoCs.

endif

endmenu
