if UBOOT_CONFIG_ARCH_ASPEED

config UBOOT_CONFIG_SYS_ARCH
	default "arm"

config UBOOT_CONFIG_SYS_SOC
	default "aspeed"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x00000000

choice
	prompt "Aspeed SoC select"
	depends on UBOOT_CONFIG_ARCH_ASPEED
	default UBOOT_CONFIG_ASPEED_AST2500

config UBOOT_CONFIG_ASPEED_AST2500
	bool "Support Aspeed AST2500 SoC"
	depends on UBOOT_CONFIG_DM_RESET
	select UBOOT_CONFIG_CPU_ARM1176
	help
	  The Aspeed AST2500 is a ARM-based SoC with arm1176 CPU.
	  It is used as Board Management Controller on many server boards,
	  which is enabled by support of LPC and eSPI peripherals.

config UBOOT_CONFIG_ASPEED_AST2600
	bool "Support Aspeed AST2600 SoC"
	select UBOOT_CONFIG_CPU_V7A
	select UBOOT_CONFIG_CPU_V7_HAS_NONSEC
	select UBOOT_CONFIG_SYS_ARCH_TIMER
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_ENABLE_ARM_SOC_BOOT0_HOOK
	help
	  The Aspeed AST2600 is a ARM-based SoC with Cortex-A7 CPU.
	  It is used as Board Management Controller on many server boards,
	  which is enabled by support of LPC and eSPI peripherals.

endchoice

source "ast2500/Kconfig"
source "ast2600/Kconfig"

endif
