if UBOOT_CONFIG_ARCH_IMX8ULP

config UBOOT_CONFIG_IMX8ULP
	bool
	select UBOOT_CONFIG_ARMV8_SPL_EXCEPTION_VECTORS

config UBOOT_CONFIG_SYS_SOC
	default "imx8ulp"

choice
	prompt "i.MX8ULP board select"
	optional

config UBOOT_CONFIG_TARGET_IMX8ULP_EVK
	bool "imx8ulp_evk"
	select UBOOT_CONFIG_IMX8ULP
	select UBOOT_CONFIG_SUPPORT_SPL

endchoice

source "../../../../board/freescale/imx8ulp_evk/Kconfig"

endif
