if UBOOT_CONFIG_ARCH_MESON

config UBOOT_CONFIG_PINCTRL_MESON
	select UBOOT_CONFIG_PINCTRL_GENERIC
	select UBOOT_CONFIG_PINCONF
	bool

config UBOOT_CONFIG_PINCTRL_MESON_GX_PMX
	select UBOOT_CONFIG_PINCTRL_MESON
	bool

config UBOOT_CONFIG_PINCTRL_MESON_AXG_PMX
	select UBOOT_CONFIG_PINCTRL_MESON
	bool

config UBOOT_CONFIG_PINCTRL_MESON_GXBB
	bool "Amlogic Meson GXBB SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MESON_GX_PMX

config UBOOT_CONFIG_PINCTRL_MESON_GXL
	bool "Amlogic Meson GXL SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MESON_GX_PMX

config UBOOT_CONFIG_PINCTRL_MESON_AXG
	bool "Amlogic Meson AXG SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MESON_AXG_PMX

config UBOOT_CONFIG_PINCTRL_MESON_G12A
	bool "Amlogic Meson G12a SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MESON_AXG_PMX

endif
