if UBOOT_CONFIG_TARGET_ARMADILLO_800EVA

config UBOOT_CONFIG_SYS_BOARD
	default "armadillo-800eva"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmark-techno"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "armadillo-800eva"

endif
