if UBOOT_CONFIG_BOARD_HUAWEI_HG556A

config UBOOT_CONFIG_SYS_BOARD
	default "hg556a"

config UBOOT_CONFIG_SYS_VENDOR
	default "huawei"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "huawei_hg556a"

endif
