if UBOOT_CONFIG_TARGET_LX2160ARDB

config UBOOT_CONFIG_SYS_BOARD
	default "lx2160a"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_SOC
	default "fsl-layerscape"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "lx2160ardb"

source "../../../board/freescale/common/Kconfig"
endif

if UBOOT_CONFIG_TARGET_LX2160AQDS

config UBOOT_CONFIG_SYS_BOARD
	default "lx2160a"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_SOC
	default "fsl-layerscape"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "lx2160aqds"

source "../../../board/freescale/common/Kconfig"
endif

if UBOOT_CONFIG_TARGET_LX2162AQDS

config UBOOT_CONFIG_SYS_BOARD
	default "lx2160a"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_SOC
	default "fsl-layerscape"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "lx2162aqds"

source "../../../board/freescale/common/Kconfig"
endif
