#
# Phy drivers for Allwinner platforms
#
config UBOOT_CONFIG_PHY_SUN4I_USB
	bool "Allwinner Sun4I USB PHY driver"
	depends on UBOOT_CONFIG_ARCH_SUNXI
	select UBOOT_CONFIG_DM_REGULATOR
	select UBOOT_CONFIG_PHY
	help
	  Enable this to support the transceiver that is part of Allwinner
	  sunxi SoCs.

	  This driver controls the entire USB PHY block, both the USB OTG
	  parts, as well as the 2 regular USB 2 host PHYs.

config UBOOT_CONFIG_PHY_SUN50I_USB3
	bool "Allwinner sun50i USB3 PHY driver"
	depends on UBOOT_CONFIG_ARCH_SUNXI
	select UBOOT_CONFIG_PHY
	help
	  Enable this to support the USB3 transceiver that is part of
	  Allwinner sun50i SoCs.
