if UBOOT_CONFIG_TARGET_FIREFLY_RK3288

config UBOOT_CONFIG_SYS_BOARD
	default "firefly-rk3288"

config UBOOT_CONFIG_SYS_VENDOR
	default "firefly"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "firefly-rk3288"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
