if UBOOT_CONFIG_TARGET_ADP_AE3XX

config UBOOT_CONFIG_SYS_CPU
	default "n1213"

config UBOOT_CONFIG_SYS_BOARD
	default "adp-ae3xx"

config UBOOT_CONFIG_SYS_VENDOR
	default "AndesTech"

config UBOOT_CONFIG_SYS_SOC
	default "ae3xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "adp-ae3xx"

endif
