# SPDX-License-Identifier: GPL-2.0

config LGM_TOE
	tristate "TCP Offload Engine (TOE) Support"
	select SRAM
	depends on MXL_CBM
	help
		This driver supports TOE functions for the
		Lightning Mountain datapath.
