#
# MaxLinear network device configuration
#

config NET_VENDOR_MXL
	bool "MaxLinear devices"
	default y
	help
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Intel cards. If you say Y, you will be asked for
	  your specific card in the following questions.

if NET_VENDOR_MXL

config MXL_ETH
	tristate "MaxLinear Ethernet driver for GRX500/PRX300/LGM series"
	depends on (MXL_CBM || MXL_DATAPATH)
	select PHYLINK
	select SFP
	help
	Maxlinear Ethernet driver

if MXL_ETH

config MXL_ETH_THERMAL
	bool "ThermaL support for MaxLinear Ethernet driver"
	depends on MXL_ETH && THERMAL
	help
	Thermal support for the MaxLinear Ethernet driver

endif #MXL_ETH

config MXL_PON_HGU_VUNI
	tristate "Mxl PON HGU vUNI driver"
	depends on (INTEL_DATAPATH || MXL_CBM)
	help
	Mxl PON HGU vUNI driver.

endif # NET_VENDOR_MXL
