# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

config UBOOT_CONFIG_SYS_VENDOR
	default "mscc"

if UBOOT_CONFIG_SOC_SERVALT

config UBOOT_CONFIG_SYS_BOARD
	default "servalt"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "servalt"

endif
