if UBOOT_CONFIG_TARGET_AT91SAM9263EK

config UBOOT_CONFIG_SYS_BOARD
	default "at91sam9263ek"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmel"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "at91sam9263ek"

endif
