if UBOOT_CONFIG_TARGET_USBARMORY

config UBOOT_CONFIG_IMX_CONFIG
	default "board/inversepath/usbarmory/imximage.cfg"

config UBOOT_CONFIG_SYS_BOARD
	default "usbarmory"

config UBOOT_CONFIG_SYS_VENDOR
	default "inversepath"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "usbarmory"

endif
