if UBOOT_CONFIG_TARGET_MPC8548CDS

config UBOOT_CONFIG_SYS_BOARD
	default "mpc8548cds"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "MPC8548CDS"

endif
