# SPDX-License-Identifier: GPL-2.0
if UBOOT_CONFIG_TARGET_LS1021ATSN

config UBOOT_CONFIG_SYS_BOARD
	default "ls1021atsn"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_SOC
	default "ls102xa"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ls1021atsn"

source "../../../board/freescale/common/Kconfig"

endif
