config UBOOT_CONFIG_SPL_CLK_IMX6Q
	bool "SPL clock support for i.MX6Q"
	depends on UBOOT_CONFIG_ARCH_MX6 && UBOOT_CONFIG_SPL
	select UBOOT_CONFIG_SPL_CLK
	select UBOOT_CONFIG_SPL_CLK_CCF
	help
	  This enables SPL DM/DTS support for clock driver in i.MX6Q platforms.

config UBOOT_CONFIG_CLK_IMX6Q
	bool "Clock support for i.MX6Q"
	depends on UBOOT_CONFIG_ARCH_MX6
	select UBOOT_CONFIG_CLK
	select UBOOT_CONFIG_CLK_CCF
	help
	  This enables DM/DTS support for clock driver in i.MX6Q platforms.

config UBOOT_CONFIG_CLK_IMX8
	bool "Clock support for i.MX8"
	depends on UBOOT_CONFIG_ARCH_IMX8
	select UBOOT_CONFIG_CLK
	help
	  This enables support clock driver for i.MX8 platforms.

config UBOOT_CONFIG_SPL_CLK_IMX8MM
	bool "SPL clock support for i.MX8MM"
	depends on UBOOT_CONFIG_ARCH_IMX8M && UBOOT_CONFIG_SPL
	select UBOOT_CONFIG_SPL_CLK
	select UBOOT_CONFIG_SPL_CLK_CCF
	help
	  This enables SPL DM/DTS support for clock driver in i.MX8MM

config UBOOT_CONFIG_CLK_IMX8MM
	bool "Clock support for i.MX8MM"
	depends on UBOOT_CONFIG_ARCH_IMX8M
	select UBOOT_CONFIG_CLK
	select UBOOT_CONFIG_CLK_CCF
	help
	  This enables support clock driver for i.MX8MM platforms.

config UBOOT_CONFIG_SPL_CLK_IMX8MN
	bool "SPL clock support for i.MX8MN"
	depends on UBOOT_CONFIG_ARCH_IMX8M && UBOOT_CONFIG_SPL
	select UBOOT_CONFIG_SPL_CLK
	select UBOOT_CONFIG_SPL_CLK_CCF
	help
	  This enables SPL DM/DTS support for clock driver in i.MX8MN

config UBOOT_CONFIG_CLK_IMX8MN
	bool "Clock support for i.MX8MN"
	depends on UBOOT_CONFIG_ARCH_IMX8M
	select UBOOT_CONFIG_CLK
	select UBOOT_CONFIG_CLK_CCF
	help
	  This enables support clock driver for i.MX8MN platforms.

config UBOOT_CONFIG_SPL_CLK_IMX8MP
	bool "SPL clock support for i.MX8MP"
	depends on UBOOT_CONFIG_ARCH_IMX8M && UBOOT_CONFIG_SPL
	select UBOOT_CONFIG_SPL_CLK
	select UBOOT_CONFIG_SPL_CLK_CCF
	help
	  This enables SPL DM/DTS support for clock driver in i.MX8MP

config UBOOT_CONFIG_CLK_IMX8MP
	bool "Clock support for i.MX8MP"
	depends on UBOOT_CONFIG_ARCH_IMX8M
	select UBOOT_CONFIG_CLK
	select UBOOT_CONFIG_CLK_CCF
	help
	  This enables support clock driver for i.MX8MP platforms.

config UBOOT_CONFIG_SPL_CLK_IMXRT1020
	bool "SPL clock support for i.MXRT1020"
	depends on UBOOT_CONFIG_ARCH_IMXRT && UBOOT_CONFIG_SPL
	select UBOOT_CONFIG_SPL_CLK
	select UBOOT_CONFIG_SPL_CLK_CCF
	help
	  This enables SPL DM/DTS support for clock driver in i.MXRT1020

config UBOOT_CONFIG_CLK_IMXRT1020
	bool "Clock support for i.MXRT1020"
	depends on UBOOT_CONFIG_ARCH_IMXRT
	select UBOOT_CONFIG_CLK
	select UBOOT_CONFIG_CLK_CCF
	help
	  This enables support clock driver for i.MXRT1020 platforms.

config UBOOT_CONFIG_SPL_CLK_IMXRT1050
	bool "SPL clock support for i.MXRT1050"
	depends on UBOOT_CONFIG_ARCH_IMXRT && UBOOT_CONFIG_SPL
	select UBOOT_CONFIG_SPL_CLK
	select UBOOT_CONFIG_SPL_CLK_CCF
	help
	  This enables SPL DM/DTS support for clock driver in i.MXRT1050

config UBOOT_CONFIG_CLK_IMXRT1050
	bool "Clock support for i.MXRT1050"
	depends on UBOOT_CONFIG_ARCH_IMXRT
	select UBOOT_CONFIG_CLK
	select UBOOT_CONFIG_CLK_CCF
	help
	  This enables support clock driver for i.MXRT1050 platforms.
