if UBOOT_CONFIG_TARGET_AM335X_EVM

config UBOOT_CONFIG_SYS_BOARD
	default "am335x"

config UBOOT_CONFIG_SYS_VENDOR
	default "ti"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "am335x_evm"

config UBOOT_CONFIG_NOR
	bool "Support for NOR flash"
	help
	  The AM335x SoC supports having a NOR flash connected to the GPMC.
	  In practice this is seen as a NOR flash module connected to the
	  "memory cape" for the BeagleBone family.

source "../../../board/ti/common/Kconfig"

endif
