config UBOOT_CONFIG_RAM_OCTEON
	bool "Ram drivers for Octeon SoCs"
	depends on UBOOT_CONFIG_RAM && UBOOT_CONFIG_ARCH_OCTEON
	help
	 This enables support for RAM drivers for Octeon SoCs.

if UBOOT_CONFIG_RAM_OCTEON

config UBOOT_CONFIG_RAM_OCTEON_DDR4
	bool "Octeon III DDR4 RAM support"
	help
	 This enables support for DDR4 RAM suppoort for Octeon III.  This does
	 not include support for Octeon CN70XX.

endif # RAM_OCTEON
