if UBOOT_CONFIG_TARGET_OPOS6ULDEV

config UBOOT_CONFIG_SYS_BOARD
	default "opos6uldev"

config UBOOT_CONFIG_SYS_VENDOR
	default "armadeus"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "opos6uldev"

endif
