if UBOOT_CONFIG_TARGET_GALILEO

config UBOOT_CONFIG_SYS_BOARD
	default "galileo"

config UBOOT_CONFIG_SYS_VENDOR
	default "intel"

config UBOOT_CONFIG_SYS_SOC
	default "quark"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "galileo"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0xfff10000

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_X86_RESET_VECTOR
	select UBOOT_CONFIG_INTEL_QUARK
	select UBOOT_CONFIG_BOARD_ROMSIZE_KB_1024
	select UBOOT_CONFIG_SPI_FLASH_WINBOND

endif
