if UBOOT_CONFIG_TARGET_MX53PPD

config UBOOT_CONFIG_SYS_BOARD
	default "mx53ppd"

config UBOOT_CONFIG_SYS_VENDOR
	default "ge"

config UBOOT_CONFIG_SYS_SOC
	default "mx5"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "mx53ppd"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/ge/mx53ppd/imximage.cfg"

source "../../../board/ge/common/Kconfig"

endif
