menu "Arbiter"

choice
	prompt "Pipeline depth"

config UBOOT_CONFIG_ACR_PIPE_DEP_UNSET
	bool "Don't set value"

config UBOOT_CONFIG_ACR_PIPE_DEP_1
	bool "1"

config UBOOT_CONFIG_ACR_PIPE_DEP_2
	bool "2"

config UBOOT_CONFIG_ACR_PIPE_DEP_3
	bool "3"

config UBOOT_CONFIG_ACR_PIPE_DEP_4
	bool "4"

endchoice

choice
	prompt "Repeat count"

config UBOOT_CONFIG_ACR_RPTCNT_UNSET
	bool "Don't set value"

config UBOOT_CONFIG_ACR_RPTCNT_1
	bool "1"

config UBOOT_CONFIG_ACR_RPTCNT_2
	bool "2"

config UBOOT_CONFIG_ACR_RPTCNT_3
	bool "3"

config UBOOT_CONFIG_ACR_RPTCNT_4
	bool "4"

config UBOOT_CONFIG_ACR_RPTCNT_5
	bool "5"

config UBOOT_CONFIG_ACR_RPTCNT_6
	bool "6"

config UBOOT_CONFIG_ACR_RPTCNT_7
	bool "7"

config UBOOT_CONFIG_ACR_RPTCNT_8
	bool "8"

endchoice

choice
	prompt "Address parking"

config UBOOT_CONFIG_ACR_APARK_UNSET
	bool "Don't set value"

config UBOOT_CONFIG_ACR_APARK_MASTER
	bool "Park to master"

config UBOOT_CONFIG_ACR_APARK_LAST
	bool "Park to last owner"

config UBOOT_CONFIG_ACR_APARK_DISABLE
	bool "Disabled"

endchoice

choice
	prompt "Parking master"

config UBOOT_CONFIG_ACR_PARKM_UNSET
	bool "Don't set value"

config UBOOT_CONFIG_ACR_PARKM_E300
	bool "e300 core"

config UBOOT_CONFIG_ACR_PARKM_TSEC_1_2
	bool "TSEC1, TSEC2"

config UBOOT_CONFIG_ACR_PARKM_USB_I2C1_BOOT
	bool "USB/I2C1_BOOT"

config UBOOT_CONFIG_ACR_PARKM_DMA_ESDHC_USB
	bool "DMA, ESDHC, USB"

config UBOOT_CONFIG_ACR_PARKM_PEX
	bool "PCI Express"

if UBOOT_CONFIG_MPC83XX_QUICC_ENGINE

config UBOOT_CONFIG_ACR_PARKM_ENC_CORE
	bool "Encryption core"

endif

endchoice

config UBOOT_CONFIG_ACR_PIPE_DEP
	hex
	default 0x0 if UBOOT_CONFIG_ACR_PIPE_DEP_UNSET
	default 0x0 if UBOOT_CONFIG_ACR_PIPE_DEP_1
	default 0x10000 if UBOOT_CONFIG_ACR_PIPE_DEP_2
	default 0x20000 if UBOOT_CONFIG_ACR_PIPE_DEP_3
	default 0x30000 if UBOOT_CONFIG_ACR_PIPE_DEP_4

config UBOOT_CONFIG_ACR_RPTCNT
	hex
	default 0x0 if UBOOT_CONFIG_ACR_RPTCNT_UNSET
	default 0x0 if UBOOT_CONFIG_ACR_RPTCNT_1
	default 0x100 if UBOOT_CONFIG_ACR_RPTCNT_2
	default 0x200 if UBOOT_CONFIG_ACR_RPTCNT_3
	default 0x300 if UBOOT_CONFIG_ACR_RPTCNT_4
	default 0x400 if UBOOT_CONFIG_ACR_RPTCNT_5
	default 0x500 if UBOOT_CONFIG_ACR_RPTCNT_6
	default 0x600 if UBOOT_CONFIG_ACR_RPTCNT_7
	default 0x700 if UBOOT_CONFIG_ACR_RPTCNT_8

config UBOOT_CONFIG_ACR_APARK
	hex
	default 0x0 if UBOOT_CONFIG_ACR_APARK_UNSET
	default 0x0 if UBOOT_CONFIG_ACR_APARK_MASTER
	default 0x10 if UBOOT_CONFIG_ACR_APARK_LAST
	default 0x20 if UBOOT_CONFIG_ACR_APARK_DISABLE

config UBOOT_CONFIG_ACR_PARKM
	hex
	default 0x0 if UBOOT_CONFIG_ACR_PARKM_UNSET
	default 0x0 if UBOOT_CONFIG_ACR_PARKM_E300
	default 0x2 if UBOOT_CONFIG_ACR_PARKM_TSEC_1_2
	default 0x3 if UBOOT_CONFIG_ACR_PARKM_USB_I2C1_BOOT
	default 0x4 if UBOOT_CONFIG_ACR_PARKM_DMA_ESDHC_USB
	default 0x5 if UBOOT_CONFIG_ACR_PARKM_PEX
	default 0x5 if UBOOT_CONFIG_ACR_PARKM_ENC_CORE

endmenu
