if UBOOT_CONFIG_TARGET_BRXRE1

config UBOOT_CONFIG_SYS_BOARD
	default "brxre1"

config UBOOT_CONFIG_SYS_VENDOR
	default "BuR"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "brxre1"

endif
