if UBOOT_CONFIG_TARGET_CHROMEBOOK_JERRY

config UBOOT_CONFIG_SYS_BOARD
	default "veyron"

config UBOOT_CONFIG_SYS_VENDOR
	default "google"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "veyron"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif

if UBOOT_CONFIG_TARGET_CHROMEBIT_MICKEY

config UBOOT_CONFIG_SYS_BOARD
	default "veyron"

config UBOOT_CONFIG_SYS_VENDOR
	default "google"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "veyron"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif

if UBOOT_CONFIG_TARGET_CHROMEBOOK_MINNIE

config UBOOT_CONFIG_SYS_BOARD
	default "veyron"

config UBOOT_CONFIG_SYS_VENDOR
	default "google"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "veyron"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif

if UBOOT_CONFIG_TARGET_CHROMEBOOK_SPEEDY

config UBOOT_CONFIG_SYS_BOARD
	default "veyron"

config UBOOT_CONFIG_SYS_VENDOR
	default "google"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "veyron"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
