if UBOOT_CONFIG_TARGET_GE_B1X5V2

config UBOOT_CONFIG_SYS_BOARD
	default "b1x5v2"

config UBOOT_CONFIG_SYS_VENDOR
	default "ge"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ge_b1x5v2"

source "../../../board/ge/common/Kconfig"

endif
