if UBOOT_CONFIG_TARGET_COLIBRI_VF

config UBOOT_CONFIG_SYS_BOARD
	default "colibri_vf"

config UBOOT_CONFIG_SYS_VENDOR
	default "toradex"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "colibri_vf"

config UBOOT_CONFIG_TDX_CFG_BLOCK
	default y

config UBOOT_CONFIG_TDX_HAVE_NAND
	default y

config UBOOT_CONFIG_TDX_CFG_BLOCK_OFFSET
	default "2048"

config UBOOT_CONFIG_TDX_CFG_BLOCK_2ND_ETHADDR
	default y

config UBOOT_CONFIG_IMX_CONFIG
	default "board/toradex/colibri_vf/imximage.cfg"

source "../../../board/toradex/common/Kconfig"

endif
