menu "i.MX8ULP DDR controllers"
	depends on UBOOT_CONFIG_ARCH_IMX8ULP

config UBOOT_CONFIG_IMX8ULP_DRAM
	bool "imx8m dram"

config UBOOT_CONFIG_IMX8ULP_DRAM_PHY_PLL_BYPASS
	bool "Enable the DDR PHY PLL bypass mode, so PHY clock is from DDR_CLK "
	depends on UBOOT_CONFIG_IMX8ULP_DRAM

endmenu
