menu "ELBC register setup"

choice
	prompt "OR/BR for NAND SPL"

config UBOOT_CONFIG_ELBC_BR_OR_NAND_PRELIM_NONE
	bool "None"

config UBOOT_CONFIG_ELBC_BR_OR_NAND_PRELIM_0
	bool "0"

config UBOOT_CONFIG_ELBC_BR_OR_NAND_PRELIM_1
	bool "1"

config UBOOT_CONFIG_ELBC_BR_OR_NAND_PRELIM_2
	bool "2"

config UBOOT_CONFIG_ELBC_BR_OR_NAND_PRELIM_3
	bool "3"

config UBOOT_CONFIG_ELBC_BR_OR_NAND_PRELIM_4
	bool "4"

endchoice

source "Kconfig.elbc0"
source "Kconfig.elbc1"
source "Kconfig.elbc2"
source "Kconfig.elbc3"
source "Kconfig.elbc4"

endmenu
