menu "KM ARM Options"
	depends on UBOOT_CONFIG_ARM

config UBOOT_CONFIG_KM_FPGA_CONFIG
	bool "FPGA Configuration"
	help
	  Include capability to change FPGA configuration.

config UBOOT_CONFIG_KM_FPGA_FORCE_CONFIG
	bool "FPGA reconfiguration"
	help
	  If yes we force to reconfigure the FPGA always

config UBOOT_CONFIG_KM_FPGA_NO_RESET
	bool "FPGA skip reset"
	help
	  If yes we skip triggering a reset of the FPGA

config UBOOT_CONFIG_KM_ENV_IS_IN_SPI_NOR
	bool "Environment in SPI NOR"
	help
	  Put the U-Boot environment in the SPI NOR flash.

config UBOOT_CONFIG_KM_PIGGY4_88E6061
	bool "Piggy via Switch 88E6061"
	help
	  The Piggy4 board is connected via a Marvell 88E6061 switch.

config UBOOT_CONFIG_KM_PIGGY4_88E6352
	bool "Piggy via Switch 88E6352"
	help
	  The Piggy4 board is connected via a Marvell 88E6352 switch.

endmenu

if UBOOT_CONFIG_TARGET_KM_KIRKWOOD

config UBOOT_CONFIG_SYS_BOARD
	default "km_arm"

config UBOOT_CONFIG_SYS_VENDOR
	default "keymile"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "km_kirkwood"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_ETH
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_DM_SPI
	select UBOOT_CONFIG_DM_SPI_FLASH
	select UBOOT_CONFIG_USB
	select UBOOT_CONFIG_USB_EHCI_HCD
	select UBOOT_CONFIG_USB_EHCI_MARVELL
	imply CMD_CRAMFS
	imply CMD_DIAG
	imply FS_CRAMFS
	imply CMD_USB

endif
