menu "PowerPC architecture"
	depends on UBOOT_CONFIG_PPC

config UBOOT_CONFIG_SYS_ARCH
	default "powerpc"

choice
	prompt "CPU select"
	optional

config UBOOT_CONFIG_MPC83xx
	bool "MPC83xx"
	select UBOOT_CONFIG_CREATE_ARCH_SYMLINK
	select UBOOT_CONFIG_SYS_FSL_HAS_SEC
	select UBOOT_CONFIG_SYS_FSL_SEC_BE
	select UBOOT_CONFIG_SYS_FSL_SEC_COMPAT_2

config UBOOT_CONFIG_MPC85xx
	bool "MPC85xx"
	select UBOOT_CONFIG_CREATE_ARCH_SYMLINK
	select UBOOT_CONFIG_SYS_FSL_DDR
	select UBOOT_CONFIG_SYS_FSL_DDR_BE
	select UBOOT_CONFIG_BINMAN if OF_SEPARATE
	imply CMD_HASH
	imply CMD_IRQ
	imply USB_EHCI_HCD if USB

config UBOOT_CONFIG_MPC8xx
	bool "MPC8xx"
	select UBOOT_CONFIG_BOARD_EARLY_INIT_F
	imply CMD_REGINFO
	imply WDT_MPC8xx

endchoice

config UBOOT_CONFIG_HIGH_BATS
	bool "Enable high BAT registers"
	help
	  Enable BATs (block address translation registers) 4-7 on machines
	  that support them.

source "cpu/mpc83xx/Kconfig"
source "cpu/mpc85xx/Kconfig"
source "cpu/mpc8xx/Kconfig"
source "lib/Kconfig"

endmenu
