if UBOOT_CONFIG_TARGET_AT91SAM9RLEK

config UBOOT_CONFIG_SYS_BOARD
	default "at91sam9rlek"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmel"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "at91sam9rlek"

endif
