if UBOOT_CONFIG_ARCH_MX7

config UBOOT_CONFIG_MX7
	bool
	default y
	select UBOOT_CONFIG_ARCH_SUPPORT_PSCI
	select UBOOT_CONFIG_CPU_V7_HAS_NONSEC
	select UBOOT_CONFIG_CPU_V7_HAS_VIRT
	select UBOOT_CONFIG_ROM_UNIFIED_SECTIONS
	select UBOOT_CONFIG_SYSCOUNTER_TIMER
	imply CMD_FUSE

config UBOOT_CONFIG_MX7D
	bool
	select UBOOT_CONFIG_HAS_CAAM
	select UBOOT_CONFIG_ROM_UNIFIED_SECTIONS
	imply CMD_FUSE

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x87800000

config UBOOT_CONFIG_SPL_TEXT_BASE
	depends on UBOOT_CONFIG_SPL
	default 0x00912000

config UBOOT_CONFIG_OPTEE_TZDRAM_SIZE
	hex "Amount of Trust-Zone RAM for the OPTEE image"
	default 0x0000000
	depends on UBOOT_CONFIG_OPTEE_LIB
	help
	  The size of pre-allocated Trust Zone DRAM to allocate for the OPTEE
	  runtime.

choice
	prompt "MX7 board select"
	optional

config UBOOT_CONFIG_TARGET_CL_SOM_IMX7
	bool "CL-SOM-iMX7"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_THERMAL
	select UBOOT_CONFIG_MX7D
	select UBOOT_CONFIG_SUPPORT_SPL
	imply CMD_DM

config UBOOT_CONFIG_TARGET_IMX7_CM
	bool "Ronetix iMX7-CM"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_THERMAL
	select UBOOT_CONFIG_MX7D
	select UBOOT_CONFIG_SUPPORT_SPL
	imply CMD_DM

config UBOOT_CONFIG_TARGET_MEERKAT96
	bool "NovTech Meerkat96 board"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_DM_THERMAL
	select UBOOT_CONFIG_MX7D
	imply CMD_DM

config UBOOT_CONFIG_TARGET_MX7DSABRESD
	bool "mx7dsabresd"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_THERMAL
	select UBOOT_CONFIG_MX7D
	imply CMD_DM

config UBOOT_CONFIG_TARGET_PICO_IMX7D
	bool "pico-imx7d"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_THERMAL
	select UBOOT_CONFIG_MX7D
	select UBOOT_CONFIG_SUPPORT_SPL
	imply CMD_DM

config UBOOT_CONFIG_TARGET_SMEGW01
	bool "smegw01"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_THERMAL
	select UBOOT_CONFIG_MX7D
	imply CMD_DM

config UBOOT_CONFIG_TARGET_WARP7
	bool "warp7"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_THERMAL
	select UBOOT_CONFIG_MX7D
	imply CMD_DM

config UBOOT_CONFIG_TARGET_COLIBRI_IMX7
	bool "Support Colibri iMX7S/iMX7D modules"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_DM_THERMAL
	select UBOOT_CONFIG_MX7D
	imply CMD_DM

endchoice

config UBOOT_CONFIG_SYS_SOC
	default "mx7"

source "../../../../board/compulab/cl-som-imx7/Kconfig"
source "../../../../board/ronetix/imx7-cm/Kconfig"
source "../../../../board/freescale/mx7dsabresd/Kconfig"
source "../../../../board/novtech/meerkat96/Kconfig"
source "../../../../board/storopack/smegw01/Kconfig"
source "../../../../board/technexion/pico-imx7d/Kconfig"
source "../../../../board/toradex/colibri_imx7/Kconfig"
source "../../../../board/warp7/Kconfig"

endif
