if UBOOT_CONFIG_TARGET_T1023RDB || UBOOT_CONFIG_TARGET_T1024RDB

config UBOOT_CONFIG_SYS_BOARD
	default "t102xrdb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "T102xRDB"

source "../../../board/freescale/common/Kconfig"

endif
