if UBOOT_CONFIG_TARGET_EBISU

config UBOOT_CONFIG_SYS_SOC
	default "rmobile"

config UBOOT_CONFIG_SYS_BOARD
	default "ebisu"

config UBOOT_CONFIG_SYS_VENDOR
	default "renesas"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ebisu"

endif
