if UBOOT_CONFIG_TARGET_SOFTING_VINING_2000

config UBOOT_CONFIG_SYS_BOARD
	default "vining_2000"

config UBOOT_CONFIG_SYS_VENDOR
	default "softing"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "vining_2000"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/softing/vining_2000/imximage.cfg"

endif
