menu "Demo for driver model"

config UBOOT_CONFIG_DM_DEMO
	bool "Enable demo uclass support"
	depends on UBOOT_CONFIG_DM
	help
	  This uclass allows you to play around with driver model. It provides
	  an interface to a couple of demo devices. You can access it using
	  the 'demo' command or by calling the uclass functions from your
	  own code.

config UBOOT_CONFIG_DM_DEMO_SIMPLE
	bool "Enable simple demo device for driver model"
	depends on UBOOT_CONFIG_DM_DEMO
	help
	  This device allows you to play around with driver model. It prints
	  a message when the 'demo hello' command is executed which targets
	  this device. It can be used to help understand how driver model
	  works.

config UBOOT_CONFIG_DM_DEMO_SHAPE
	bool "Enable shape demo device for driver model"
	depends on UBOOT_CONFIG_DM_DEMO
	help
	  This device allows you to play around with driver model. It prints
	  a shape when the 'demo hello' command is executed which targets
	  this device. It can be used to help understand how driver model
	  works.

endmenu
