if UBOOT_CONFIG_TARGET_XENGUEST_ARM64

config UBOOT_CONFIG_SYS_BOARD
	default "xenguest_arm64"

config UBOOT_CONFIG_SYS_VENDOR
	default "xen"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "xenguest_arm64"

endif
