config UBOOT_CONFIG_MTDPARTS_NOR0
	string "mtd boot partition for nor0"
	default "64m(u-boot)" if UBOOT_CONFIG_TARGET_QEMU_ARM_64BIT && !UBOOT_CONFIG_TFABOOT
	depends on UBOOT_CONFIG_SYS_MTDPARTS_RUNTIME
	help
	  This define the partition of nor0 used to build mtparts dynamically
	  for boot from nor0.

config UBOOT_CONFIG_MTDPARTS_NOR1
	string "mtd u-boot env partition for nor1"
	default "64m(u-boot-env)" if UBOOT_CONFIG_TARGET_QEMU_ARM_64BIT && !UBOOT_CONFIG_TFABOOT
	depends on UBOOT_CONFIG_SYS_MTDPARTS_RUNTIME
	help
	  This define the partition of nor1 used to build mtparts dynamically
	  for the u-boot env stored on nor1.
