
if UBOOT_CONFIG_TARGET_PIC32MZDASK

config UBOOT_CONFIG_SYS_BOARD
	default "pic32mzda"

config UBOOT_CONFIG_SYS_VENDOR
	default "microchip"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pic32mzdask"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x9d004000

endif
