if UBOOT_CONFIG_ARCH_ZYNQ

config UBOOT_CONFIG_SPL_LDSCRIPT
	default "arch/arm/mach-zynq/u-boot-spl.lds"

config UBOOT_CONFIG_SPL_FS_FAT
	default y

config UBOOT_CONFIG_SPL_LIBCOMMON_SUPPORT
	default y

config UBOOT_CONFIG_SPL_LIBDISK_SUPPORT
	default y

config UBOOT_CONFIG_SPL_LIBGENERIC_SUPPORT
	default y

config UBOOT_CONFIG_SPL_MMC
	default y if UBOOT_CONFIG_MMC_SDHCI_ZYNQ

config UBOOT_CONFIG_SPL_SERIAL
	default y

config UBOOT_CONFIG_SPL_SPI_FLASH_SUPPORT
	default y if UBOOT_CONFIG_ZYNQ_QSPI

config UBOOT_CONFIG_SPL_SPI
	default y if UBOOT_CONFIG_ZYNQ_QSPI

config UBOOT_CONFIG_ZYNQ_DDRC_INIT
	bool "Zynq DDRC initialization"
	default y
	help
	  This option used to perform DDR specific initialization
	  if required. There might be cases like ddr less where we
	  want to skip ddr init and this option is useful for it.

config UBOOT_CONFIG_SYS_BOARD
	string "Board name"
	default "zynq"

config UBOOT_CONFIG_SYS_VENDOR
	string "Vendor name"
	default "xilinx"

config UBOOT_CONFIG_SYS_SOC
	default "zynq"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	string "Board configuration name"
	default "zynq-common"
	help
	  This option contains information about board configuration name.
	  Based on this option include/configs/<CONFIG_SYS_CONFIG_NAME>.h header
	  will be used for board configuration.

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x800

config UBOOT_CONFIG_SYS_MALLOC_LEN
	default 0x1400000

config UBOOT_CONFIG_BOOT_INIT_FILE
	string "boot.bin init register filename"
	default ""
	help
	  Add register writes to boot.bin format (max 256 pairs).
	  Expect a table of register-value pairs, e.g. "0x12345678 0x4321"

config UBOOT_CONFIG_ZYNQ_SDHCI_MAX_FREQ
	default 52000000

source "../../../board/xilinx/Kconfig"
source "../../../board/xilinx/zynq/Kconfig"

endif
