if UBOOT_CONFIG_ARCH_APPLE

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x00000000

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "apple"

config UBOOT_CONFIG_SYS_SOC
	default "m1"

config UBOOT_CONFIG_SYS_MALLOC_LEN
	default 0x4000000

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x4000

endif
