#
# Maxlinear SoC drivers
#

config SOC_MXL
	bool "MXL SoC platform"
	select SOC_BUS
	default n
	help
	  Say yes here to add support for the Maxlinear SoC drivers.

config SOC_LGM
	bool "LGM SoC Support"
	depends on SOC_MXL
	default n
	help
	  Say yes here to add support for the Maxlinear LGM SoC.
	  This driver will print LGM SoC version and chip
	  speed catagory. It also provides LGM SoC fuse infomation
	  to other drivers.

config MXL_FW_DOWNLOAD
	bool "Maxlinear SoC security Firmware download"
	depends on SOC_MXL
	default n
	help
	  This module provides Firemware downaload API that
	  would add firewall rules to protect the DDR that
	  used by fireware from corrupted by various error
	  operations, e.g. buffer overflow.
	  It only works for firmware that stay in DDR.

config MXL_NOC_FIREWALL
	bool "Maxlinear NOC firewall driver"
	default n
	help
	  This driver provides interface to request permission for
	  individul hardware modules and CPU. Requests would be sent
	  to security OS via regmap_icc driver API.
	  It provides firewall domain to user driver to hold static
	  firewall rules and notification chain to support dynamic
	  firewall rule request.

config MXL_NOC_FW_DEFAULT
	bool "Maxlinear NOC firewall default domain driver"
	depends on MXL_NOC_FIREWALL
	default n
	help
	  This driver register default firewall domain of MXL
	  NOC firewall. It is used to hold rules for those
	  register banks that shared by drivers but don't belong
	  to a certain driver. e.g. HSIO_L/HSIOL_R
	  It is also used to hold dynamic rules but not requested
	  via driver.

config MXL_SEC_GEN_POOL
	bool "Maxlinear security genpool driver"
	select GENERIC_ALLOCATOR
	depends on SOC_MXL
	default n
	help
	  This driver wraps genpool API with Maxlinear NOC firewall
	  rules. Firewall rule would be issued immediately after the
	  buffer allocated.

config MXL_LGM_SYSCTL
	bool "Maxlinear system control driver for LGM"
	default y
	help
	  This driver provides /proc/sys control for directly controlling
	  few system control parameters for LGM SoC. These params are
	  exported at /proc/sys/lgm_sysctl/* file system location.

config MXL_SKB_EXT
	bool "Maxlinear skb extension"
	depends on SOC_LGM
	depends on ARCH_SKB_EXT
	default y
	help
	  This flag provides skb extensions for MXL over ARCH_SKB_EXT.

config MXL_SKB_EXT_EXTMARK
	bool "Maxlinear skb extmark extension"
	depends on MXL_SKB_EXT
	help
	  This flag provides skb extmark extension over MXL_SKB_EXT.
