Makefile.in

ABOUT-NLS
.built*
.configured*
.prepared*
.version*
.dep_files
.copyarea.db
src/pon_net_config.h
compile
libtool
depcomp
install-sh
ltmain.sh
missing
Makefile
aclocal.m4
autom4te.cache/
build-aux/
m4/

config.log
config.rpath
config.status
config.guess
config.sub
configure

stamp-h1
*.h.in
libponnet_la-*
*.la

ipkg*/

.deps/
.libs/

# ignore build dirs except some specific ones
build*/
!build_win32
!build_linux/[Mm]akefile.*
!build_linux/README.md


*.pyc
*.a
*.o
*.Po
*.orig
*tar.gz

# VC8 project files
*.user
*.suo
*.ncb
*.sdf
Debug*/
Release*/

# VIM
*.swp

cscope.*

# backup files
*.bak
*~

doc/html/
doc/xml/
scripts/tmp.h
scripts/swig.xml

# generated binaries
scripts/swig.xml
scripts/tmp.h


AUTHORS
COPYING
NEWS

.pkgdir/
Module.symvers.tmp
