Makefile.in

ABOUT-NLS
.built*
.configured*
.prepared*
.version*
.dep_files
.copyarea.db
compile
depcomp
install-sh
missing
Makefile
aclocal.m4
ar-lib
autom4te.cache/
m4/

config.log
config.rpath
config.status
configure

stamp-h1
*.h.in
!libtop/top_config.h.in

ipkg*/

.deps/

*.pyc
*.a
*.o
*.orig
*tar.gz
tags

config.h
gpon_libs_config.h

# Linux module
*.ko.cmd
*.ko
*.o.cmd
*.mod.c
*.mod
Kbuild
Module.symvers
modules.order

# Code::Blocks project files
*.depend
*.layout

# VC8 project files
*.user
*.suo
*.ncb
*.sdf
Debug/
Release/

# VIM
*.swp

# firmware files from linux/openwrt builds
firmware/*

# ignore build dirs
build*/

cscope.*

# backup files
*.bak
*~

# LaTeX documentation
doc/latex/d?/
doc/latex/*.{pdf,aux,dot,eps}
doc/latex/{annotated,variables,todo,modules,files,dirs}.tex
doc/latex/refman.{tex,toc,idx,ilg,ind,log,out}
doc/latex/dir_*.tex
doc/latex/doxygen.sty
doc/latex/*.ttf

doc/html
doc/xml$
.metadata
.cproject
doc/gpon_onu_drv\.doxyfile

.settings/org\.eclipse\.cdt\.codan\.core\.prefs
.cproject

.pkgdir/
Module.symvers.tmp
