# dirs
wlan_wave_feed/WFA_Sigma_Test_Suite/files/check_results/

# files
wlan_wave_feed/WFA_Sigma_Test_Suite/files/capi_ucc_all
wlan_wave_feed/WFA_Sigma_Test_Suite/files/sigma_do_nothing_tmp
wlan_wave_feed/WFA_Sigma_Test_Suite/files/sigma_not_supported_tmp
