if UBOOT_CONFIG_TARGET_BCM963158

config UBOOT_CONFIG_SYS_VENDOR
	default "broadcom"

config UBOOT_CONFIG_SYS_BOARD
	default "bcm963158"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "broadcom_bcm963158"

endif

config UBOOT_CONFIG_TARGET_BCM963158
	bool "Support Broadcom bcm963158"
	depends on UBOOT_CONFIG_ARCH_BCM63158
	select UBOOT_CONFIG_ARM64
