if UBOOT_CONFIG_ARCH_BCM6858

config UBOOT_CONFIG_SYS_VENDOR
	default "broadcom"

config UBOOT_CONFIG_SYS_BOARD
	default "bcm968580xref"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "broadcom_bcm968580xref"

endif

config UBOOT_CONFIG_TARGET_BCM968580XREF
	bool "Support Broadcom bcm968580xref"
	depends on UBOOT_CONFIG_ARCH_BCM6858
	select UBOOT_CONFIG_ARM64
