if UBOOT_CONFIG_ARCH_NEXELL

config UBOOT_CONFIG_PINCTRL_NEXELL
	bool "Nexell pinctrl driver"
	help
	  Support of pin multiplexing and pin configuration for Nexell
	  SoCs.

config UBOOT_CONFIG_PINCTRL_NEXELL_S5PXX18
	bool "Nexell s5pxx18 SoC pinctrl driver"
	default y if UBOOT_CONFIG_ARCH_S5P4418 || UBOOT_CONFIG_ARCH_S5P6818
	depends on UBOOT_CONFIG_ARCH_NEXELL && UBOOT_CONFIG_PINCTRL_FULL
	select UBOOT_CONFIG_PINCTRL_NEXELL
	help
	  Support of pin multiplexing and pin configuration for S5P4418
	  and S5P6818 SoC.

endif
