#
# Datapath Lib
#
menuconfig DPM_DATAPATH
	bool "Datapath Manager/Core/LIB"
	default y
	depends on LTQ_CBM || MXL_CBM
	help
	  Datapath Lib is to provide common rx/tx wrapper Lib without taking
	  care of much HW knowledge and also provide common interface for legacy
	  devices and different HW like to CBM or LRO.
	  Take note: All devices need to register to datapath Lib first

if DPM_DATAPATH

config DPM_DATAPATH_PARTIAL_FEEDS
	bool "Datapath in partial feeds"
	default y
	depends on PRX300_CQM || LGM_CQM
	help
	  Support dpm out of kernel tree but not fully sine some driver still 
	  calling dpm api which is built in kernel

config DPM_DATAPATH_DBG
	bool "Datapath Debug Tool"
	default y
	depends on DPM_DATAPATH
	help
	  Datapath Debug Tool is used to provide simple debug tool
	  All other debug tools is based on it
	  Once it is disabled, all other datapath debug tool disabled.
	  By default had better enable it

config DPM_DATAPATH_DBG_PROTOCOL_PARSE
	bool "Datapath Debug Tool for hw checksum's protocol parsing"
	depends on DPM_DATAPATH_DBG
	help
	  Datapath Debug Tool for hw checksum's protocol parsing
	  Only for debugging purpose
	  By default it should be disabled.

config DPM_DATAPATH_EXTRA_DEBUG
	bool "extra debugging support"
	depends on  DPM_DATAPATH_DBG
	help
	  This is to enable/disable extra strict debugging support.
	  This is useful during initial system bring up
	  It will affect performance
	  For production builds it should be disabled.

config DPM_DATAPATH_DEBUGFS
	bool "Datapath debugfs support"
	depends on DPM_DATAPATH && DEBUG_FS
	help
	  This option enables the datapath debug info via debugfs.
	  For production builds it should be disabled.


config DPM_DATAPATH_SWITCHDEV
	bool "Switchdev Support"
	depends on  DPM_DATAPATH && NET_SWITCHDEV && !GRX500_CBM
	help
	  Switchdev support for different switch in datapath

#
# Datapath Lib
#

config DPM_DATAPATH_HAL_GSWIP31
	bool "Datapath HAL"
	default y
	depends on DPM_DATAPATH && PRX300_CQM

config DPM_DATAPATH_HAL_GSWIP32
	bool "Datapath HAL"
	default y
	depends on DPM_DATAPATH && LGM_CQM

config DPM_DATAPATH_QOS_HAL
	bool "Datapath HAL-QOS"
	default y
	depends on PPV4 && (DPM_DATAPATH_HAL_GSWIP31 || DPM_DATAPATH_HAL_GSWIP32)

endif
