config UBOOT_CONFIG_MODULES
	def_bool y
	option modules

choice
	prompt "Choice"

config UBOOT_CONFIG_CHOICE_VAL0
	tristate "Choice 0"

config UBOOT_CONFIG_CHOIVE_VAL1
	tristate "Choice 1"

endchoice

choice
	prompt "Another choice"
	depends on UBOOT_CONFIG_CHOICE_VAL0

config UBOOT_CONFIG_DUMMY
	bool "dummy"

endchoice
