if UBOOT_CONFIG_TARGET_MX6CUBOXI

config UBOOT_CONFIG_SYS_BOARD
	default "mx6cuboxi"

config UBOOT_CONFIG_SYS_VENDOR
	default "solidrun"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "mx6cuboxi"

endif
