if UBOOT_CONFIG_TARGET_MPC837XERDB

config UBOOT_CONFIG_SYS_BOARD
	default "mpc837xerdb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "MPC837XERDB"

endif
