# SPDX-License-Identifier: GPL-2.0

config DP_OAM
	tristate "Datapath OAM driver"
	depends on DPM_DATAPATH && !GRX500_CBM

	help
	  This driver provides user space API for configuring OAM specific
	  hardware configuration. The Intel datapath driver is used to do the
	  actual hardware configuration.
