if UBOOT_CONFIG_TARGET_SOMLABS_VISIONSOM_6ULL

config UBOOT_CONFIG_SYS_BOARD
	default "visionsom-6ull"

config UBOOT_CONFIG_SYS_VENDOR
	default "somlabs"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "somlabs_visionsom_6ull"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/somlabs/visionsom-6ull/imximage.cfg"

endif
