if UBOOT_CONFIG_TARGET_TBS2910

config UBOOT_CONFIG_SYS_BOARD
	default "tbs2910"

config UBOOT_CONFIG_SYS_VENDOR
	default "tbs"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "tbs2910"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/tbs/tbs2910/tbs2910.cfg"

endif
