if UBOOT_CONFIG_TARGET_IMX7_CM

config UBOOT_CONFIG_SYS_BOARD
	default "imx7-cm"

config UBOOT_CONFIG_SYS_VENDOR
	default "ronetix"

config UBOOT_CONFIG_SYS_SOC
	default "mx7"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "imx7-cm"

endif
