if UBOOT_CONFIG_ARCH_NEXELL

config UBOOT_CONFIG_ARCH_S5P4418
	bool "Nexell S5P4418 SoC"
	select UBOOT_CONFIG_CPU_V7A
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_OF_SEPARATE
	select UBOOT_CONFIG_NX_GPIO
	select UBOOT_CONFIG_PL011_SERIAL
	select UBOOT_CONFIG_PL011_SERIAL_FLUSH_ON_INIT
	help
	  Enable support for Nexell S5P4418 SoC.

config UBOOT_CONFIG_ARCH_S5P6818
	bool "Nexell S5P6818 SoC"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_ARMV8_MULTIENTRY
	help
	  Enable support for Nexell S5P6818 SoC.

menu "Nexell S5P4418/S5P6818"
	depends on UBOOT_CONFIG_ARCH_NEXELL

choice
	prompt "Nexell S5P4418/S5P6818 board select"
	optional

config UBOOT_CONFIG_TARGET_NANOPI2
	bool "FriendlyARM NanoPi2 / NanoPC-T2 Board"
	select UBOOT_CONFIG_ARCH_S5P4418
	help
	  Enable support for FriendlyARM NanoPi2 and NanoPC-T2 Boards.

endchoice

config UBOOT_CONFIG_SYS_BOARD
	default "nanopi2"

config UBOOT_CONFIG_SYS_VENDOR
	default "friendlyarm"

config UBOOT_CONFIG_SYS_SOC
	default "nexell"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "s5p4418_nanopi2"

endmenu

config UBOOT_CONFIG_SYS_PLLFIN
	int

config UBOOT_CONFIG_TIMER_SYS_TICK_CH
	int

source "../../../board/friendlyarm/Kconfig"

endif
