if UBOOT_CONFIG_TARGET_GOFLEXHOME

config UBOOT_CONFIG_SYS_BOARD
	default "goflexhome"

config UBOOT_CONFIG_SYS_VENDOR
	default "Seagate"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "goflexhome"

endif
