menu "DMA Support"

config UBOOT_CONFIG_DMA
	bool "Enable Driver Model for DMA drivers"
	depends on UBOOT_CONFIG_DM
	help
	  Enable driver model for DMA. DMA engines can do
	  asynchronous data transfers without involving the host
	  CPU. Currently, this framework can be used to offload
	  memory copies to and from devices like qspi, ethernet
	  etc Drivers provide methods to access the DMA devices
	  buses that is used to transfer data to and from memory.
	  The uclass interface is defined in include/dma.h.

config UBOOT_CONFIG_DMA_CHANNELS
	bool "Enable DMA channels support"
	depends on UBOOT_CONFIG_DMA
	help
	  Enable channels support for DMA. Some DMA controllers have multiple
	  channels which can either transfer data to/from different devices.

config UBOOT_CONFIG_SANDBOX_DMA
	bool "Enable the sandbox DMA test driver"
	depends on UBOOT_CONFIG_DMA && UBOOT_CONFIG_DMA_CHANNELS && UBOOT_CONFIG_SANDBOX
	help
	  Enable support for a test DMA uclass implementation. It stimulates
	  DMA transfer by simple copying data between channels.

config UBOOT_CONFIG_BCM6348_IUDMA
	bool "BCM6348 IUDMA driver"
	depends on UBOOT_CONFIG_ARCH_BMIPS
	select UBOOT_CONFIG_DMA_CHANNELS
	help
	  Enable the BCM6348 IUDMA driver.
	  This driver support data transfer from devices to
	  memory and from memory to devices.

config UBOOT_CONFIG_DMA_LPC32XX
	bool "LPC32XX DMA driver"
	select UBOOT_CONFIG_DMA_LEGACY
	help
	  Enable some legacy DMA code for lpc32xx. It provides some direct
	  functions likes lpc32xx_dma_wait_status() which can be called from
	  other code.

	  This should be converted to use driver model and UCLASS_DMA.

config UBOOT_CONFIG_TI_EDMA3
	bool "TI EDMA3 driver"
	select UBOOT_CONFIG_DMA_LEGACY
	help
	  Enable the TI EDMA3 driver for DRA7xx and AM43xx evms.
	  This driver support data transfer between memory
	  regions.

config UBOOT_CONFIG_TI_KSNAV
	bool "TI Keystone Navigator DMA driver"
	depends on UBOOT_CONFIG_ARCH_KEYSTONE
	default y
	select UBOOT_CONFIG_DMA_LEGACY
	help
	  Enable the Keystone Navigator driver for Keystone 2 platforms.

config UBOOT_CONFIG_APBH_DMA
	bool "Support APBH DMA"
	depends on UBOOT_CONFIG_MX23 || UBOOT_CONFIG_MX28 || UBOOT_CONFIG_MX6 || UBOOT_CONFIG_MX7 || UBOOT_CONFIG_IMX8 || UBOOT_CONFIG_IMX8M
	select UBOOT_CONFIG_DMA_LEGACY
	help
	  Enable APBH DMA driver.


if UBOOT_CONFIG_APBH_DMA
config UBOOT_CONFIG_APBH_DMA_BURST
	bool "Enable DMA BURST"

config UBOOT_CONFIG_APBH_DMA_BURST8
	bool "Enable DMA BURST8"

endif

config UBOOT_CONFIG_DMA_LEGACY
	bool "Legacy DMA support"
	default y if UBOOT_CONFIG_FSLDMAFEC
	help
	  Enable legacy DMA support. This does not use driver model and should
	  be migrated to the new API.

	  It is required for some PowerPC boards.

source "ti/Kconfig"

endmenu # menu "DMA Support"
