if UBOOT_CONFIG_TARGET_HIKEY960

config UBOOT_CONFIG_SYS_BOARD
	default "hikey960"

config UBOOT_CONFIG_SYS_VENDOR
	default "hisilicon"

config UBOOT_CONFIG_SYS_SOC
	default "hi3660"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "hikey960"

endif
