if UBOOT_CONFIG_TARGET_XILFPGA

config UBOOT_CONFIG_SYS_BOARD
	default "xilfpga"

config UBOOT_CONFIG_SYS_VENDOR
	default "imgtec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "imgtec_xilfpga"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x80C00000

endif
