menu "MicroBlaze architecture"
	depends on UBOOT_CONFIG_MICROBLAZE

config UBOOT_CONFIG_SYS_ARCH
	default "microblaze"

choice
	prompt "Target select"
	optional

config UBOOT_CONFIG_TARGET_MICROBLAZE_GENERIC
	bool "Support microblaze-generic"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_SYSRESET
	select UBOOT_CONFIG_DM_SPI
	select UBOOT_CONFIG_DM_SPI_FLASH
	select UBOOT_CONFIG_SPI
	imply CMD_DM

endchoice

source "../../board/xilinx/Kconfig"
source "../../board/xilinx/microblaze-generic/Kconfig"

endmenu
