if UBOOT_CONFIG_TARGET_SAMA5D4_XPLAINED

config UBOOT_CONFIG_SYS_BOARD
	default "sama5d4_xplained"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmel"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "sama5d4_xplained"

endif
