#
# DirectConnect Datapath Driver
#
config DIRECTCONNECT_DP_API
	tristate "DirectConnect Datapath API framework"
	depends on DPM_DATAPATH
	help
	  DirectConnect Datapath API framework support

config MXL_UMT_INTERVAL_DEFAULT
	int "MXL UMT Interval default"
	default 20
	depends on SOC_LGM
	help
	  UMT Interval is set to 20 by default.
	  Change here to support emulator platforms

config WLAN_MAX_VAPS
	int "Maximum number of WLAN VAPs"
	default 32
	depends on SOC_LGM
	help
	  This option allows to configure maximum number of WLAN VAPs.
	  Maximum number of WLAN VAPs is set to 32 by default.
