if UBOOT_CONFIG_TARGET_P3450_0000

config UBOOT_CONFIG_SYS_BOARD
	default "p3450-0000"

config UBOOT_CONFIG_SYS_VENDOR
	default "nvidia"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "p3450-0000"

endif
