# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2020 Heiko Schocher <hs@denx.de>

config UBOOT_CONFIG_QE_UEC
	bool "NXP QE UEC Ethernet controller"
	depends on UBOOT_CONFIG_DM_ETH
	help
	  This driver supports the NXP QE UEC ethernet controller
