if UBOOT_CONFIG_TARGET_PRESIDIO_ASIC
config UBOOT_CONFIG_BIT64
       bool
       default y

select UBOOT_CONFIG_SOC_CA7774

config UBOOT_CONFIG_SYS_BOARD
	default "presidio-asic"

config UBOOT_CONFIG_SYS_VENDOR
	default "cortina"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "presidio_asic"

source "../../../board/cortina/common/Kconfig"
endif
