if UBOOT_CONFIG_TARGET_GURNARD

config UBOOT_CONFIG_SYS_BOARD
	default "gurnard"

config UBOOT_CONFIG_SYS_VENDOR
	default "bluewater"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "snapper9g45"

endif
