if UBOOT_CONFIG_TARGET_STIH410_B2260

config UBOOT_CONFIG_SYS_BOARD
	string
	default "stih410-b2260"

config UBOOT_CONFIG_SYS_VENDOR
	string
	default "st"

config UBOOT_CONFIG_SYS_SOC
	string
	default "stih410"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	string
	default "stih410-b2260"

endif
