if UBOOT_CONFIG_TARGET_COLIBRI_PXA270

config UBOOT_CONFIG_SYS_BOARD
	default "colibri_pxa270"

config UBOOT_CONFIG_SYS_VENDOR
	default "toradex"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "colibri_pxa270"

config UBOOT_CONFIG_TDX_CFG_BLOCK
	default y

config UBOOT_CONFIG_TDX_HAVE_NOR
	default y

config UBOOT_CONFIG_TDX_CFG_BLOCK_OFFSET
	default "262144"

source "../../../board/toradex/common/Kconfig"

endif
