if UBOOT_CONFIG_TARGET_PG_WCOM_SELI8

config UBOOT_CONFIG_SYS_BOARD
	default "pg-wcom-ls102xa"

config UBOOT_CONFIG_SYS_VENDOR
	default "keymile"

config UBOOT_CONFIG_SYS_SOC
	default "ls102xa"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pg-wcom-seli8"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS
	def_bool y
	imply FS_CRAMFS

endif

if UBOOT_CONFIG_TARGET_PG_WCOM_EXPU1

config UBOOT_CONFIG_SYS_BOARD
	default "pg-wcom-ls102xa"

config UBOOT_CONFIG_SYS_VENDOR
	default "keymile"

config UBOOT_CONFIG_SYS_SOC
	default "ls102xa"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pg-wcom-expu1"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS
	def_bool y
	imply FS_CRAMFS

endif
