if UBOOT_CONFIG_TARGET_TI816X_EVM

config UBOOT_CONFIG_SYS_BOARD
	default "ti816x"

config UBOOT_CONFIG_SYS_VENDOR
	default "ti"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ti816x_evm"

endif
