if UBOOT_CONFIG_TARGET_QEMU_X86 || UBOOT_CONFIG_TARGET_QEMU_X86_64

config UBOOT_CONFIG_SYS_BOARD
	default "qemu-x86"

config UBOOT_CONFIG_SYS_VENDOR
	default "emulation"

config UBOOT_CONFIG_SYS_SOC
	default "qemu"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "qemu-x86"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0xfff00000 if ! UBOOT_CONFIG_SUPPORT_SPL
	default 0x01110000 if UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_X86_RESET_VECTOR
	select UBOOT_CONFIG_QEMU
	select UBOOT_CONFIG_QFW_PIO
	select UBOOT_CONFIG_BOARD_ROMSIZE_KB_1024
	imply VIRTIO_PCI
	imply VIRTIO_NET
	imply VIRTIO_BLK

endif
