if UBOOT_CONFIG_TARGET_DART_6UL

config UBOOT_CONFIG_SYS_BOARD
	default "dart_6ul"

config UBOOT_CONFIG_SYS_VENDOR
	default "variscite"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "dart_6ul"

endif
