if UBOOT_CONFIG_ARCH_TEGRA

config UBOOT_CONFIG_SPL_GPIO
	default y

config UBOOT_CONFIG_SPL_LIBCOMMON_SUPPORT
	default y

config UBOOT_CONFIG_SPL_LIBGENERIC_SUPPORT
	default y

config UBOOT_CONFIG_SPL_SERIAL
	default y

config UBOOT_CONFIG_TEGRA_CLKRST
	bool

config UBOOT_CONFIG_TEGRA_GP_PADCTRL
	bool

config UBOOT_CONFIG_TEGRA_IVC
	bool "Tegra IVC protocol"
	help
	  IVC (Inter-VM Communication) protocol is a Tegra-specific IPC
	  (Inter Processor Communication) framework. Within the context of
	  U-Boot, it is typically used for communication between the main CPU
	  and various auxiliary processors.

config UBOOT_CONFIG_TEGRA_MC
	bool

config UBOOT_CONFIG_TEGRA_PINCTRL
	bool

config UBOOT_CONFIG_TEGRA_PMC
	bool

config UBOOT_CONFIG_TEGRA_PMC_SECURE
	bool
	depends on UBOOT_CONFIG_TEGRA_PMC

config UBOOT_CONFIG_TEGRA_COMMON
	bool "Tegra common options"
	select UBOOT_CONFIG_BOARD_EARLY_INIT_F
	select UBOOT_CONFIG_CLK
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_ETH
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_I2C
	select UBOOT_CONFIG_DM_KEYBOARD
	select UBOOT_CONFIG_DM_MMC
	select UBOOT_CONFIG_DM_PWM
	select UBOOT_CONFIG_DM_RESET
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_DM_SPI
	select UBOOT_CONFIG_DM_SPI_FLASH
	select UBOOT_CONFIG_MISC
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SPI
	imply CMD_DM
	imply CRC32_VERIFY

config UBOOT_CONFIG_TEGRA_NO_BPMP
	bool "Tegra common options for SoCs without BPMP"
	select UBOOT_CONFIG_TEGRA_CAR
	select UBOOT_CONFIG_TEGRA_CAR_CLOCK
	select UBOOT_CONFIG_TEGRA_CAR_RESET

config UBOOT_CONFIG_TEGRA_ARMV7_COMMON
	bool "Tegra 32-bit common options"
	select UBOOT_CONFIG_BINMAN
	select UBOOT_CONFIG_CPU_V7A
	select UBOOT_CONFIG_SPL
	select UBOOT_CONFIG_SPL_BOARD_INIT if SPL
	select UBOOT_CONFIG_SPL_SKIP_LOWLEVEL_INIT_ONLY if SPL
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_TEGRA_CLKRST
	select UBOOT_CONFIG_TEGRA_COMMON
	select UBOOT_CONFIG_TEGRA_GPIO
	select UBOOT_CONFIG_TEGRA_GP_PADCTRL
	select UBOOT_CONFIG_TEGRA_MC
	select UBOOT_CONFIG_TEGRA_NO_BPMP
	select UBOOT_CONFIG_TEGRA_PINCTRL
	select UBOOT_CONFIG_TEGRA_PMC

config UBOOT_CONFIG_TEGRA_ARMV8_COMMON
	bool "Tegra 64-bit common options"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_INIT_SP_RELATIVE
	select UBOOT_CONFIG_LINUX_KERNEL_IMAGE_HEADER
	select UBOOT_CONFIG_POSITION_INDEPENDENT
	select UBOOT_CONFIG_TEGRA_COMMON

if UBOOT_CONFIG_TEGRA_ARMV8_COMMON
config UBOOT_CONFIG_LNX_KRNL_IMG_TEXT_OFFSET_BASE
	default 0x80000000
endif

choice
	prompt "Tegra SoC select"
	optional

config UBOOT_CONFIG_TEGRA20
	bool "Tegra20 family"
	select UBOOT_CONFIG_ARM_ERRATA_716044
	select UBOOT_CONFIG_ARM_ERRATA_742230
	select UBOOT_CONFIG_ARM_ERRATA_751472
	select UBOOT_CONFIG_TEGRA_ARMV7_COMMON

config UBOOT_CONFIG_TEGRA30
	bool "Tegra30 family"
	select UBOOT_CONFIG_ARM_ERRATA_743622
	select UBOOT_CONFIG_ARM_ERRATA_751472
	select UBOOT_CONFIG_TEGRA_ARMV7_COMMON

config UBOOT_CONFIG_TEGRA114
	bool "Tegra114 family"
	select UBOOT_CONFIG_TEGRA_ARMV7_COMMON

config UBOOT_CONFIG_TEGRA124
	bool "Tegra124 family"
	select UBOOT_CONFIG_TEGRA_ARMV7_COMMON
	imply REGMAP
	imply SYSCON

config UBOOT_CONFIG_TEGRA210
	bool "Tegra210 family"
	select UBOOT_CONFIG_GICV2
	select UBOOT_CONFIG_TEGRA_ARMV8_COMMON
	select UBOOT_CONFIG_TEGRA_CLKRST
	select UBOOT_CONFIG_TEGRA_GPIO
	select UBOOT_CONFIG_TEGRA_GP_PADCTRL
	select UBOOT_CONFIG_TEGRA_MC
	select UBOOT_CONFIG_TEGRA_NO_BPMP
	select UBOOT_CONFIG_TEGRA_PINCTRL
	select UBOOT_CONFIG_TEGRA_PMC
	select UBOOT_CONFIG_TEGRA_PMC_SECURE

config UBOOT_CONFIG_TEGRA186
	bool "Tegra186 family"
	select UBOOT_CONFIG_DM_MAILBOX
	select UBOOT_CONFIG_GICV2
	select UBOOT_CONFIG_TEGRA186_BPMP
	select UBOOT_CONFIG_TEGRA186_CLOCK
	select UBOOT_CONFIG_TEGRA186_GPIO
	select UBOOT_CONFIG_TEGRA186_RESET
	select UBOOT_CONFIG_TEGRA_ARMV8_COMMON
	select UBOOT_CONFIG_TEGRA_HSP
	select UBOOT_CONFIG_TEGRA_IVC

endchoice

config UBOOT_CONFIG_TEGRA_DISCONNECT_UDC_ON_BOOT
	bool "Disconnect USB device mode controller on boot"
	depends on UBOOT_CONFIG_CI_UDC
	default y
	help
	  When loading U-Boot into RAM over USB protocols using tools such as
	  tegrarcm or L4T's exec-uboot.sh/tegraflash.py, Tegra's USB device
	  mode controller is initialized and enumerated by the host PC running
	  the tool. Unfortunately, these tools do not shut down the USB
	  controller before executing the downloaded code, and so the host PC
	  does not "de-enumerate" the USB device. This option shuts down the
	  USB controller when U-Boot boots to avoid leaving a stale USB device
	  present.

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x1800

source "tegra20/Kconfig"
source "tegra30/Kconfig"
source "tegra114/Kconfig"
source "tegra124/Kconfig"
source "tegra210/Kconfig"
source "tegra186/Kconfig"

config UBOOT_CONFIG_CMD_ENTERRCM
	bool "Enable 'enterrcm' command"
	default y
	help
	  Tegra's boot ROM supports a mode whereby code may be downloaded and
	  flash-programmed over a USB connection. On dev boards, this is
	  typically entered by holding down a "force recovery" button and
	  resetting the CPU. However, not all boards have such a button (one
	  example is the Compulab Trimslice), so a method to enter RCM from
	  software is useful.

	  Even on boards other than Trimslice, controlling this over a UART
	  may be useful, e.g. to allow simple remote control without the need
	  for mechanical button actuators, or hooking up relays/... to the
	  button.

endif
