if UBOOT_CONFIG_RCAR_GEN3

menu "Select Target SoC"

config UBOOT_CONFIG_R8A774A1
	bool "Renesas SoC R8A774A1"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A774A1
	imply PINCTRL_PFC_R8A774A1

config UBOOT_CONFIG_R8A774B1
	bool "Renesas SoC R8A774B1"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A774B1
	imply PINCTRL_PFC_R8A774B1

config UBOOT_CONFIG_R8A774C0
	bool "Renesas SoC R8A774C0"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A774C0
	imply PINCTRL_PFC_R8A774C0

config UBOOT_CONFIG_R8A774E1
	bool "Renesas SoC R8A774E1"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A774E1
	imply PINCTRL_PFC_R8A774E1

config UBOOT_CONFIG_R8A7795
	bool "Renesas SoC R8A7795"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A7795
	imply PINCTRL_PFC_R8A7795

config UBOOT_CONFIG_R8A7796
	bool "Renesas SoC R8A7796"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A7796
	imply PINCTRL_PFC_R8A7796

config UBOOT_CONFIG_R8A77965
	bool "Renesas SoC R8A77965"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A77965
	imply PINCTRL_PFC_R8A77965

config UBOOT_CONFIG_R8A77970
	bool "Renesas SoC R8A77970"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A77970
	imply PINCTRL_PFC_R8A77970

config UBOOT_CONFIG_R8A77980
	bool "Renesas SoC R8A77980"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A77980
	imply PINCTRL_PFC_R8A77980

config UBOOT_CONFIG_R8A77990
	bool "Renesas SoC R8A77990"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A77990
	imply PINCTRL_PFC_R8A77990

config UBOOT_CONFIG_R8A77995
	bool "Renesas SoC R8A77995"
	select UBOOT_CONFIG_GICV2
	imply CLK_R8A77995
	imply PINCTRL_PFC_R8A77995

config UBOOT_CONFIG_R8A779A0
	bool "Renesas SoC R8A779A0"
	select UBOOT_CONFIG_GICV3
	imply CLK_R8A779A0
	imply PINCTRL_PFC_R8A779A0

config UBOOT_CONFIG_RZ_G2
	bool "Renesas ARM SoCs RZ/G2 (64bit)"

endmenu

choice
	prompt "Renesas ARM64 SoCs board select"
	optional

config UBOOT_CONFIG_TARGET_BEACON_RZG2M
	bool "Beacon EmbeddedWorks RZ/G2 Dev Kit"
	select UBOOT_CONFIG_R8A774A1
	select UBOOT_CONFIG_R8A774B1
	select UBOOT_CONFIG_R8A774E1
	select UBOOT_CONFIG_RZ_G2
	select UBOOT_CONFIG_PINCTRL_PFC_R8A774A1
	select UBOOT_CONFIG_PINCTRL_PFC_R8A774B1
	select UBOOT_CONFIG_PINCTRL_PFC_R8A774E1
	imply MULTI_DTB_FIT
	imply MULTI_DTB_FIT_USER_DEFINED_AREA
	imply CLK_VERSACLOCK
	imply CLK_CCF

config UBOOT_CONFIG_TARGET_CONDOR
	bool "Condor board"
	imply R8A77980
	help
          Support for Renesas R-Car Gen3 Condor platform

config UBOOT_CONFIG_TARGET_DRAAK
	bool "Draak board"
	imply R8A77995
	help
          Support for Renesas R-Car Gen3 Draak platform

config UBOOT_CONFIG_TARGET_EAGLE
	bool "Eagle board"
	imply R8A77970
	help
          Support for Renesas R-Car Gen3 Eagle platform

config UBOOT_CONFIG_TARGET_EBISU
	bool "Ebisu board"
	imply R8A77990
	help
          Support for Renesas R-Car Gen3 Ebisu platform

config UBOOT_CONFIG_TARGET_FALCON
	bool "Falcon board"
	imply R8A779A0
	help
          Support for Renesas R-Car Gen3 Falcon platform

config UBOOT_CONFIG_TARGET_HIHOPE_RZG2
	bool "HiHope RZ/G2 board"
	imply R8A774A1
	imply R8A774B1
	imply R8A774E1
	imply RZ_G2
	imply SYS_MALLOC_F
	imply MULTI_DTB_FIT
	imply MULTI_DTB_FIT_USER_DEFINED_AREA
	help
          Support for RZG2 HiHope platform

config UBOOT_CONFIG_TARGET_SILINUX_EK874
	bool "Silicon Linux EK874 board"
	imply R8A774C0
	imply RZ_G2
	help
          Support for Silicon Linux EK874 platform

config UBOOT_CONFIG_TARGET_SALVATOR_X
	bool "Salvator-X board"
	imply R8A7795
	imply R8A7796
	imply R8A77965
	imply SYS_MALLOC_F
	imply MULTI_DTB_FIT
	imply MULTI_DTB_FIT_USER_DEFINED_AREA
	help
          Support for Renesas R-Car Gen3 platform

config UBOOT_CONFIG_TARGET_ULCB
	bool "ULCB board"
	imply R8A7795
	imply R8A7796
	imply R8A77965
	imply SYS_MALLOC_F
	imply MULTI_DTB_FIT
	imply MULTI_DTB_FIT_USER_DEFINED_AREA
	help
          Support for Renesas R-Car Gen3 ULCB platform

endchoice

config UBOOT_CONFIG_SYS_SOC
	default "rmobile"

source "../../../board/renesas/condor/Kconfig"
source "../../../board/renesas/draak/Kconfig"
source "../../../board/renesas/eagle/Kconfig"
source "../../../board/renesas/ebisu/Kconfig"
source "../../../board/renesas/falcon/Kconfig"
source "../../../board/renesas/salvator-x/Kconfig"
source "../../../board/renesas/ulcb/Kconfig"
source "../../../board/beacon/beacon-rzg2m/Kconfig"
source "../../../board/hoperun/hihope-rzg2/Kconfig"
source "../../../board/silinux/ek874/Kconfig"

config UBOOT_CONFIG_MULTI_DTB_FIT_UNCOMPRESS_SZ
	default 0x80000 if UBOOT_CONFIG_TARGET_BEACON_RZG2M
	default 0x80000 if UBOOT_CONFIG_TARGET_HIHOPE_RZG2
	default 0x80000 if UBOOT_CONFIG_TARGET_SALVATOR_X
	default 0x80000 if UBOOT_CONFIG_TARGET_ULCB

config UBOOT_CONFIG_MULTI_DTB_FIT_USER_DEF_ADDR
	default 0x49000000 if UBOOT_CONFIG_TARGET_BEACON_RZG2M
	default 0x49000000 if UBOOT_CONFIG_TARGET_HIHOPE_RZG2
	default 0x49000000 if UBOOT_CONFIG_TARGET_SALVATOR_X
	default 0x49000000 if UBOOT_CONFIG_TARGET_ULCB

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x8000 if UBOOT_CONFIG_RCAR_GEN3

endif
