if UBOOT_CONFIG_RCAR_32

config UBOOT_CONFIG_ARCH_RMOBILE_BOARD_STRING
	string "Renesas RCar Gen2 board name"
	default "Board"

config UBOOT_CONFIG_RCAR_GEN2
	bool "Renesas RCar Gen2"
	select UBOOT_CONFIG_PHY
	select UBOOT_CONFIG_PHY_RCAR_GEN2

config UBOOT_CONFIG_R8A7740
	bool "Renesas SoC R8A7740"

config UBOOT_CONFIG_R8A7790
	bool "Renesas SoC R8A7790"
	select UBOOT_CONFIG_RCAR_GEN2
	select UBOOT_CONFIG_ARM_CORTEX_A15_CVE_2017_5715
	imply CLK_R8A7790
	imply PINCTRL_PFC_R8A7790

config UBOOT_CONFIG_R8A7791
	bool "Renesas SoC R8A7791"
	select UBOOT_CONFIG_RCAR_GEN2
	select UBOOT_CONFIG_ARM_CORTEX_A15_CVE_2017_5715
	imply CLK_R8A7791
	imply PINCTRL_PFC_R8A7791

config UBOOT_CONFIG_R8A7792
	bool "Renesas SoC R8A7792"
	select UBOOT_CONFIG_RCAR_GEN2
	select UBOOT_CONFIG_ARM_CORTEX_A15_CVE_2017_5715
	imply CLK_R8A7792
	imply PINCTRL_PFC_R8A7792

config UBOOT_CONFIG_R8A7793
	bool "Renesas SoC R8A7793"
	select UBOOT_CONFIG_RCAR_GEN2
	select UBOOT_CONFIG_ARM_CORTEX_A15_CVE_2017_5715
	imply CLK_R8A7793
	imply PINCTRL_PFC_R8A7793

config UBOOT_CONFIG_R8A7794
	bool "Renesas SoC R8A7794"
	select UBOOT_CONFIG_RCAR_GEN2
	imply CLK_R8A7794
	imply PINCTRL_PFC_R8A7794

choice
	prompt "Renesas ARM SoCs board select"
	optional

config UBOOT_CONFIG_TARGET_ARMADILLO_800EVA
	bool "armadillo 800 eva board"

config UBOOT_CONFIG_TARGET_BLANCHE
	bool "Blanche board"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	imply CMD_DM

config UBOOT_CONFIG_TARGET_GOSE
	bool "Gose board"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_SPL_TINY_MEMSET
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_SPL_USE_TINY_PRINTF
	imply CMD_DM

config UBOOT_CONFIG_TARGET_KOELSCH
	bool "Koelsch board"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_SPL_TINY_MEMSET
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_SPL_USE_TINY_PRINTF
	imply CMD_DM

config UBOOT_CONFIG_TARGET_LAGER
	bool "Lager board"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_SPL_TINY_MEMSET
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_SPL_USE_TINY_PRINTF
	imply CMD_DM

config UBOOT_CONFIG_TARGET_KZM9G
	bool "KZM9D board"

config UBOOT_CONFIG_TARGET_ALT
	bool "Alt board"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_SPL_TINY_MEMSET
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_SPL_USE_TINY_PRINTF
	imply CMD_DM

config UBOOT_CONFIG_TARGET_SILK
	bool "Silk board"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_SPL_TINY_MEMSET
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_SPL_USE_TINY_PRINTF
	imply CMD_DM

config UBOOT_CONFIG_TARGET_PORTER
	bool "Porter board"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_SPL_TINY_MEMSET
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_SPL_USE_TINY_PRINTF
	imply CMD_DM

config UBOOT_CONFIG_TARGET_STOUT
	bool "Stout board"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_SPL_TINY_MEMSET
	select UBOOT_CONFIG_SUPPORT_SPL
	select UBOOT_CONFIG_SPL_USE_TINY_PRINTF
	imply CMD_DM

endchoice

config UBOOT_CONFIG_SYS_SOC
	default "rmobile"

config UBOOT_CONFIG_RMOBILE_EXTRAM_BOOT
	bool "Enable boot from RAM"
	depends on UBOOT_CONFIG_TARGET_ALT || UBOOT_CONFIG_TARGET_BLANCHE || UBOOT_CONFIG_TARGET_KOELSCH || UBOOT_CONFIG_TARGET_LAGER || UBOOT_CONFIG_TARGET_PORTER || UBOOT_CONFIG_TARGET_SILK || UBOOT_CONFIG_TARGET_STOUT

choice
	prompt "Qos setting primary"
	depends on UBOOT_CONFIG_TARGET_ALT || UBOOT_CONFIG_TARGET_BLANCHE || UBOOT_CONFIG_TARGET_GOSE || UBOOT_CONFIG_TARGET_KOELSCH || UBOOT_CONFIG_TARGET_LAGER
	default UBOOT_CONFIG_QOS_PRI_NORMAL

config UBOOT_CONFIG_QOS_PRI_NORMAL
	bool "Non primary"
	help
	   Select normal mode for QoS setting.

config UBOOT_CONFIG_QOS_PRI_MEDIA
	bool "Media primary"
	help
	   Select multimedia primary mode for QoS setting.

config UBOOT_CONFIG_QOS_PRI_GFX
	bool "GFX primary"
	help
	   Select GFX(graphics) primary mode for QoS setting.

endchoice

source "../../../board/atmark-techno/armadillo-800eva/Kconfig"
source "../../../board/renesas/blanche/Kconfig"
source "../../../board/renesas/gose/Kconfig"
source "../../../board/renesas/koelsch/Kconfig"
source "../../../board/renesas/lager/Kconfig"
source "../../../board/kmc/kzm9g/Kconfig"
source "../../../board/renesas/alt/Kconfig"
source "../../../board/renesas/silk/Kconfig"
source "../../../board/renesas/porter/Kconfig"
source "../../../board/renesas/stout/Kconfig"

endif
