if UBOOT_CONFIG_TARGET_ARISTAINETOS2C

source "common/Kconfig"

config UBOOT_CONFIG_SYS_BOARD
	default "aristainetos"

config UBOOT_CONFIG_SYS_BOARD_VERSION
	default 5

config UBOOT_CONFIG_IMX_CONFIG
	default "board/aristainetos/aristainetos2.cfg"

endif

if UBOOT_CONFIG_TARGET_ARISTAINETOS2CCSLB

source "common/Kconfig"

config UBOOT_CONFIG_SYS_BOARD
	default "aristainetos"

config UBOOT_CONFIG_SYS_BOARD_VERSION
	default 6

config UBOOT_CONFIG_IMX_CONFIG
	default "board/aristainetos/aristainetos2.cfg"

endif
