if UBOOT_CONFIG_TARGET_OPENPITON_RISCV64

config UBOOT_CONFIG_SYS_BOARD
	default "riscv64"

config UBOOT_CONFIG_SYS_VENDOR
	default "openpiton"

config UBOOT_CONFIG_SYS_CPU
	default "generic"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "openpiton-riscv64"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x81000000 if UBOOT_CONFIG_SPL
	default 0x80000000 if ! UBOOT_CONFIG_RISCV_SMODE
	default 0x81000000 if UBOOT_CONFIG_RISCV_SMODE

config UBOOT_CONFIG_SPL_TEXT_BASE
	default 0x82000000

config UBOOT_CONFIG_SPL_OPENSBI_LOAD_ADDR
	default 0x80000000

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_ARCH_EARLY_INIT_R
	select UBOOT_CONFIG_SUPPORT_SPL
	imply CPU_RISCV
	imply RISCV_TIMER
	imply SPL_SIFIVE_CLINT
	imply CMD_CPU
	imply SPL_CPU_SUPPORT
	imply SPL_SMP
	imply SPL_MMC
	imply SMP
	imply SPL_RISCV_MMODE

endif
