menu "Integrator Options"
	depends on UBOOT_CONFIG_ARCH_INTEGRATOR

choice
	prompt "Integrator platform select"
	optional

config UBOOT_CONFIG_ARCH_INTEGRATOR_AP
	bool "Support Integrator/AP platform"

config UBOOT_CONFIG_ARCH_INTEGRATOR_CP
	bool "Support Integrator/CP platform"
	select UBOOT_CONFIG_ARCH_CINTEGRATOR

endchoice

config UBOOT_CONFIG_ARCH_CINTEGRATOR
	bool

choice
	prompt "Integrator core module select"
	optional

config UBOOT_CONFIG_CM720T
	bool "Core Module for ARM720T"
	select UBOOT_CONFIG_CPU_ARM720T

config UBOOT_CONFIG_CM920T
	bool "Core Module for ARM920T"
	select UBOOT_CONFIG_CPU_ARM920T

config UBOOT_CONFIG_CM926EJ_S
	bool "Core Module for ARM926EJ-STM"
	select UBOOT_CONFIG_CPU_ARM926EJS

config UBOOT_CONFIG_CM946ES
	bool "Core Module for ARM946E-STM"
	select UBOOT_CONFIG_CPU_ARM946ES

config UBOOT_CONFIG_CM1136
	bool "Core Module for ARM1136JF-STM"
	select UBOOT_CONFIG_CPU_ARM1136

endchoice

config UBOOT_CONFIG_SYS_BOARD
	default "integrator"

config UBOOT_CONFIG_SYS_VENDOR
	default "armltd"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "integratorap" if UBOOT_CONFIG_ARCH_INTEGRATOR_AP
	default "integratorcp" if UBOOT_CONFIG_ARCH_INTEGRATOR_CP

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x2000

endmenu
