if UBOOT_CONFIG_TEGRA20

choice
	prompt "Tegra20 board select"
	optional

config UBOOT_CONFIG_TARGET_HARMONY
	bool "NVIDIA Tegra20 Harmony evaluation board"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_MEDCOM_WIDE
	bool "Avionic Design Medcom-Wide board"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_PAZ00
	bool "Paz00 board"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_PLUTUX
	bool "Avionic Design Plutux board"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_SEABOARD
	bool "NVIDIA Seaboard"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_TEC
	bool "Avionic Design Tamonten Evaluation Carrier"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_TRIMSLICE
	bool "Compulab TrimSlice board"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_VENTANA
	bool "NVIDIA Tegra20 Ventana evaluation board"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_COLIBRI_T20
	bool "Toradex Colibri T20 board"
	select UBOOT_CONFIG_BOARD_LATE_INIT

endchoice

config UBOOT_CONFIG_SYS_SOC
	default "tegra20"

source "../../../../board/nvidia/harmony/Kconfig"
source "../../../../board/avionic-design/medcom-wide/Kconfig"
source "../../../../board/compal/paz00/Kconfig"
source "../../../../board/avionic-design/plutux/Kconfig"
source "../../../../board/nvidia/seaboard/Kconfig"
source "../../../../board/avionic-design/tec/Kconfig"
source "../../../../board/compulab/trimslice/Kconfig"
source "../../../../board/nvidia/ventana/Kconfig"
source "../../../../board/toradex/colibri_t20/Kconfig"

endif
