# SPDX-License-Identifier: GPL-2.0-only
#
# PHY drivers for Socionext platforms.
#

config UBOOT_CONFIG_PHY_UNIPHIER_PCIE
	bool "UniPhier PCIe PHY driver"
	depends on UBOOT_CONFIG_PHY && UBOOT_CONFIG_ARCH_UNIPHIER
	imply REGMAP
	help
	  Enable this to support PHY implemented in PCIe controller
	  on UniPhier SoCs.
