
menu "Lightning Mountain board config"
	depends on UBOOT_CONFIG_TARGET_LIGHTNING_MOUNTAIN

config UBOOT_CONFIG_LGM_U_BOOT_SIZE
	hex "U-BOOT pad size before lzma"
	default "0x80000"

config UBOOT_CONFIG_SYS_BOARD
	default "lightning"

config UBOOT_CONFIG_DRIVER_LIGHTNING
	bool "Lightning Mountain Board Configuration"
	default y

config UBOOT_CONFIG_SYS_BOARD
	default "lightning"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "lightning_mountain"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_X86_RESET_VECTOR 
	select UBOOT_CONFIG_USE_EARLY_BOARD_INIT

config UBOOT_CONFIG_PMIC_CONFIGURATIONS
	bool "Enable PMIC support in LGM"
	help
	  Enable PMIC configuration in LGM boards.

if ( UBOOT_CONFIG_PMIC_CONFIGURATIONS )

choice
	prompt "PMIC Vendor"
	help
	  Which PMIC vendor is used on the board.

config UBOOT_CONFIG_ROHM_PMIC
	bool "Rohm PMIC"
	help
	  Rohm PMIC is used on the board.

config UBOOT_CONFIG_RICHTEK_PMIC
	bool "Richtek PMIC"
	help
	  Richtek PMIC is used on the board.

config UBOOT_CONFIG_MPS_PMIC
	bool "MPS PMIC"
	help
	  MPS PMIC is used on the board.
endchoice

config UBOOT_CONFIG_ROC_VOLTAGE
	hex "ROC boot voltage value"
	default 0x4a
	help
	  The core voltage applied to ROC. Default to to 0.865V,
	  safe voltage to allow boot from all boards.
endif

choice
	prompt "Chipset Version"
	default UBOOT_CONFIG_LIGHTNING_B0

config UBOOT_CONFIG_LIGHTNING_A0
	bool "Lightning-Mountain A0"

config UBOOT_CONFIG_LIGHTNING_B0
	bool "Lightning-Mountain B0"
endchoice

choice
	prompt "Board Specific"
	default UBOOT_CONFIG_BOARD_ANYWAN_LIGHTNING

config UBOOT_CONFIG_BOARD_ANYWAN_LIGHTNING
	bool "Lightning Park/Brooks board configurations"

config UBOOT_CONFIG_BOARD_OCTOPUS
	bool "Octopus board configurations"

endchoice

menu "Lightning Mountain DDR Configurations"

config UBOOT_CONFIG_LGM_MEM_SIZE
	int "Memory size in MB"
	help
	  DDR size available on the board

config UBOOT_CONFIG_IS_HAPS
	bool "DDR configuration for HAPS"

config UBOOT_CONFIG_IS_SIMICS
	bool "Configure LGM build for Simics"
	default n
	help
	  Choose this option for Simics build

config UBOOT_CONFIG_DDR_TUNING_DEBUG_VAL
	hex "DDR tuning verbose value"
	default "0xC8"
	help
	  DDR tuning verbose value, between 1 - 0xc8.
	  Where 1 is very verbose and 0xc8 is the least.
	  Enable DEBUG_SIMPLIFY to see the prints in RBE.

config UBOOT_CONFIG_CUSTOMIZED_DDR_HEADER
	bool "Customised DDR tuning parameters"
	help
	  Enable Customised DDR in LGM boards.

choice
	prompt "DDR Type"
	help
	  Choose the DDR type attached to the
	  board.

config UBOOT_CONFIG_LGM_DDR3
	bool "DDR3"
config UBOOT_CONFIG_LGM_LPDDR3
	bool "LPDDR3"
config UBOOT_CONFIG_LGM_DDR4
	bool "DDR4"
config UBOOT_CONFIG_LGM_LPDDR4
	bool "LPDDR4"
endchoice

if ( UBOOT_CONFIG_LGM_LPDDR4 )
config UBOOT_CONFIG_LGM_LPDDR4X_PHY
	bool "Configure LPDDR4 PHY to LPDDR4x"
endif

choice
	prompt "DDR Speed"
	help
	  Run the DDR at the specific DDR speed

config UBOOT_CONFIG_LGM_FREQ_3733M
	bool "DDR @ 3733Mhz"

config UBOOT_CONFIG_LGM_FREQ_3200M
	bool "DDR @ 3200Mhz"

config UBOOT_CONFIG_LGM_FREQ_2666M
	bool "DDR @ 2666Mhz"

config UBOOT_CONFIG_LGM_FREQ_2400M
	bool "DDR @ 2400Mhz"

config UBOOT_CONFIG_LGM_FREQ_2133M
	bool "DDR @ 2133Mhz"

config UBOOT_CONFIG_LGM_FREQ_1866M
	bool "DDR @ 1866Mhz"

config UBOOT_CONFIG_LGM_FREQ_1600M
	bool "DDR @ 1600Mhz"
endchoice

if ( UBOOT_CONFIG_CUSTOMIZED_DDR_HEADER )

choice
	prompt "DDR Vendor"
	help
	  Which DDR vendor is used on the board.

config UBOOT_CONFIG_MICRON_DDR
	bool "Micron"
	help
	  Micon DRAM is used on the board.

config UBOOT_CONFIG_SAMSUNG_DDR
	bool "Samsung"
	help
	  Samsung DRAM is used on the board.

config UBOOT_CONFIG_HYNIX_DDR
	bool "SK Hynix"
	help
	  SK Hynix DRAM is used on the board.

config UBOOT_CONFIG_OTHER_DDR
	bool "Other DDR Vendor not in list"

endchoice

config UBOOT_CONFIG_DDR_VENDOR
	string
	default "micron" if UBOOT_CONFIG_MICRON_DDR
	default "samsung" if UBOOT_CONFIG_SAMSUNG_DDR
	default "hynix" if UBOOT_CONFIG_HYNIX_DDR
	default "custom" if UBOOT_CONFIG_OTHER_DDR

config UBOOT_CONFIG_DDR_RANK
	int "Number of Ranks"
	default 2
	help
	  DDR rank supported by the configurations

config UBOOT_CONFIG_DDR_RANK_DEPTH
	int "Rank Depth in Megabits"
	default 256
	help
	  DDR rank depth per module

config UBOOT_CONFIG_DDR_RANK_WIDTH
	int "Rank/Bus width in bits"
	default 16
	help
	  DDR rank width per module in bits
endif
endmenu

config UBOOT_CONFIG_UBOOT_IN_USER_PART
	bool "Support U-boot binary in User partition"
	depends on UBOOT_CONFIG_BOOT_FROM_EMMC
	default n
	help
	  Select this option if U-boot is not in the boot
	  partition

config UBOOT_CONFIG_MAX_RBE_PER_PART
	int "No. of RBE per RBE partition"
	default 4 if UBOOT_CONFIG_BOOT_FROM_EMMC
	default 1 if UBOOT_CONFIG_BOOT_FROM_NAND || UBOOT_CONFIG_BOOT_FROM_QSPI_NOR || UBOOT_CONFIG_BOOT_FROM_QSPI_NAND

config UBOOT_CONFIG_LGM_THERMAL_PROTECTION
	bool "Support boot-up thermal protection"
	default n
	help
	  Select this option to allow U-boot to wait till
	  SOC temperatures are below a temperature threshold.

config UBOOT_CONFIG_LGM_THERMAL_HIGH_THRESH
	int "Thermal upper threshold value"
	depends on UBOOT_CONFIG_LGM_THERMAL_PROTECTION
	help
	  Thermal boot uppper threshold value

config UBOOT_CONFIG_LGM_THERMAL_LOW_THRESH
	int "Thermal lower threshold value"
	depends on UBOOT_CONFIG_LGM_THERMAL_PROTECTION
	help
	  Thermal boot lower threshold value

config UBOOT_CONFIG_LGM_SUPPORT_DTB_OVERLAY
	depends on UBOOT_CONFIG_BOARD_OCTOPUS
	bool "DTBO overlay feature in Octopus"
	help
	  For Octopus reference design which allows system detection
	  of WAN and PCI-e devices

config UBOOT_CONFIG_GPIO_WAN_MOD_ABS
	int "GPIO pin number for SFP detection"
	depends on UBOOT_CONFIG_LGM_SUPPORT_DTB_OVERLAY
	default 0
	help
	  This is the GPIO used for SFP detection. When an SFP
	  is added to the cage, the GPIO will be pulled low.

config UBOOT_CONFIG_GPIO_WAN_MUX
	int "GPIO pin connected to WAN switch mux"
	depends on UBOOT_CONFIG_LGM_SUPPORT_DTB_OVERLAY
	default 0
	help
	  This is the GPIO used to select between SFP or ETH WAN.

endmenu
