# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2017, Bin Meng <bmeng.cn@gmail.com>

config UBOOT_CONFIG_INTEL_BRASWELL
	bool
	select UBOOT_CONFIG_HAVE_FSP
	select UBOOT_CONFIG_ARCH_MISC_INIT
	select UBOOT_CONFIG_CPU_INTEL_TURBO_NOT_PACKAGE_SCOPED
	imply HAVE_INTEL_ME
	imply HAVE_VBT
	imply ENABLE_MRC_CACHE
	imply AHCI_PCI
	imply ICH_SPI
	imply MMC
	imply MMC_PCI
	imply MMC_SDHCI
	imply MMC_SDHCI_SDMA
	imply SCSI
	imply SCSI_AHCI
	imply SPI_FLASH
	imply SYS_NS16550
	imply USB
	imply USB_XHCI_HCD
	imply VIDEO_FSP

if UBOOT_CONFIG_INTEL_BRASWELL

config UBOOT_CONFIG_FSP_ADDR
	hex
	default 0xfff20000

endif
