if UBOOT_CONFIG_TARGET_WARP

config UBOOT_CONFIG_SYS_BOARD
	default "warp"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "warp"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/warp/imximage.cfg"

endif
