if UBOOT_CONFIG_TARGET_CONGA_QMX8

config UBOOT_CONFIG_SYS_BOARD
	default "cgtqmx8"

config UBOOT_CONFIG_SYS_VENDOR
	default "congatec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "cgtqmx8"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/congatec/cgtqmx8/imximage.cfg"

source "../../../board/congatec/common/Kconfig"

endif
