if UBOOT_CONFIG_TARGET_XEA

config UBOOT_CONFIG_SYS_BOARD
	default "xea"

config UBOOT_CONFIG_SYS_VENDOR
	default "liebherr"

config UBOOT_CONFIG_SYS_SOC
	default "mxs"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "xea"

config UBOOT_CONFIG_ENV_SIZE
	default 0x2000

config UBOOT_CONFIG_ENV_SECT_SIZE
	default 0x10000 if UBOOT_CONFIG_ENV_IS_IN_SPI_FLASH

config UBOOT_CONFIG_ENV_OFFSET
	default 0x80000 if UBOOT_CONFIG_ENV_IS_IN_SPI_FLASH

endif
