if UBOOT_CONFIG_TARGET_BCMNS3

config UBOOT_CONFIG_SYS_BOARD
	default "bcmns3"

config UBOOT_CONFIG_SYS_VENDOR
	default "broadcom"

config UBOOT_CONFIG_SYS_SOC
	default "bcmns3"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "bcm_ns3"

config UBOOT_CONFIG_CMD_BCM_EXT_UTILS
	bool "Enable Broadcom-specific U-Boot commands"
	default y
	help
	  Enable Broadcom specific U-Boot commands such as error log setup
	  command or any other commands specific to NS3 platform.

endif
