if UBOOT_CONFIG_TARGET_IMX8MM_VENICE

config UBOOT_CONFIG_SYS_BOARD
	default "venice"

config UBOOT_CONFIG_SYS_VENDOR
	default "gateworks"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "imx8mm_venice"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/gateworks/venice/imximage-8mm-lpddr4.cfg"
endif
