if UBOOT_CONFIG_EFI_APP

config UBOOT_CONFIG_SYS_BOARD
	default "efi-x86_app"

config UBOOT_CONFIG_SYS_VENDOR
	default "efi"

config UBOOT_CONFIG_SYS_SOC
	default "efi"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "efi-x86_app"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	imply VIDEO_EFI

endif
