if UBOOT_CONFIG_ARCH_IPQ40XX

config UBOOT_CONFIG_SYS_SOC
	default "ipq40xx"

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x2000

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x87300000

config UBOOT_CONFIG_NR_DRAM_BANKS
	default 1

endif
