if UBOOT_CONFIG_BOARD_TPLINK_WDR4300

config UBOOT_CONFIG_SYS_VENDOR
	default "tplink"

config UBOOT_CONFIG_SYS_SOC
	default "ath79"

config UBOOT_CONFIG_SYS_BOARD
	default "wdr4300"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "tplink_wdr4300"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0xa1000000

config UBOOT_CONFIG_SYS_DCACHE_SIZE
	default 32768

config UBOOT_CONFIG_SYS_DCACHE_LINE_SIZE
	default 32

config UBOOT_CONFIG_SYS_ICACHE_SIZE
	default 65536

config UBOOT_CONFIG_SYS_ICACHE_LINE_SIZE
	default 32

endif
