config DP_DIRECTPATH
	tristate "Directpath LIB"
	depends on DPM_DATAPATH
	help
	  Directpath Lib based on Datapath Lib, is to provide common rx/tx wrapper
	  apis for directpath devices.

config DP_DIRECTPATH_TEST
	tristate "Directpath Loopback test"
	depends on DP_DIRECTPATH
	help
	  Directpath loopback test.
