# Copyright (c) 2020, Xilinx, Inc.
#
# SPDX-License-Identifier: GPL-2.0

if UBOOT_CONFIG_ARCH_VERSAL

config UBOOT_CONFIG_CMD_VERSAL
	bool "Enable Versal specific commands"
	default y
	depends on UBOOT_CONFIG_ZYNQMP_FIRMWARE
	help
	  Enable Versal specific commands.

endif
