if UBOOT_CONFIG_TARGET_AXS101 || UBOOT_CONFIG_TARGET_AXS103

config UBOOT_CONFIG_SYS_BOARD
	default "axs10x"

config UBOOT_CONFIG_SYS_VENDOR
	default "synopsys"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "axs10x"

endif
