if UBOOT_CONFIG_TARGET_MICROCHIP_ICICLE

config UBOOT_CONFIG_SYS_BOARD
	default "mpfs_icicle"

config UBOOT_CONFIG_SYS_VENDOR
	default "microchip"

config UBOOT_CONFIG_SYS_CPU
	default "generic"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "microchip_mpfs_icicle"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x80000000 if ! UBOOT_CONFIG_RISCV_SMODE
	default 0x80200000 if UBOOT_CONFIG_RISCV_SMODE

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_GENERIC_RISCV
	select UBOOT_CONFIG_BOARD_EARLY_INIT_F
	select UBOOT_CONFIG_BOARD_LATE_INIT
	imply SMP
	imply CLK_CCF
	imply CLK_MPFS
	imply SYS_NS16550
	imply CMD_DHCP
	imply CMD_EXT2
	imply CMD_EXT4
	imply CMD_FAT
	imply CMD_FS_GENERIC
	imply CMD_NET
	imply CMD_PING
	imply CMD_MMC
	imply DOS_PARTITION
	imply EFI_PARTITION
	imply IP_DYN
	imply ISO_PARTITION
	imply MACB
	imply MII
	imply PHY_LIB
	imply PHY_VITESSE
	imply MMC
	imply MMC_WRITE
	imply MMC_SDHCI
	imply MMC_SDHCI_CADENCE
	imply MMC_SDHCI_ADMA
	imply MMC_HS200_SUPPORT
	imply CMD_I2C
	imply DM_I2C
	imply SYS_I2C_MICROCHIP

endif
