if UBOOT_CONFIG_TARGET_MX6SABRESD

config UBOOT_CONFIG_SYS_BOARD
	default "mx6sabresd"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "mx6sabresd"

endif
