if UBOOT_CONFIG_TARGET_SMDK5250

config UBOOT_CONFIG_SYS_BOARD
	default "smdk5250"

config UBOOT_CONFIG_SYS_VENDOR
	default "samsung"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "smdk5250"

endif

if UBOOT_CONFIG_TARGET_SNOW

config UBOOT_CONFIG_SYS_BOARD
	default "smdk5250"

config UBOOT_CONFIG_SYS_VENDOR
	default "samsung"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "snow"

endif

if UBOOT_CONFIG_TARGET_SPRING

config UBOOT_CONFIG_SYS_BOARD
	default "smdk5250"

config UBOOT_CONFIG_SYS_VENDOR
	default "samsung"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "spring"

endif
