if UBOOT_CONFIG_TARGET_COLIBRI_IMX6ULL

choice
	prompt "Colibri iMX6ULL variant"
	optional

config UBOOT_CONFIG_TARGET_COLIBRI_IMX6ULL_NAND
	bool "Support Colibri iMX6ULL 256MB / 512MB (raw NAND) modules"
	imply NAND_MXS
	help
	  Choose this option if you build for a Toradex Colibri iMX6ULL
	  256MB or 512MB module which do have raw NAND on-module.

config UBOOT_CONFIG_TARGET_COLIBRI_IMX6ULL_EMMC
	bool "Support Colibri iMX6ULL 1GB (eMMC) modules"
	help
	  Choose this option if you build for a Toradex Colibri iMX6ULL
	  1GB module which does have eMMC on-module.

endchoice

config UBOOT_CONFIG_SYS_BOARD
	default "colibri-imx6ull"

config UBOOT_CONFIG_SYS_VENDOR
	default "toradex"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "colibri-imx6ull-tezi-recovery" if (!UBOOT_CONFIG_TARGET_COLIBRI_IMX6ULL_NAND && !UBOOT_CONFIG_TARGET_COLIBRI_IMX6ULL_EMMC)

config UBOOT_CONFIG_TDX_CFG_BLOCK
	default y

if UBOOT_CONFIG_TARGET_COLIBRI_IMX6ULL_NAND

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "colibri-imx6ull"

config UBOOT_CONFIG_TDX_HAVE_NAND
	default y

config UBOOT_CONFIG_TDX_CFG_BLOCK_OFFSET
	default "2048"

config UBOOT_CONFIG_TDX_CFG_BLOCK_OFFSET2
	default "133120"

endif

if UBOOT_CONFIG_TARGET_COLIBRI_IMX6ULL_EMMC

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "colibri-imx6ull"

config UBOOT_CONFIG_TDX_HAVE_MMC
	default y

config UBOOT_CONFIG_TDX_CFG_BLOCK_DEV
	default "0"

config UBOOT_CONFIG_TDX_CFG_BLOCK_PART
	default "1"

# Toradex config block in eMMC, at the end of 1st "boot sector"
config UBOOT_CONFIG_TDX_CFG_BLOCK_OFFSET
	default "-512"

endif

config UBOOT_CONFIG_TDX_CFG_BLOCK_2ND_ETHADDR
	default y

config UBOOT_CONFIG_IMX_CONFIG
	default "board/toradex/colibri-imx6ull/imximage.cfg"

source "../../../board/toradex/common/Kconfig"

endif
