if UBOOT_CONFIG_ARCH_SYNQUACER

choice
	prompt "SC2A11 Cortex-A53 MPCore 24cores"
	optional

config UBOOT_CONFIG_TARGET_DEVELOPERBOX
	bool "Socionext DeveloperBox"
	select UBOOT_CONFIG_PCI
	select UBOOT_CONFIG_PCIE_ECAM_SYNQUACER
	select UBOOT_CONFIG_SYS_DISABLE_DCACHE_OPS
	select UBOOT_CONFIG_OF_BOARD_SETUP
	help
	 Choose this option if you build the U-Boot for the DeveloperBox
	 96boards Enterprise Edition.
	 This board will booted from SCP firmware and it enables SMMU, thus
	 the dcache is updated automatically when DMA operation is executed.
endchoice

config UBOOT_CONFIG_SYS_SOC
	default "sc2a11"

if UBOOT_CONFIG_TARGET_DEVELOPERBOX

config UBOOT_CONFIG_SYS_BOARD
	default "developerbox"

config UBOOT_CONFIG_SYS_VENDOR
	default "socionext"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "synquacer"

endif
endif
