if UBOOT_CONFIG_ARCH_ROCKCHIP

config UBOOT_CONFIG_PINCTRL_ROCKCHIP
	bool "Rockchip pin control drivers"
	depends on UBOOT_CONFIG_ARCH_ROCKCHIP && UBOOT_CONFIG_PINCTRL_GENERIC
	default y
	help
	  Enable support pin control functions for Rockchip SoCs.

config UBOOT_CONFIG_SPL_PINCTRL_ROCKCHIP
	bool "Support Rockchip pin controllers in SPL"
	depends on UBOOT_CONFIG_ARCH_ROCKCHIP && UBOOT_CONFIG_SPL_PINCTRL_GENERIC
	default y
	help
	  This option is an SPL-variant of the PINCTRL_ROCKCHIP option.

endif
