#include "lgm_evm_b0_ebu_nand.dts"

/* Set type of DC/DC converter to CIBB12 */
&vcodec0 {
	slic200_0 {
		compatible = "intel,slic200";
		dcdc_type = "CIBB";
	};
};

&vcodec1 {
	slic200_0 {
		compatible = "intel,slic200";
		dcdc_type = "CIBB";
	};
};
