// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2020-2023 MaxLinear, Inc.
 * Copyright (C) 2019-2020 Intel Corporation.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License, as published by the Free
 * Software Foundation; either version 2 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include <dt-bindings/interrupt-controller/irq.h>

#include "lightning_mountain.dtsi"
#include "firewall_domain.dtsi"
#include "noc_firewall.dtsi"

/ {
	model = "mxl,lightning mountain", "mxl,simics";

	aliases {
		eth0_0 = &lan0;
		eth0_1 = &lan1;
		eth0_2 = &lan2;
		eth0_3 = &lan3;
		eth0_4 = &lan4;
		eth0_5 = &lan5;
	};

	chosen {
		/* ramfs */
		bootargs = "earlycon console=ttyLTQ0,115200n8r root=/dev/ram init=/init maxcpus=4 initcall_debug=0 clk_ignore_unused loglevel=8";
		stdout-path = "serial0";
	};
};

&eth {
	lan0: interface@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <3>;
		mxl,dp-port-id = <3>;
		mxl,xgmac-id = <3>;
		phy-mode = "10gbase-kr";
		fixed-link {
			speed = <10000>;
			full-duplex;
			pause;
			asym-pause;
		};
		lan0_eth: ethernet@0 {
			compatible = "mxl,pdi-port";
			reg = <0>;
			phy-mode = "rgmii";
		};
	};

	lan1: interface@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <4>;
		mxl,dp-port-id = <4>;
		mxl,xgmac-id = <4>;
		phy-mode = "10gbase-kr";
		fixed-link {
			speed = <10000>;
			full-duplex;
			pause;
			asym-pause;
		};
		lan1_eth: ethernet@1 {
			compatible = "mxl,pdi-port";
			reg = <1>;
			phy-mode = "rgmii";
		};
	};

	lan2: interface@2 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <5>;
		mxl,dp-port-id = <5>;
		mxl,xgmac-id = <5>;
		phy-mode = "10gbase-kr";
		fixed-link {
			speed = <10000>;
			full-duplex;
			pause;
			asym-pause;
		};
		lan2_eth: ethernet@2 {
			compatible = "mxl,pdi-port";
			reg = <2>;
			phy-mode = "rgmii";
		};
	};

	lan3: interface@3 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <6>;
		mxl,dp-port-id = <6>;
		mxl,xgmac-id = <6>;
		phy-mode = "10gbase-kr";
		fixed-link {
			speed = <10000>;
			full-duplex;
			pause;
			asym-pause;
		};
		lan3_eth: ethernet@3 {
			compatible = "mxl,pdi-port";
			reg = <3>;
			phy-mode = "rgmii";
		};
	};

	lan4: interface@4 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <7>;
		mxl,dp-port-id = <7>;
		mxl,xgmac-id = <7>;
		phy-mode = "10gbase-kr";
		fixed-link {
			speed = <10000>;
			full-duplex;
			pause;
			asym-pause;
		};
		lan4_eth: ethernet@4 {
			compatible = "mxl,pdi-port";
			reg = <4>;
			phy-mode = "rgmii";
		};
	};

	lan5: interface@5 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <8>;
		mxl,dp-port-id = <8>;
		mxl,xgmac-id = <8>;
		phy-mode = "10gbase-kr";
		fixed-link {
			speed = <10000>;
			full-duplex;
			pause;
			asym-pause;
		};
		lan5_eth: ethernet@5 {
			compatible = "mxl,pdi-port";
			reg = <5>;
			phy-mode = "rgmii";
		};
	};

	wan0: interface@8 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,wan = <1>;
		mxl,dp-dev-port = <2>;
		mxl,dp-port-id = <2>;
		mxl,xgmac-id = <2>;
		phy-mode = "10gbase-kr";
		fixed-link {
			speed = <10000>;
			full-duplex;
			pause;
			asym-pause;
		};
		wan0_eth: ethernet@8 {
			compatible = "mxl,pdi-port";
			reg = <8>;
			phy-mode = "rgmii";
		};
	};
};

&vuni {
	status = "disabled";
};

&cqm_lgm {
	interrupt-parent = <&ioapic1>;
	interrupts = <196 1>, <197 1>, <198 1>, <199 1>,
		<200 1>, <201 1>, <202 1>, <203 1>;
};

&i2c0 {
	pmic: pmic@6a {
		compatible = "bd2653swv";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic_function>;
		reg = <0x6a>;
		interrupt-parent = <&gpio2>;
		interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;

		vdd_cpu0: BUCK0 {
			regulator-compatible = "buck0";
			regulator-name = "cpu0";
		};

		vdd_cpu1: BUCK1 {
			regulator-compatible = "buck1";
			regulator-name = "cpu1";
		};

		vdd_adp: BUCK2 {
			regulator-compatible = "buck2";
			regulator-name = "adp";
			regulator-min-microvolt = <0>;
			regulator-max-microvolt = <880000>;
		};

		vdd_roc: BUCK3 {
			regulator-compatible = "buck3";
			regulator-name = "roc";
		};
	};
};

&epu {
	vdd-cpu0-supply = <&vdd_cpu0>;
	vdd-cpu1-supply = <&vdd_cpu1>;
	vdd-adp-supply = <&vdd_adp>;
};

/* we do not use phy on simics model */
&emmc {
	compatible = "intel,lgm-sdhci-5.1-emmc";
	bus-width = <8>;
	non-removable;
};

&emmc_phy {
	status = "disabled";
};

&gptc0 {
	status = "disabled";
};

&gptc1 {
	status = "disabled";
};

&gptc2 {
	status = "disabled";
};

&gptc3 {
	status = "disabled";
};

&dma0 {
	status = "disabled";
};

&crypto {
	status = "disabled";
};

&vpn {
	status = "disabled";
};

&pvt {
	status = "disabled";
};

&ppv4 {
	num-syncqs = <0>;
	num-sessions = <64>;
	frag-mode = <0>;
};

&qos {
	enhanced-wsp = <0>;
};

&ing_uc {
	max-cpu = <0>;
};

&egr_uc {
	max-cpu = <0>;
};

&adp {
	status = "disabled";
};

&toe {
	status = "disabled";
};
