// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2020-2022 MaxLinear, Inc.
 * Copyright (C) 2019-2020 Intel Corporation.
 */

/dts-v1/;
#include "octopus_641_base.dtsi"
#include "octopus_641_sfp_eth_wan.dtsi"
#include "octopus_emmc.dtsi"
#include "octopus_641_led.dtsi"
#include "voice.dtsi"

&mac0_mdio {
	rtl8261phy: ethernet-phy@6 {
		reg = <0x1e>;
		compatible = "ethernet-phy-id001c.caf3", "ethernet-phy-ieee802.3-c45";
		interrupt-parent = <&ioapic1>;
	};
};

&aqsphylan {
	status = "disabled";
};

&lan1 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	compatible = "mxl,pdi";
	mxl,dp-dev-port = <4>;
	mxl,dp-port-id = <4>;
	mxl,dp-port-10g;
	mxl,xgmac-id = <4>;
	mac = <&gsw_mac2>;
	phy = <&rtl8261phy>;
	phy-mode = "usxgmii";

	lan1_eth: ethernet@1 {
		compatible = "mxl,pdi-port";
		reg = <1>;
		phy-handle = <&rtl8261phy>;
		phy-mode = "usxgmii";
	};
};

&i2c_expander {
	status = "okay";

	/* 10GPHY:B2/3: x, 0,  MoCA:C0/1: 1,x,  GSW140: B0/1  0,x */
	/* select 10GPHY and GSW140 by default */
	analog_sw_sel1 {
		gpio-hog;
		gpios = <3 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "analog_sw_sel1";
	};

	analog_sw_sel2 {
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "analog_sw_sel2";
	};

	/* 0 - 10GPHY,  1 - MOCA,  2 - GSW140 */
	reset_10gphy {
		gpio-hog;
		gpios = <0 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "10gphy-reset";
	};
};

&hsior_xpcs0 {
	xpcs-mode = <6>; /* <0> - SGMII, <1> - 1000BaseX, <2> - 2500BaseX, <3> - 5GBaseR, <4> - 10GBaseR, <5> - USXGMII, <6> - 10GKR, <7> - QUSXGMII */
	status = "okay";
};

&pcie20 {
	status = "disabled";
};

&combophy2 { /* PCIe20/21, HSIOR_XPCS0/1, SATA20/21 */
	status = "okay";
};

&i2c3 {
	status = "okay";
};
