// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2023 MaxLinear, Inc.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License, as published by the Free
 * Software Foundation; either version 2 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, see <http://www.gnu.org/licenses/>.
 */

&i2c_mux {
	i2c@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <1>;

		hwmon@68 {
			compatible = "ltc2945";
			reg = <0x68>;
			ltc2945,resistor = <10>; /* the unit is mohm */
			rail-name = "V0P8_PCIE";
		};
		hwmon@69 {
			compatible = "ltc2945";
			reg = <0x69>;
			ltc2945,resistor = <20>; /* the unit is mohm */
			rail-name = "SOC_V3P3";
		};
		hwmon@6a {
			compatible = "ltc2945";
			reg = <0x6a>;
			ltc2945,resistor = <20>; /* the unit is mohm */
			rail-name = "PGA_V3P3";
		};
		hwmon@6b {
			compatible = "ltc2945";
			reg = <0x6b>;
			ltc2945,resistor = <5>; /* the unit is mohm */
			rail-name = "V7P8_UBPGA";
		};
		hwmon@6c {
			compatible = "ltc2945";
			reg = <0x6c>;
			ltc2945,resistor = <20>; /* the unit is mohm */
			rail-name = "V3P3_SYS";
		};
		hwmon@6d {
			compatible = "ltc2945";
			reg = <0x6d>;
			ltc2945,resistor = <10>; /* the unit is mohm */
			rail-name = "SOC_V1P8";
		};
		hwmon@6e {
			compatible = "ltc2945";
			reg = <0x6e>;
			ltc2945,resistor = <3>; /* the unit is mohm */
			rail-name = "V0P8_CORE";
		};
		hwmon@6f {
			compatible = "ltc2945";
			reg = <0x6f>;
			ltc2945,resistor = <10>; /* the unit is mohm */
			rail-name = "SOC_V1P2";
		};
	};
};
