// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2024 MaxLinear, Inc.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/thermal/thermal.h>

#include "lightning_mountain_c.dtsi"
#include "firewall_domain.dtsi"
#include "noc_firewall.dtsi"
#include "lgp_thermal.dtsi"

/ {
	model = "mxl,octopus-640";

	chosen {
		/* ramfs */
		bootargs = "earlycon console=ttyLTQ0,115200n8r root=/dev/ram init=/init maxcpus=2 initcall_debug=0 clk_ignore_unused loglevel=8";
		stdout-path = "serial0";
	};
};

/* EMMC setting */
&emmc {
	status = "disabled";
	bus-width = <8>;
	non-removable;
	no-mmc-hs400;
};

&emmc_phy {
	status = "disabled";
};

/* ebu nand */
&ebu_nand {
	status = "disabled";
	nand,cs = <1>;
	nand-ecc-mode = "hw";
	nand-ecc-algo = "bch";
	nand-ecc-strength = <8>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ebu_nand_base &pinctrl_ebu_nand_cs1>;
};

/* qpsi nand */
&pinctrl_qspi {
	intel,slew-rate = <1>;
	intel,drive-current = <3>;
};

&qspi0 {
	status = "disabled";
	mxl-spinand@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mxl,spinand";
		reg = <1 1>;
		linux,mtd-name = "nand.0";
		spi-max-frequency = <50000000>;
		page-size = <2048>;
		block-size = <17>; // 2^17, 128KB
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_qspi &pinctrl_qspi_cs1>;

		read-delay = <3>;
		tshsl-ns = <200>;
		tsd2d-ns = <255>;
		tchsh-ns = <20>;
		tslch-ns = <20>;

		partition@0 {
		    reg = <0x0 0x80000>;
		    label = "uboot";
		    read-only;
		};

		partition@c0000 {
		    reg = <0xc0000 0x500000>;
		    label = "uboot_env";
		};

		partition@800000 {
		    reg = <0x800000 0x800000>;
		    label = "image0";
		};

		partition@1000000 {
		    reg = <0x1000000 0x20000>;
		    label = "image1";
		};
	};
};

&gphy0 {
	status = "disabled";
	reg = <0x10>;
};

&gphy1 {
	status = "disabled";
	reg = <0x11>;
};

&gphy2 {
	status = "disabled";
	reg = <0x12>;
};

&gphy3 {
	status = "disabled";
	reg = <0x13>;
};

/******************************************************************************
 ** Board configuration: XPCS SERDES Parameters
 ******************************************************************************/
&wan_xpcs {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <0 0 0 0 0 0 0 0>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&lan_xpcs {
	rx_attn_lvl = <0 0 0 7 7 7 7 7>;
	rx_ctle_boost = <18 18 18 0 0 0 0 0>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 1 1 1 1 1>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <0 0 0 0 0 0 0 0>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 40 40 40 40 40>;
	tx_eq_pre = <4 4 4 0 0 0 0 0>;
	tx_eq_post = <4 4 4 0 0 0 0 0>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&hsior_xpcs0 {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <1 1 1 1 1 1 1 1>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&hsior_xpcs1 {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <1 1 1 1 1 1 1 1>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

/* PCIe */
&pcie10 { /* WiFI */
	status = "okay";
	reset-assert-ms = <200>;
	reset-gpios = <&gpio2 20 GPIO_ACTIVE_LOW>; /* GPIO 84 */
	num-lanes = <2>;
	phys = <&cb0phy0 PHY_TYPE_PCIE_DL>;
};

&pcie20 { /* Docsis */
	status = "okay";
	reset-assert-ms = <200>;
	reset-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>; /* GPIO 43 */
	num-lanes = <2>;
	phys = <&cb2phy0 PHY_TYPE_PCIE_DL>;
};

/ {
	aliases {
		eth0_1 = &lan1; /* 10G  LAN    */
		eth0_2 = &lan2; /* P34x port 0 */
		eth0_3 = &lan3; /* P34x Port 1 */
		eth0_4 = &lan4; /* P34x Port 2 */
		eth0_5 = &lan5; /* P34x port 3 */
		eth0_6 = &lan6; /* GSWP 120    */
		eth0_7 = &lan7; /* GPY  215    */
		eth0_8 = &lan8; /* AIC 10GPHY  */
	};

	usb_vbus:regulator-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb0_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio0 2 1>;
		enable-active-low;
	};
};

/* USB */
&usb1_phy {
	status = "okay";
	vbus-supply = <&usb_vbus>;
};

&usb1 {
	status = "okay";
};

/* I2C */
&i2c0 {
	status = "okay";

	pmic: pmic@6a {
		compatible = "bd2653swv";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic_function>;
		reg = <0x6a>;
		interrupt-parent = <&gpio2>;
		interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;

		vdd_cpu0: BUCK0 {
			regulator-compatible = "buck0";
			regulator-name = "cpu0";
			regulator-min-microvolt = <0>;
			regulator-max-microvolt = <1200000>;
		};

		vdd_cpu1: BUCK1 {
			regulator-compatible = "buck1";
			regulator-name = "cpu1";
			regulator-min-microvolt = <0>;
			regulator-max-microvolt = <1200000>;
		};

		vdd_adp: BUCK2 {
			regulator-compatible = "buck2";
			regulator-name = "adp";
			regulator-min-microvolt = <0>;
			regulator-max-microvolt = <880000>;
		};

		vdd_roc: BUCK3 {
			regulator-compatible = "buck3";
			regulator-name = "roc";
		};
	};
};

&i2c1 {
	status = "disabled";
};

&i2c2 {

	status = "disabled";

	at24: at24@0x50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		status = "disabled";
	};
};

&i2c3 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	i2c_mux:i2c-mux@70 {
		status = "disabled";
		compatible = "nxp,pca9546";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		reset-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>; /* GPIO 18 */
	};

	i2c_expander:i2c_expander@44 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "diodes,pi4io";

		status = "disabled";
		reg = <0x44>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&pvt {
	rising-alarm = <85000>;
	rising-hsyt = <84500>;
	falling-alarm = <84500>;
	falling-hsyt = <85000>;
};

&epu {
	vdd-cpu0-supply = <&vdd_cpu0>;
	vdd-cpu1-supply = <&vdd_cpu1>;
	vdd-adp-supply = <&vdd_adp>;
};

/******************************************************************************
 ** Board configuration: Configure LAN/WAN interfaces
 ******************************************************************************/
/ {
	sfp_wan0: sfp-wan0 {
		status = "disabled";
		compatible = "sff,sfp";
		i2c-bus = <&i2c2>;
		los-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>; /* GPIO 69 */
		mod-def0-gpios = <&gpio2 18 GPIO_ACTIVE_LOW>; /* GPIO 82 */
		maximum-power-milliwatt = <3000>;
		tx-disable-gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>; /* GPIO 73 */
		tx-fault-gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>;  /* GPIO 72 */
	};
};

&pinctrl_mdio_mdc_lan {
	drive-strength = <3>;
};

&mac0_mdio {
	mdc-clkdiv = <62>;

	rtl8261phy_lan: ethernet-phy@0x1D {
		status = "disabled";

		reg = <0x1D>;
		compatible = "ethernet-phy-id001c.caf3", "ethernet-phy-ieee802.3-c45";
		interrupt-parent = <&ioapic1>;
	};

	rtl8261phy_wan: ethernet-phy@0x1C {
		status = "disabled";

		reg = <0x1C>;
		compatible = "ethernet-phy-id001c.caf3", "ethernet-phy-ieee802.3-c45";
		interrupt-parent = <&ioapic1>;
	};

	gphy4: ethernet-phy@0x1B {
		reg = <0x1B>;
		compatible = "ethernet-phy-ieee802.3-c45";
		interrupt-parent = <&ioapic1>;
	};
};

&eth {
	status = "okay";

	lan1: interface@1 {
		status = "disabled";

		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <5>;
		mxl,dp-port-id = <5>;
		mxl,xgmac-id = <5>;
		mxl,dp-port-10g;
		mac = <&gsw_mac3>;
		phy = <&rtl8261phy_lan>;
		phy-mode = "usxgmii";

		lan1_eth: ethernet@1 {
			compatible = "mxl,pdi-port";
			reg = <1>;
			phy-handle = <&rtl8261phy_lan>;
			phy-mode = "usxgmii";
		};
	};

	lan2: interface@2 { /* P34x 0 */
		status = "disabled";

		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <5>;
		mxl,dp-port-id = <5>;
		mxl,xgmac-id = <5>;
		mac = <&gsw_mac3>;
		p34x-xpcs-node = <&lan_xpcs>;
		managed = "in-band-status";
		phy = <&gphy0>;
		phy-mode = "sgmii";
		lan2_eth: ethernet@2 {
			compatible = "mxl,pdi-port";
			reg = <2>;
			phy-mode = "rgmii";
			phy-handle = <&gphy0>;
		};
	};

	lan3: interface@3 { /* P34x 1 */
		status = "disabled";

		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <6>;
		mxl,dp-port-id = <6>;
		mxl,xgmac-id = <6>;
		mac = <&gsw_mac4>;
		p34x-xpcs-node = <&lan_xpcs>;
		managed = "in-band-status";
		phy = <&gphy1>;
		phy-mode = "sgmii";
		lan3_eth: ethernet@3 {
			compatible = "mxl,pdi-port";
			reg = <3>;
			phy-mode = "rgmii";
			phy-handle = <&gphy1>;
		};
	};

	lan4: interface@4 { /* P34x 2 */
		status = "disabled";

		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <7>;
		mxl,dp-port-id = <7>;
		mxl,xgmac-id = <7>;
		mac = <&gsw_mac5>;
		p34x-xpcs-node = <&lan_xpcs>;
		managed = "in-band-status";
		phy = <&gphy2>;
		phy-mode = "sgmii";
		lan4_eth: ethernet@4 {
			compatible = "mxl,pdi-port";
			reg = <4>;
			phy-mode = "rgmii";
			phy-handle = <&gphy2>;
		};
	};

	lan5: interface@5 { /* P34x 3 */
		status = "disabled";

		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <8>;
		mxl,dp-port-id = <8>;
		mxl,xgmac-id = <8>;
		mac = <&gsw_mac6>;
		p34x-xpcs-node = <&lan_xpcs>;
		managed = "in-band-status";
		phy = <&gphy3>;
		phy-mode = "sgmii";
		lan5_eth: ethernet@5 {
			compatible = "mxl,pdi-port";
			reg = <5>;
			phy-mode = "rgmii";
			phy-handle = <&gphy3>;
		};
	};

	lan6: interface@6 { /* GSW 120 */
		status = "disabled";

		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "mxl,pdi";
		mxl,dp-dev-port = <10>;
		mxl,dp-port-id = <10>;
		mxl,xgmac-id = <10>;
		mac = <&gsw_mac8>;
		phy-mode = "2500base-x";

		fixed-link {
			speed = <2500>;
			full-duplex;
			pause;
			asym-pause;
		};

		lan6_eth: ethernet@1 {
			compatible = "mxl,pdi-port";
			reg = <6>;
		};
	};

	lan7: interface@7 { /* GPY 215 */
		status = "disabled";

		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <9>;
		mxl,dp-port-id = <9>;
		mxl,xgmac-id = <9>;
		mac = <&gsw_mac7>;
		phy = <&gphy4>;
		phy-mode = "sgmii";

		lan7_eth: ethernet@7 {
			compatible = "mxl,pdi-port";
			reg = <7>;
			phy-handle = <&gphy4>;
			phy-mode = "rgmii";
		};
	};

	lan8: interface@8 { /* AIC 10GPHY */
		status = "disabled";

		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <4>;
		mxl,dp-port-id = <4>;
		mxl,xgmac-id = <4>;
		mxl,dp-port-10g;
		mac = <&gsw_mac2>;
		phy-mode = "usxgmii";

		lan8_eth: ethernet@8 {
			compatible = "mxl,pdi-port";
			reg = <8>;
			phy-mode = "usxgmii";
		};
	};
};

&ssogpio {
	GSW120_gpio17 { /* put gsw120 out of reset */
		gpio-hog;
		gpios = <17 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "gsw120_enable";
	};

	GPY215_gpio16 { /* put gpy215 out of reset */
		gpio-hog;
		gpios = <16 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "gpy215_enable";
	};
};

/* P34x */
&p34x {
	status = "disabled";
};

&combophy3 {
	status = "okay";
};

&combophy2 {
	status = "okay";
};

&combophy1 {
	status = "okay";
};

&combophy0 {
	status = "okay";
};

/******************************************************************************
**  PCIE devices temperature sensor node definition
*******************************************************************************/
/ {
	wave_6_0: iwlwave@0 {
		compatible = "mxl,wave";
		wave-band = <2>;  /* 6GHz */
		/* type - 0/1,	param - param required for Cooling type
		 * type 0 for Duty Cycle, 1 for Antenna count
		 */
		max-cooling-state = <3>;
		cooling-states = <
			/* type param */
			1  3
			1  2
			1  1
		>;

		#thermal-sensor-cells = <0>;
		#cooling-cells = <2>;
	};

	wave_5_0: iwlwave@1 {
		compatible = "mxl,wave";
		wave-band = <0>;  /* 5GHz */
		/* type - 0/1,	param - param required for Cooling type
		 * type 0 for Duty Cycle, 1 for Antenna count
		 */
		max-cooling-state = <3>;
		cooling-states = <
			/* type param */
			1  3
			1  2
			1  1
		>;

		#thermal-sensor-cells = <0>;
		#cooling-cells = <2>;
	};

	wave_2_4: iwlwave@2 {
		compatible = "mxl,wave";
		wave-band = <1>;  /* 2.4GHz */
		/* type - 0/1,	param - param required for Cooling type
		 * type 0 for Duty Cycle, 1 for Antenna count
		 */
		max-cooling-state = <3>;
		cooling-states = <
			/* type param */
			1  3
			1  2
			1  1
		>;

		#thermal-sensor-cells = <0>;
		#cooling-cells = <2>;
	};
};

/******************************************************************************
 ** Board configuration: Configure DECT interfaces
 ******************************************************************************/
&ssc1 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1>;
	dect@0 {
		compatible = "intel,dect_spi";
		spi-max-frequency = <4000000>;
		reg = <0>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;
		interrupt-parent = <&gpio2>;
		reset-gpios = <&ssogpio 13 GPIO_ACTIVE_HIGH>;
		intel,dect-cs = <&gpio0 14 GPIO_ACTIVE_LOW >;
		spi-cpol;
		spi-cpha;
	};
};

&cgu0 {
	cgussc {
		#address-cells = <1>;
		#size-cells = <0>;

		/* SSC in LJPLL4 for PCIe */
		cgussc1: cgussc@110 {
			reg = <0x110>;
			intel,ssc-enable = <1>;
			intel,ssc-spread = <5>;
			intel,ssc-dir = <1>; /* 0: center, 1: down */
			intel,ssc-divval = <10>;
		};
	};
};

&pinctrl {
	pinctrl_ledc0_rst: ledc0_rst {
		intel,pins = <9>;
		function = "ssoled0_rst";
		pinmux = <0>;
		groups = "ledc0_rst";
	};
};

&pwm {
	status = "disabled";
	intel,fan-wire = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fan_ctrl_in_1 &pinctrl_fan_ctrl_out>;
};

&fan0 {
	status = "disabled";
	pwms = <&pwm 0 40000>;
	#cooling-cells = <2>;
	cooling-levels = <0 30 80 120 150 170 200 220 255>;
};

&crypto {
	inside-secure,no-of-pes = <1>;
};

/ {
	bbu: battery_backup {
		compatible = "mxl,power-bbu";
		status = "disabled";
	};
};
