// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2020-2022 MaxLinear, Inc.
 * Copyright (C) 2019-2020 Intel Corporation.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/thermal/thermal.h>

#include "lightning_mountain.dtsi"
#include "firewall_domain.dtsi"
#include "noc_firewall.dtsi"
#include "lgp_thermal.dtsi"

&pd_sata0 {
	status = "okay";
};

&pd_sata1 {
        status = "okay";
};

&pd_sata2 {
        status = "okay";
};

&pd_sata3 {
        status = "okay";
};

&pd_pcie10 {
        status = "okay";
};

&pd_pcie11 {
        status = "okay";
};

&pd_pcie20 {
        status = "okay";
};

&pd_pcie21 {
        status = "okay";
};

&pd_pcie40 {
        status = "okay";
};

&pd_pcie41 {
        status = "okay";
};

&pd_xpcs11 {
        status = "okay";
};

&pd_xpcs21 {
        status = "okay";
};

/* EMMC setting */
&emmc {
	status = "disabled";
	bus-width = <8>;
	non-removable;
	no-mmc-hs400;
};

&emmc_phy {
	status = "disabled";
};

&gphy0 {
	status = "okay";
	reg = <0x10>;
};

&gphy1 {
	status = "okay";
	reg = <0x11>;
};

&gphy2 {
	status = "okay";
	reg = <0x12>;
};

&gphy3 {
	status = "okay";
	reg = <0x13>;
};

/******************************************************************************
 ** Board configuration: XPCS SERDES Parameters
 ******************************************************************************/
&wan_xpcs {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <0 0 0 0 0 0 0 0>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&lan_xpcs {
	rx_attn_lvl = <0 0 0 7 7 7 7 7>;
	rx_ctle_boost = <18 18 18 0 0 0 0 0>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 1 1 1 1 1>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <0 0 0 0 0 0 0 0>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 40 40 40 40 40>;
	tx_eq_pre = <4 4 4 0 0 0 0 0>;
	tx_eq_post = <4 4 4 0 0 0 0 0>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&hsior_xpcs0 {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <1 1 1 1 1 1 1 1>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&hsior_xpcs1 {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <1 1 1 1 1 1 1 1>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

/* PCIe */
&pcie10 {
	status = "disabled";
	reset-assert-ms = <200>;
	reset-gpios = <&gpio2 20 GPIO_ACTIVE_LOW>; /* GPIO 84 */
	num-lanes = <2>;
	phys = <&cb0phy0 PHY_TYPE_PCIE_DL>;
};

&pcie20 {
	status = "disabled";
	reset-assert-ms = <200>;
	reset-gpios = <&gpio2 22 GPIO_ACTIVE_LOW>; /* GPIO 86 */
	num-lanes = <2>;
	phys = <&cb2phy0 PHY_TYPE_PCIE_DL>;
};

&pcie30 {
	status = "disabled";
	reset-assert-ms = <200>;
	reset-gpios = <&gpio2 10 GPIO_ACTIVE_LOW>; /* GPIO 74 */
	num-lanes = <2>;
	phys = <&cb1phy0 PHY_TYPE_PCIE_DL>;
};

&pcie40 {
	status = "disabled";
	reset-assert-ms = <200>;
	reset-gpios = <&gpio2 11 GPIO_ACTIVE_LOW>; /* GPIO 75 */
	num-lanes = <2>;
	phys = <&cb3phy0 PHY_TYPE_PCIE_DL>;
};


/ {
	aliases {
		eth0_1 = &lan1;
		eth0_2 = &lan2;
		eth0_3 = &lan3;
		eth0_4 = &lan4;
		eth0_5 = &lan5;
	};

	usb_vbus:regulator-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb0_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio0 2 1>;
		enable-active-low;
	};
};

&i2c0 {
	pmic: pmic@6a {
		compatible = "bd2653swv";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic_function>;
		reg = <0x6a>;
		interrupt-parent = <&gpio2>;
		interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;

		vdd_cpu0: BUCK0 {
			regulator-compatible = "buck0";
			regulator-name = "cpu0";
			regulator-min-microvolt = <0>;
			regulator-max-microvolt = <1200000>;
		};

		vdd_cpu1: BUCK1 {
			regulator-compatible = "buck1";
			regulator-name = "cpu1";
			regulator-min-microvolt = <0>;
			regulator-max-microvolt = <1200000>;
		};

		vdd_adp: BUCK2 {
			regulator-compatible = "buck2";
			regulator-name = "adp";
			regulator-min-microvolt = <0>;
			regulator-max-microvolt = <880000>;
		};

		vdd_roc: BUCK3 {
			regulator-compatible = "buck3";
			regulator-name = "roc";
		};
	};
};

&i2c1 {
	ptn5150_1: ptn5150@1d {
		compatible = "nxp,ptn5150";
		reg = <0x1d>;
		int-gpio = <&gpio0 3 GPIO_ACTIVE_LOW>;
		status = "okay";
	};
};

&i2c2 {
	at24: at24@0x50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		status = "disabled";
	};
};

&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	i2c_mux:i2c-mux@70 {
		status = "disabled";
		compatible = "nxp,pca9546";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x70>;
		reset-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
	};

	i2c_expander:i2c_expander@44 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "diodes,pi4io";

		status = "disabled";
		reg = <0x44>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&pvt {
   rising-alarm = <85000>;
   rising-hsyt = <84500>;
   falling-alarm = <84500>;
   falling-hsyt = <85000>;
};

&epu {
	vdd-cpu0-supply = <&vdd_cpu0>;
	vdd-cpu1-supply = <&vdd_cpu1>;
	vdd-adp-supply = <&vdd_adp>;
};

/******************************************************************************
 ** Board configuration: Configure LAN/WAN interfaces
 ******************************************************************************/
/ {
	sfp_wan0: sfp-wan0 {
		status = "disabled";
		compatible = "sff,sfp";
		i2c-bus = <&i2c2>;
		los-gpios = <&gpio2 5 GPIO_ACTIVE_HIGH>;
		mod-def0-gpios = <&gpio2 18 GPIO_ACTIVE_LOW>;
		maximum-power-milliwatt = <3000>;
		tx-disable-gpios = <&gpio2 9 GPIO_ACTIVE_HIGH>;
		tx-fault-gpios = <&gpio2 8 GPIO_ACTIVE_HIGH>;
	};
};

&pinctrl_mdio_mdc_lan {
	drive-strength = <3>;
};

&mac0_mdio {
	mdc-clkdiv = <62>;
	aqsphylan: ethernet-phy@4 {
		status = "disabled";
		reg = <0>;
		compatible = "ethernet-phy-ieee802.3-c45";
		interrupt-parent = <&ioapic1>;
	};
	aqsphywan: ethernet-phy@5 {
		status = "disabled";
		reg = <8>;
		compatible = "ethernet-phy-ieee802.3-c45";
		interrupt-parent = <&ioapic1>;
	};
};

&p34x {
	phyaddr = <0x10>;
};

&eth {
	status = "okay";

	lan1: interface@1 {
		status = "disabled";
	};

	lan2: interface@2 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <5>;
		mxl,dp-port-id = <5>;
		mxl,xgmac-id = <5>;
		mac = <&gsw_mac3>;
		p34x-xpcs-node = <&lan_xpcs>;
		managed = "in-band-status";
		phy = <&gphy0>;
		phy-mode = "sgmii";
		lan2_eth: ethernet@2 {
			compatible = "mxl,pdi-port";
			reg = <2>;
			phy-mode = "rgmii";
			phy-handle = <&gphy0>;
		};
	};

	lan3: interface@3 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <6>;
		mxl,dp-port-id = <6>;
		mxl,xgmac-id = <6>;
		mac = <&gsw_mac4>;
		p34x-xpcs-node = <&lan_xpcs>;
		managed = "in-band-status";
		phy = <&gphy1>;
		phy-mode = "sgmii";
		lan3_eth: ethernet@3 {
			compatible = "mxl,pdi-port";
			reg = <3>;
			phy-mode = "rgmii";
			phy-handle = <&gphy1>;
		};
	};

	lan4: interface@4 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <7>;
		mxl,dp-port-id = <7>;
		mxl,xgmac-id = <7>;
		mac = <&gsw_mac5>;
		p34x-xpcs-node = <&lan_xpcs>;
		managed = "in-band-status";
		phy = <&gphy2>;
		phy-mode = "sgmii";
		lan4_eth: ethernet@4 {
			compatible = "mxl,pdi-port";
			reg = <4>;
			phy-mode = "rgmii";
			phy-handle = <&gphy2>;
		};
	};

	lan5: interface@5 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <8>;
		mxl,dp-port-id = <8>;
		mxl,xgmac-id = <8>;
		mac = <&gsw_mac6>;
		p34x-xpcs-node = <&lan_xpcs>;
		managed = "in-band-status";
		phy = <&gphy3>;
		phy-mode = "sgmii";
		lan5_eth: ethernet@5 {
			compatible = "mxl,pdi-port";
			reg = <5>;
			phy-mode = "rgmii";
			phy-handle = <&gphy3>;
		};
	};

	wan0: interface@8 {
		status = "disabled";
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,wan = <1>;
		mxl,dp-dev-port = <2>;
		mxl,dp-port-id = <2>;
		mxl,dp-port-10g;
		mxl,xgmac-id = <2>;
		mxl,pon_hgu_sim = <0>;
		mac = <&gsw_mac0>;
		phy-mode = "10gbase-kr";
		wan0_eth: ethernet@8 {
			compatible = "mxl,pdi-port";
			reg = <0>;
			phy-mode = "10gbase-kr";
		};
	};
};

/******************************************************************************
**  PCIE devices temperature sensor node definition
*******************************************************************************/
/ {
	wave_6_0: iwlwave@0 {
		compatible = "mxl,wave";
		wave-band = <2>;  /* 6GHz */
		/* type - 0/1,	param - param required for Cooling type
		 * type 0 for Duty Cycle, 1 for Antenna count
		 */
		max-cooling-state = <3>;
		cooling-states = <
			/* type param */
			1  3
			1  2
			1  1
		>;

		#thermal-sensor-cells = <0>;
		#cooling-cells = <2>;
	};

	wave_5_0: iwlwave@1 {
		compatible = "mxl,wave";
		wave-band = <0>;  /* 5GHz */
		/* type - 0/1,	param - param required for Cooling type
		 * type 0 for Duty Cycle, 1 for Antenna count
		 */
		max-cooling-state = <3>;
		cooling-states = <
			/* type param */
			1  3
			1  2
			1  1
		>;

		#thermal-sensor-cells = <0>;
		#cooling-cells = <2>;
	};

	wave_2_4: iwlwave@2 {
		compatible = "mxl,wave";
		wave-band = <1>;  /* 2.4GHz */
		/* type - 0/1,	param - param required for Cooling type
		 * type 0 for Duty Cycle, 1 for Antenna count
		 */
		max-cooling-state = <3>;
		cooling-states = <
			/* type param */
			1  3
			1  2
			1  1
		>;

		#thermal-sensor-cells = <0>;
		#cooling-cells = <2>;
	};
};

/******************************************************************************
 ** Board configuration: Configure DECT interfaces
 ******************************************************************************/
&ssc1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1>;
	dect@0 {
		compatible = "intel,dect_spi";
		spi-max-frequency = <4000000>;
		reg = <0>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;
		interrupt-parent = <&gpio2>;
		reset-gpios = <&ssogpio 13 GPIO_ACTIVE_HIGH>;
		intel,dect-cs = <&gpio0 14 GPIO_ACTIVE_LOW >;
		spi-cpol;
		spi-cpha;
	};
};

&cgu0 {
	cgussc {
		#address-cells = <1>;
		#size-cells = <0>;

		/* SSC in LJPLL4 for PCIe */
		cgussc1: cgussc@110 {
			reg = <0x110>;
			intel,ssc-enable = <1>;
			intel,ssc-spread = <5>;
			intel,ssc-dir = <1>; /* 0: center, 1: down */
			intel,ssc-divval = <10>;
		};
	};
};

&pinctrl {
	pinctrl_ledc0_rst: ledc0_rst {
		intel,pins = <9>;
		function = "ssoled0_rst";
		pinmux = <0>;
		groups = "ledc0_rst";
	};
};

&ebu_nand {
	status = "disabled";
	nand,cs = <1>;
	nand-ecc-mode = "hw";
	nand-ecc-algo = "bch";
	nand-ecc-strength = <8>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ebu_nand_base &pinctrl_ebu_nand_cs1>;
};

&pwm {
	status = "disabled";
	intel,fan-wire = <2>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fan_ctrl_in_1 &pinctrl_fan_ctrl_out>;
};

&fan0 {
	status = "disabled";
	pwms = <&pwm 0 40000>;
	#cooling-cells = <2>;
	cooling-levels = <0 30 80 120 150 170 200 220 255>;
};

/ {
	bbu: battery_backup {
		compatible = "mxl,power-bbu";
		status = "okay";
	};
};

&cqm_lgm {
	mxl,cqm_clkrate = <800000000>;
};

&ppv4 {
	assigned-clocks = <&cgu0 LGM_CLK_PP_HW>;
	assigned-clock-rates = <600000000>;
};

&chipid {
	assigned-clocks = <&cgu0 LGM_CLK_NGI>;
	assigned-clock-rates = <600000000>;
};

#include "lgm_pinctrl.dtsi"

