// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2021-2024 MaxLinear, Inc.
 */

/* Select 10G PHY WAN */
&gpio1 {
	10GSFP_gpio38 {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "10G_SFP_select";
	};
};

/ {
	wan {
		ifname = "VANI0";
	};
};

&pon_eth {
	status = "okay";
};

&pon_ptp0 {
	status = "okay";
};

&pon_ptp1 {
	status = "okay";
};

&lpid_config {
	mxl,wan-mode = <LPID_WAN_PON>;
};

&ponmbox {
	status = "okay";
	/* I2C bus to the optical WAN transceiver */
	sfp = <&i2c2>;
};

&vuni {
	status = "okay";
	vani@0 {
		mxl,extra-subif = "VANI0", "VUNI0_0", "VUNI0_1", "VUNI0_2";
		mxl,extra-subif-type = <SUBIF_VANI0_0 SUBIF_VUNI0_0 SUBIF_VUNI0_1 SUBIF_VUNI0_2>;
		mxl,extra-subif-domain = <VUNI_BR_DOMAIN_NO VUNI_BR_DOMAIN_UC VUNI_BR_DOMAIN_MC VUNI_BR_DOMAIN_BC>;
		mxl,num_ip_host = <2>;
	};
};

&i2c2 {
	status = "okay";
};

&cqm_lgm {
	mxl,sram-size = <0x2eb00>;
};

&toe {
	mxl,sram-size = <0x51500>;
};

&ppv4 {
	qos@1000000 {
		wred-total-resources = <425984>;
	};
};

&gsw_mac0 {
	/* allow small packets for extended OMCI messaging */
	err-pkt-fwd-undersized;
	// err-pkt-fwd-errored;
};

#define CQM_SSB_SIZE (0xe900)
#define TOE_SSB_SIZE (0x80000 - CQM_SSB_SIZE)
&reserved_mem {
	toe_ssb_memaxi: memaxi {
		reg = <(0xbff00000 + CQM_SSB_SIZE) TOE_SSB_SIZE>;
	};
};

&toe {
	mxl,sram-gb = <7>;
	memory-region = <&toe_ssb_memaxi>;
	mxl,oc-mode = <0>;
};

&cqm_sram {
	reg = <0x0 CQM_SSB_SIZE>;
};

&toe_sram {
	reg = <CQM_SSB_SIZE TOE_SSB_SIZE>;
};
