if UBOOT_CONFIG_TARGET_CHILIBOARD

config UBOOT_CONFIG_SYS_BOARD
	default "chiliboard"

config UBOOT_CONFIG_SYS_VENDOR
	default "grinn"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "chiliboard"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

endif
