if UBOOT_CONFIG_TARGET_MX7DSABRESD

config UBOOT_CONFIG_SYS_BOARD
	default "mx7dsabresd"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "mx7dsabresd"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/freescale/mx7dsabresd/imximage.cfg"

endif
