#
# Central Buffer Manager(CBM) configuration
#
menu "CQM_LGM"
config IOC_POOL
	bool "IOC CPU POOL"
	depends on MXL_CBM
	help
	Turn on this option to enable IOC CPU POOL

config LGM_CQM_CPUBUF_RET_DC
	bool "CQM CPU buffer return to DC"
	depends on LGM_CQM && INTEL_MCPY
	help
	  LGM CQM feature that returns CPU buffer through DC ring

endmenu
