
menu "PPA"

config PPA
        bool "Protocol Processing Accelerator"
        depends on SOC_LGM
        help
        Protocol Acceleration Engine

if PPA 

config PPA_API_DIRECTCONNECT
        bool "Direct connect Support for SOC"
        help
        Direct connect Support (e.g. WLAN) for PPA

config PPA_API_SW_FASTPATH
       bool "PPA software acceleration"
       default y
       help       
       PPA software acceleration enable

config PPA_TCP_LITEPATH
       bool "TCP litepath"
       depends on PPA_API_SW_FASTPATH
       default y
       help       
       PPA local TCP session Acceleration

config PPA_EXT_PKT_LEARNING
        bool "External packet learning driver"
        depends on (X86_INTEL_LGM || SOC_LGM)
        help
            External packet learning driver support for PPA

config PPA_BBF247_MODE1
        bool "BBF247 HGU Mode1 Feature"
        help
            BBF247 HGU Mode support in PPA driver

config PPA_UDP_LITEPATH
       bool "UDP litepath"
       depends on PPA_API_SW_FASTPATH
       default y
       help
       PPA local UDP session Acceleration
endif # PPA
endmenu
