syntax: glob

Makefile.in

ABOUT-NLS
.built*
.configured*
.prepared*
.version*
.dep_files
.copyarea.db
compile
depcomp
install-sh
missing
unit_tests/deps/
unit_tests/gmock-all.cc
unit_tests/gtest-all.cc
unit_tests/gtest_main.cc
unit_tests/html/
unit_tests/run_tests
aclocal.m4
autom4te.cache/

config.log
config.rpath
config.status
configure

stamp-h1
*.h.in

ipkg*/

.deps/

# ignore build dirs except some specific ones
build*/
!build_win32
/build_win32/unit_tests/vc15/packages/

*.pyc
*.a
*.o
*.gcda
*.gcno
*.orig
*tar.gz
tags

config.h
src/drv_pon_mbox_config.h

# Linux module
*.ko.cmd
*.ko
*.o.cmd
*.o.d
*.mod.c
*.mod
*.mod.cmd
*.order.cmd
Kbuild
Module.symvers
.Module.symvers.cmd
modules.order

# checkpatch output files
.checkpatch-camelcase*

# Code::Blocks project files
*.depend
*.layout

# VC8 project files
*.user
*.suo
*.ncb
*.sdf
Debug*/
Release*/

# VIM
*.swp

cscope.*

# backup files
*.bak
*~

# LaTeX documentation
doc/latex/d?/
doc/latex/*.{pdf,aux,dot,eps}
doc/latex/{annotated,variables,todo,modules,files,dirs}.tex
doc/latex/refman.{tex,toc,idx,ilg,ind,log,out}
doc/latex/dir_*.tex
doc/latex/doxygen.sty
doc/latex/*.ttf

doc/html
doc/xml
.metadata
.cproject

.pkgdir/
Module.symvers.tmp
.cache.mk
