config UBOOT_CONFIG_SPL_ALTERA_SDRAM
	bool "SoCFPGA DDR SDRAM driver in SPL"
	depends on UBOOT_CONFIG_SPL
	depends on UBOOT_CONFIG_TARGET_SOCFPGA_GEN5 || UBOOT_CONFIG_TARGET_SOCFPGA_ARRIA10 || UBOOT_CONFIG_TARGET_SOCFPGA_SOC64
	select UBOOT_CONFIG_RAM if TARGET_SOCFPGA_GEN5 || UBOOT_CONFIG_TARGET_SOCFPGA_SOC64
	select UBOOT_CONFIG_SPL_RAM if TARGET_SOCFPGA_GEN5 || UBOOT_CONFIG_TARGET_SOCFPGA_SOC64
	help
	  Enable DDR SDRAM controller for the SoCFPGA devices.
