config UBOOT_CONFIG_YAFFS_DIRECT
	bool

config UBOOT_CONFIG_YAFFS_PROVIDE_DEFS
	bool

config UBOOT_CONFIG_YAFFSFS_PROVIDE_VALUES
	bool

config UBOOT_CONFIG_YAFFS2
	bool "YAFFS2 filesystem support"
	select UBOOT_CONFIG_YAFFS_DIRECT
	select UBOOT_CONFIG_YAFFS_PROVIDE_DEFS
	select UBOOT_CONFIG_YAFFSFS_PROVIDE_VALUES
	help
	  This provides access to YAFFS2 filesystems. Yet Another Flash
	  Filesystem 2 is a filesystem designed specifically for NAND flash.
	  It incorporates bad-block management and ensures that device
	  writes are sequential regardless of filesystem activity.
