if UBOOT_CONFIG_TARGET_VEXPRESS_CA9X4

config UBOOT_CONFIG_SYS_BOARD
	default "vexpress"

config UBOOT_CONFIG_SYS_VENDOR
	default "armltd"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "vexpress_ca9x4"

endif
