config UBOOT_CONFIG_SYS_CONFIG_NAME
	string "Board configuration name"
	default "exynos78x0-common.h"
	help
	  This option contains information about board configuration name.
	  Based on this option include/configs/<CONFIG_SYS_CONFIG_NAME>.h header
	  will be used for board configuration.

if UBOOT_CONFIG_TARGET_A5Y17LTE
config UBOOT_CONFIG_SYS_BOARD
	default "axy17lte"
	help
	  a5y17lte is a production board for SM-A520F phone on Exynos7880 SoC.

config UBOOT_CONFIG_SYS_VENDOR
	default "samsung"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "a5y17lte"

config UBOOT_CONFIG_EXYNOS7880
    bool "Exynos 7880 SOC support"
    default y
endif

if UBOOT_CONFIG_TARGET_A7Y17LTE
config UBOOT_CONFIG_SYS_BOARD
	default "axy17lte"
	help
	  a5y17lte is a production board for SM-A520F phone on Exynos7880 SoC.

config UBOOT_CONFIG_SYS_VENDOR
	default "samsung"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "a5y17lte"

config UBOOT_CONFIG_EXYNOS7880
    bool "Exynos 7880 SOC support"
    default y
endif

if UBOOT_CONFIG_TARGET_A3Y17LTE
config UBOOT_CONFIG_SYS_BOARD
	default "axy17lte"
	help
	  a3y17lte is a production board for SM-A520F phone on Exynos7880 SoC.

config UBOOT_CONFIG_SYS_VENDOR
	default "samsung"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "a3y17lte"

config UBOOT_CONFIG_EXYNOS7870
    bool "Exynos 7870 SOC support"
    default y
endif
