if UBOOT_CONFIG_TARGET_SAMA5D2_ICP

config UBOOT_CONFIG_SYS_BOARD
	default "sama5d2_icp"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmel"

config UBOOT_CONFIG_SYS_SOC
	default "at91"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "sama5d2_icp"

endif
