if UBOOT_CONFIG_ARCH_MESON

config UBOOT_CONFIG_MESON64_COMMON
	bool
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_CLK
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_SYSCON
	select UBOOT_CONFIG_REGMAP
	select UBOOT_CONFIG_PWRSEQ
	select UBOOT_CONFIG_MMC_PWRSEQ
	select UBOOT_CONFIG_BOARD_LATE_INIT
	imply CMD_DM

config UBOOT_CONFIG_MESON_GX
	bool
	select UBOOT_CONFIG_MESON64_COMMON

choice
	prompt "Platform select"
	default UBOOT_CONFIG_MESON_GXBB

config UBOOT_CONFIG_MESON_GXBB
	bool "GXBB"
	select UBOOT_CONFIG_MESON_GX
	help
	  Select this if your SoC is an S905

config UBOOT_CONFIG_MESON_GXL
	bool "GXL"
	select UBOOT_CONFIG_MESON_GX
	help
	  Select this if your SoC is an S905X/D or S805X

config UBOOT_CONFIG_MESON_GXM
	bool "GXM"
	select UBOOT_CONFIG_MESON_GX
	help
	  Select this if your SoC is an S912

config UBOOT_CONFIG_MESON_AXG
	bool "AXG"
	select UBOOT_CONFIG_MESON64_COMMON
	help
	  Select this if your SoC is an A113X/D

config UBOOT_CONFIG_MESON_G12A
	bool "G12A"
	select UBOOT_CONFIG_MESON64_COMMON
	help
	  Select this if your SoC is an S905X/D2

endchoice

config UBOOT_CONFIG_SYS_SOC
	default "meson"

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x1000

config UBOOT_CONFIG_SYS_VENDOR
	string "Vendor name"
	default "amlogic"
	help
	  This option contains information about board name.
	  Based on this option board/<CONFIG_SYS_VENDOR>/<CONFIG_SYS_BOARD> will
	  be used.

config UBOOT_CONFIG_SYS_BOARD
	string "Board name"
	default "p200" if UBOOT_CONFIG_MESON_GXBB
	default "p212" if UBOOT_CONFIG_MESON_GXL
	default "q200" if UBOOT_CONFIG_MESON_GXM
	default "s400" if UBOOT_CONFIG_MESON_AXG
	default "u200" if UBOOT_CONFIG_MESON_G12A
	default ""
	help
	  This option contains information about board name.
	  Based on this option board/<CONFIG_SYS_VENDOR>/<CONFIG_SYS_BOARD> will
	  be used.

config UBOOT_CONFIG_SYS_CONFIG_NAME
	string "Board configuration name"
	default "meson64"
	help
	  This option contains information about board configuration name.
	  Based on this option include/configs/<CONFIG_SYS_CONFIG_NAME>.h header
	  will be used for board configuration.

endif
