if UBOOT_CONFIG_TARGET_T1040RDB || UBOOT_CONFIG_TARGET_T1040D4RDB || \
	TARGET_T1042RDB || UBOOT_CONFIG_TARGET_T1042D4RDB || \
	TARGET_T1042RDB_PI

config UBOOT_CONFIG_SYS_BOARD
	default "t104xrdb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "T104xRDB"

source "../../../board/freescale/common/Kconfig"

endif
