if UBOOT_CONFIG_TARGET_QEMU_PPCE500

config UBOOT_CONFIG_SYS_BOARD
	default "qemu-ppce500"

config UBOOT_CONFIG_SYS_VENDOR
	default "emulation"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "qemu-ppce500"

config UBOOT_CONFIG_PLATFORM_BUS_MAP_ADDR
	hex
	default 0xf0000000
	help
	  The QEMU platform bus base mapped address in the virtual memory space.

endif
