if UBOOT_CONFIG_ARCH_S5PC1XX

choice
	prompt "S5PC1XX board select"
	optional

config UBOOT_CONFIG_TARGET_S5P_GONI
	bool "S5P Goni board"
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_BLK
	select UBOOT_CONFIG_DM_MMC

config UBOOT_CONFIG_TARGET_SMDKC100
	bool "Support smdkc100 board"
	select UBOOT_CONFIG_OF_CONTROL

endchoice

config UBOOT_CONFIG_SYS_SOC
	default "s5pc1xx"

source "../../../board/samsung/goni/Kconfig"
source "../../../board/samsung/smdkc100/Kconfig"

endif
