if UBOOT_CONFIG_TARGET_KONTRON_MX8MM

config UBOOT_CONFIG_SYS_BOARD
	string
	default "sl-mx8mm"

config UBOOT_CONFIG_SYS_VENDOR
	string
	default "kontron"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	string
	default "kontron-sl-mx8mm"

endif
