if UBOOT_CONFIG_TARGET_ODROID_GO2

config UBOOT_CONFIG_SYS_BOARD
	default "odroid_go2"

config UBOOT_CONFIG_SYS_VENDOR
	default "hardkernel"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "odroid_go2"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
