if UBOOT_CONFIG_TARGET_SOCFPGA_ARRIA10_SOCDK

config UBOOT_CONFIG_SYS_CPU
	default "armv7"

config UBOOT_CONFIG_SYS_BOARD
	default "socfpga_arria10"

config UBOOT_CONFIG_SYS_VENDOR
	default "altera"

config UBOOT_CONFIG_SYS_SOC
	default "socfpga_arria10"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "socfpga_arria10"

endif
