if UBOOT_CONFIG_TARGET_KP_IMX6Q_TPC

config UBOOT_CONFIG_SYS_BOARD
	default "kp_imx6q_tpc"

config UBOOT_CONFIG_SYS_VENDOR
	default "k+p"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "kp_imx6q_tpc"

endif
