if UBOOT_CONFIG_ARCH_MX5

config UBOOT_CONFIG_MX5
	bool
	default y
	select UBOOT_CONFIG_GPT_TIMER

config UBOOT_CONFIG_MX51
	bool
	select UBOOT_CONFIG_ARM_CORTEX_A8_CVE_2017_5715
	select UBOOT_CONFIG_SYS_FSL_ERRATUM_ESDHC_A001

config UBOOT_CONFIG_MX53
	bool
	select UBOOT_CONFIG_ARM_CORTEX_A8_CVE_2017_5715

choice
	prompt "MX5 board select"
	optional

config UBOOT_CONFIG_TARGET_KP_IMX53
	bool "Support K+P imx53 board"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_ETH
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_I2C
	select UBOOT_CONFIG_DM_PMIC
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_DM_MMC
	select UBOOT_CONFIG_BLK
	select UBOOT_CONFIG_DM_REGULATOR
	select UBOOT_CONFIG_MX53
	imply CMD_DM

config UBOOT_CONFIG_TARGET_M53MENLO
	bool "Support m53menlo"
	select UBOOT_CONFIG_MX53
	select UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_TARGET_MX51EVK
	bool "Support mx51evk"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_MX51

config UBOOT_CONFIG_TARGET_MX53CX9020
	bool "Support CX9020"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_MX53
	imply CMD_DM

config UBOOT_CONFIG_TARGET_MX53LOCO
	bool "Support mx53loco"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_MX53

config UBOOT_CONFIG_TARGET_MX53PPD
	bool "Support mx53ppd"
	select UBOOT_CONFIG_MX53
	help
	  Enable support for the GE Healthcare PPD.

config UBOOT_CONFIG_TARGET_USBARMORY
	bool "Support USB armory"
	select UBOOT_CONFIG_MX53

endchoice

config UBOOT_CONFIG_SYS_SOC
	default "mx5"

source "../../../../board/beckhoff/mx53cx9020/Kconfig"
source "../../../../board/freescale/mx51evk/Kconfig"
source "../../../../board/freescale/mx53loco/Kconfig"
source "../../../../board/ge/mx53ppd/Kconfig"
source "../../../../board/inversepath/usbarmory/Kconfig"
source "../../../../board/k+p/kp_imx53/Kconfig"
source "../../../../board/menlo/m53menlo/Kconfig"

endif
