if UBOOT_CONFIG_TARGET_JZ4780_CI20

config UBOOT_CONFIG_SYS_BOARD
	default "ci20"

config UBOOT_CONFIG_SYS_VENDOR
	default "imgtec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ci20"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x80000000

endif
