# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

if UBOOT_CONFIG_SOC_LUTON

config UBOOT_CONFIG_SYS_VENDOR
	default "mscc"

config UBOOT_CONFIG_SYS_BOARD
	default "luton"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "luton"

endif
