config UBOOT_CONFIG_UT_OPTEE
	bool "Enable OP-TEE Unit Tests"
	depends on UBOOT_CONFIG_UNIT_TEST && UBOOT_CONFIG_OF_CONTROL && UBOOT_CONFIG_OPTEE
	default y
	help
	  This enables the 'ut optee' command which runs a series of unit
	  tests on the optee library code..
