if UBOOT_CONFIG_TARGET_PHYCORE_RK3288

config UBOOT_CONFIG_SYS_BOARD
	default "phycore_rk3288"

config UBOOT_CONFIG_SYS_VENDOR
	default "phytec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "phycore_rk3288"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
