# SPDX-License-Identifier: GPL-2.0

config QOS_NOTIFY
	bool "QoS NOTIFY"
	default y
	help
		This module provides API to publish and subscribe QoS
		events like queue addition, deletion etc. QOS_TC and QOS_MGR are the publisher
		of these events whereas PPA is the subscriber.
