if UBOOT_CONFIG_TARGET_SMEGW01

config UBOOT_CONFIG_SYS_BOARD
	default "smegw01"

config UBOOT_CONFIG_SYS_VENDOR
	default "storopack"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "smegw01"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/storopack/smegw01/imximage.cfg"

endif
