config UBOOT_CONFIG_RAM_SIFIVE
	bool "Ram drivers support for SiFive SoCs"
	depends on UBOOT_CONFIG_RAM && UBOOT_CONFIG_RISCV
	default y
	help
	  This enables support for ram drivers of SiFive SoCs.

config UBOOT_CONFIG_SIFIVE_DDR
	bool "SiFive DDR driver"
	depends on UBOOT_CONFIG_RAM_SIFIVE
	default y if UBOOT_CONFIG_TARGET_SIFIVE_UNLEASHED || UBOOT_CONFIG_TARGET_SIFIVE_UNMATCHED
	help
	  This enables DDR support for the platforms based on SiFive SoC.
