# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2018-2019 Texas Instruments Incorporated - http://www.ti.com/
#	Lokesh Vutla <lokeshvutla@ti.com>

choice
	prompt "K3 J721E based boards"
	optional

config UBOOT_CONFIG_TARGET_J721E_A72_EVM
	bool "TI K3 based J721E EVM running on A72"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_SOC_K3_J721E
	select UBOOT_CONFIG_BOARD_LATE_INIT
	imply TI_I2C_BOARD_DETECT
	select UBOOT_CONFIG_SYS_DISABLE_DCACHE_OPS

config UBOOT_CONFIG_TARGET_J721E_R5_EVM
	bool "TI K3 based J721E EVM running on R5"
	select UBOOT_CONFIG_CPU_V7R
	select UBOOT_CONFIG_SYS_THUMB_BUILD
	select UBOOT_CONFIG_SOC_K3_J721E
	select UBOOT_CONFIG_K3_LOAD_SYSFW
	select UBOOT_CONFIG_RAM
	select UBOOT_CONFIG_SPL_RAM
	select UBOOT_CONFIG_K3_DDRSS
	imply SYS_K3_SPL_ATF
	imply TI_I2C_BOARD_DETECT

config UBOOT_CONFIG_TARGET_J7200_A72_EVM
	bool "TI K3 based J7200 EVM running on A72"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_SOC_K3_J721E
	select UBOOT_CONFIG_BOARD_LATE_INIT
	imply TI_I2C_BOARD_DETECT
	select UBOOT_CONFIG_SYS_DISABLE_DCACHE_OPS

config UBOOT_CONFIG_TARGET_J7200_R5_EVM
	bool "TI K3 based J7200 EVM running on R5"
	select UBOOT_CONFIG_CPU_V7R
	select UBOOT_CONFIG_SYS_THUMB_BUILD
	select UBOOT_CONFIG_SOC_K3_J721E
	select UBOOT_CONFIG_K3_LOAD_SYSFW
	select UBOOT_CONFIG_RAM
	select UBOOT_CONFIG_SPL_RAM
	select UBOOT_CONFIG_K3_DDRSS
	imply SYS_K3_SPL_ATF
	imply TI_I2C_BOARD_DETECT

endchoice

if UBOOT_CONFIG_TARGET_J721E_A72_EVM

config UBOOT_CONFIG_SYS_BOARD
       default "j721e"

config UBOOT_CONFIG_SYS_VENDOR
       default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
       default "j721e_evm"

source "../../../board/ti/common/Kconfig"

endif

if UBOOT_CONFIG_TARGET_J721E_R5_EVM

config UBOOT_CONFIG_SYS_BOARD
       default "j721e"

config UBOOT_CONFIG_SYS_VENDOR
       default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
       default "j721e_evm"

config UBOOT_CONFIG_SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

source "../../../board/ti/common/Kconfig"

endif

if UBOOT_CONFIG_TARGET_J7200_A72_EVM

config UBOOT_CONFIG_SYS_BOARD
       default "j721e"

config UBOOT_CONFIG_SYS_VENDOR
       default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
       default "j721e_evm"

source "../../../board/ti/common/Kconfig"

endif

if UBOOT_CONFIG_TARGET_J7200_R5_EVM

config UBOOT_CONFIG_SYS_BOARD
       default "j721e"

config UBOOT_CONFIG_SYS_VENDOR
       default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
       default "j721e_evm"

config UBOOT_CONFIG_SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

source "../../../board/ti/common/Kconfig"

endif
