if UBOOT_CONFIG_TARGET_ETHERNUT5

config UBOOT_CONFIG_SYS_BOARD
	default "ethernut5"

config UBOOT_CONFIG_SYS_VENDOR
	default "egnite"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ethernut5"

endif
