# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2017, Bin Meng <bmeng.cn@gmail.com>

config UBOOT_CONFIG_NVME
	bool "NVM Express device support"
	depends on UBOOT_CONFIG_BLK && UBOOT_CONFIG_PCI
	select UBOOT_CONFIG_HAVE_BLOCK_DEVICE
	help
	  This option enables support for NVM Express devices.
	  It supports basic functions of NVMe (read/write).
