if UBOOT_CONFIG_TARGET_O4_IMX6ULL_NANO

config UBOOT_CONFIG_SYS_BOARD
	default "o4-imx6ull-nano"

config UBOOT_CONFIG_SYS_VENDOR
	default "out4"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "o4-imx6ull-nano"

choice
	prompt "Memory model"
	default UBOOT_CONFIG_K4B4G1646D_BCMA
	help
	    Memory type setup.

	    Please choose correct memory model here.

config UBOOT_CONFIG_K4B4G1646D_BCMA
	bool "K4B4G1646D-BCMA 256Mx16 (512 MiB/chip)"
	help
	    Samsung DDR3 SDRAM
	    K4B4G1646D-BCMA

config UBOOT_CONFIG_MT41K256M16HA_125E
	bool "MT41K256M16HA-125:E 256Mx16 (512 MiB/chip)"
	help
	    Micron DDR3L SDRAM
	    MT41K256M16HA-125:E

endchoice

choice
	prompt "Mainboard model"
	default UBOOT_CONFIG_O4_IMX_NANO
	help
	    Mainboard setup.

	    Please choose correct main board model here.

config UBOOT_CONFIG_O4_IMX_NANO
	bool "O4-iMX-NANO"
	help
	    A baseboard for EV-iMX280-NANO module:
	    https://out4.ru/products/board/18-o4-imx-nano.html

config UBOOT_CONFIG_EV_IMX280_NANO_X_MB
	bool "EV-IMX280-NANO-X-MB"
	help
	    A simple baseboard for EV-iMX280-NANO module:
	    http://evodbg.net/products/mx28-eval-kits/14-ev-imx280-nano-x-mb.html

endchoice

config UBOOT_CONFIG_IMX_CONFIG
	default "board/out4/o4-imx6ull-nano/K4B4G1646D-BCMA.cfg" if UBOOT_CONFIG_K4B4G1646D_BCMA
	default "board/out4/o4-imx6ull-nano/MT41K256M16HA-125E.cfg" if UBOOT_CONFIG_MT41K256M16HA_125E

config UBOOT_CONFIG_DEFAULT_DEVICE_TREE
	default "o4-imx-nano" if UBOOT_CONFIG_O4_IMX_NANO
	default "ev-imx280-nano-x-mb" if UBOOT_CONFIG_EV_IMX280_NANO_X_MB

endif
