if UBOOT_CONFIG_TARGET_PINEBOOK_PRO_RK3399

config UBOOT_CONFIG_SYS_BOARD
	default "pinebook-pro-rk3399"

config UBOOT_CONFIG_SYS_VENDOR
	default "pine64"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pinebook-pro-rk3399"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS
	def_bool y

endif
