if UBOOT_CONFIG_TARGET_M53MENLO

config UBOOT_CONFIG_SYS_BOARD
	default "m53menlo"

config UBOOT_CONFIG_SYS_VENDOR
	default "menlo"

config UBOOT_CONFIG_SYS_SOC
	default "mx5"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "m53menlo"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/menlo/m53menlo/imximage.cfg"

endif
