if UBOOT_CONFIG_TARGET_DA850EVM

config UBOOT_CONFIG_SYS_BOARD
	default "da8xxevm"

config UBOOT_CONFIG_SYS_VENDOR
	default "davinci"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "da850evm"

menuconfig UBOOT_CONFIG_DA850_MAC
	bool "Use MAC Address"
	default y

if UBOOT_CONFIG_DA850_MAC
config UBOOT_CONFIG_MAC_ADDR_IN_SPIFLASH
	bool "MAC address in SPI Flash"
	default y
	help
	  The OMAP-L138 and AM1808 SoM are programmed with
	  their MAC address in SPI Flash from the factory
	  Enable this option to read the MAC from SPI Flash

endif

endif

if UBOOT_CONFIG_TARGET_OMAPL138_LCDK

config UBOOT_CONFIG_SYS_BOARD
	default "da8xxevm"

config UBOOT_CONFIG_SYS_VENDOR
	default "davinci"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "omapl138_lcdk"

endif

source "../../../board/ti/common/Kconfig"
