# ignored files/dirs - please sort this file lexicographically
**/BCLSockServer/BCLSockServer
**/drvhlpr/drvhlpr
**/dump_handler/dump_handler
**/dutserver/linux/dutserver
**/rcvry_monitor/rcvry_monitor
**/rtlogger/logserver/linux/logserver
**/whm_handler/whm_handler
*.a
*.cmd
*.d
*.ko
*.logprep_ts
*.mod.c
*.o
*.scd
*.tmp
*.ver
*~
.cache.mk
.config
.config.old
.kernel_config_md5
.tmp_*
.vscode/
Kconfig.kernel
Kconfig.versions
build_*
logmacros.c
logmacros.h
modules
modules.order
