if UBOOT_CONFIG_TARGET_SAMA5D2_XPLAINED

config UBOOT_CONFIG_SYS_BOARD
	default "sama5d2_xplained"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmel"

config UBOOT_CONFIG_SYS_SOC
	default "at91"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "sama5d2_xplained"

endif
