if UBOOT_CONFIG_TARGET_ST_STM32MP15x

config UBOOT_CONFIG_SYS_BOARD
	default "stm32mp1"

config UBOOT_CONFIG_SYS_VENDOR
	default "st"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "stm32mp15_st_common"

source "../../../board/st/common/Kconfig"
endif
