if UBOOT_CONFIG_TARGET_PICO_IMX6UL

config UBOOT_CONFIG_SYS_BOARD
	default "pico-imx6ul"

config UBOOT_CONFIG_SYS_VENDOR
	default "technexion"

config UBOOT_CONFIG_SYS_SOC
	default "mx6"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pico-imx6ul"

endif
