# SPDX-License-Identifier: GPL-2.0
#
# MXL-TEE Trusted Execution Environment Configuration

config MXLTEE
	tristate "MXL-TEE"
	depends on SOC_MXL && SOC_LGM && MXL_ICC && MXL_MPS2 && MXL_SEC_GEN_POOL
	help
	  Enables MaxLinear's Trusted Execution Environment (TEE) driver.
	  This driver communicates with ARC-SEM TEP to perform secured operations.
