menuconfig UBOOT_CONFIG_SMEM
	bool  "SMEM (Shared Memory mamanger) support"

if UBOOT_CONFIG_SMEM

config UBOOT_CONFIG_SANDBOX_SMEM
    bool "Sandbox Shared Memory Manager (SMEM)"
    depends on UBOOT_CONFIG_SANDBOX && UBOOT_CONFIG_DM
    help
      enable SMEM support for sandbox. This is an emulation of a real SMEM
      manager.
      The sandbox driver allocates a shared memory from the heap and
      initialzies it on start.

config UBOOT_CONFIG_MSM_SMEM
    bool "Qualcomm Shared Memory Manager (SMEM)"
    depends on UBOOT_CONFIG_DM
    depends on UBOOT_CONFIG_ARCH_SNAPDRAGON || UBOOT_CONFIG_ARCH_IPQ40XX
    help
      Enable support for the Qualcomm Shared Memory Manager.
      The driver provides an interface to items in a heap shared among all
      processors in a Qualcomm platform.

endif # menu "SMEM Support"
