if UBOOT_CONFIG_TARGET_AM335X_SL50

config UBOOT_CONFIG_SYS_BOARD
	default "sl50"

config UBOOT_CONFIG_SYS_VENDOR
	default "tcl"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "am335x_sl50"

endif
