menu "SuperH architecture"
	depends on UBOOT_CONFIG_SH

config UBOOT_CONFIG_CPU_SH4
	bool

choice
	prompt "Target select"
	optional

config UBOOT_CONFIG_TARGET_R2DPLUS
	bool "Renesas R2D-PLUS"
	select UBOOT_CONFIG_CPU_SH4

endchoice

config UBOOT_CONFIG_SYS_ARCH
	default "sh"

config UBOOT_CONFIG_SYS_CPU
	default "sh4" if UBOOT_CONFIG_CPU_SH4

source "lib/Kconfig"

source "../../board/renesas/r2dplus/Kconfig"

endmenu
