if UBOOT_CONFIG_ARCH_EXYNOS

choice
	prompt "EXYNOS architecture type select"
	optional

config UBOOT_CONFIG_ARCH_EXYNOS4
	bool "Exynos4 SoC family"
	select UBOOT_CONFIG_BOARD_EARLY_INIT_F
	select UBOOT_CONFIG_CPU_V7A
	select UBOOT_CONFIG_BLK
	select UBOOT_CONFIG_DM_MMC
	help
	  Samsung Exynos4 SoC family are based on ARM Cortex-A9 CPU. There
	  are multiple SoCs in this family including Exynos4210, Exynos4412,
	  and Exynos4212.

config UBOOT_CONFIG_ARCH_EXYNOS5
	bool "Exynos5 SoC family"
	select UBOOT_CONFIG_BOARD_EARLY_INIT_F
	select UBOOT_CONFIG_CPU_V7A
	select UBOOT_CONFIG_SHA_HW_ACCEL
	imply CMD_HASH
	imply CRC32_VERIFY
	imply HASH_VERIFY
	imply USB_ETHER_ASIX
	imply USB_ETHER_RTL8152
	imply USB_ETHER_SMSC95XX
	select UBOOT_CONFIG_BLK
	select UBOOT_CONFIG_DM_MMC

	help
	  Samsung Exynos5 SoC family are based on ARM Cortex-A15 CPU (and
	  Cortex-A7 CPU in big.LITTLE configuration). There are multiple SoCs
	  in this family including Exynos5250, Exynos5420 and Exynos5800.

config UBOOT_CONFIG_ARCH_EXYNOS7
	bool "Exynos7 SoC family"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_BOARD_EARLY_INIT_F
	select UBOOT_CONFIG_BLK
	select UBOOT_CONFIG_DM_MMC
	help
	  Samsung Exynos7 SoC family are based on ARM Cortex-A57 CPU or
	  Cortex-A53 CPU (and some in a big.LITTLE configuration). There are
	  multiple SoCs in this family including Exynos7420.

endchoice

if UBOOT_CONFIG_ARCH_EXYNOS4

choice
	prompt "EXYNOS4 board select"

config UBOOT_CONFIG_TARGET_SMDKV310
	bool "Exynos4210 SMDKV310 board"
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_TARGET_TRATS
	bool "Exynos4210 Trats board"

config UBOOT_CONFIG_TARGET_S5PC210_UNIVERSAL
	bool "EXYNOS4210 Universal C210 board"

config UBOOT_CONFIG_TARGET_ORIGEN
	bool "Exynos4412 Origen board"
	select UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_TARGET_TRATS2
	bool "Exynos4412 Trat2 board"

config UBOOT_CONFIG_TARGET_ODROID
	bool "Exynos4412 Odroid board"

endchoice
endif

if UBOOT_CONFIG_ARCH_EXYNOS5

config UBOOT_CONFIG_SPL_GPIO
	default y

config UBOOT_CONFIG_SPL_LIBCOMMON_SUPPORT
	default y

config UBOOT_CONFIG_SPL_LIBGENERIC_SUPPORT
	default y

choice
	prompt "EXYNOS5 board select"

config UBOOT_CONFIG_TARGET_ODROID_XU3
	bool "Exynos5422 Odroid board"
	select UBOOT_CONFIG_OF_CONTROL

config UBOOT_CONFIG_TARGET_ARNDALE
	bool "Exynos5250 Arndale board"
	select UBOOT_CONFIG_ARM_ERRATA_773022
	select UBOOT_CONFIG_ARM_ERRATA_774769
	select UBOOT_CONFIG_CPU_V7_HAS_NONSEC
	select UBOOT_CONFIG_CPU_V7_HAS_VIRT
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_TARGET_SMDK5250
	bool "SMDK5250 board"
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_TARGET_SNOW
	bool "Snow board"
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_TARGET_SPRING
	bool "Spring board"
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_TARGET_SMDK5420
	bool "SMDK5420 board"
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_TARGET_PEACH_PI
	bool "Peach Pi board"
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SUPPORT_SPL

config UBOOT_CONFIG_TARGET_PEACH_PIT
	bool "Peach Pit board"
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_SUPPORT_SPL

endchoice
endif

if UBOOT_CONFIG_ARCH_EXYNOS7

choice
	prompt "EXYNOS7 board select"

config UBOOT_CONFIG_TARGET_ESPRESSO7420
	bool "ESPRESSO7420 board"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_ARMV8_MULTIENTRY
	select UBOOT_CONFIG_CLK_EXYNOS
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_PINCTRL
	select UBOOT_CONFIG_PINCTRL_EXYNOS7420
	select UBOOT_CONFIG_SUPPORT_SPL

config  UBOOT_CONFIG_TARGET_A5Y17LTE
	bool "Samsung SM-A520F board"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_CLK_EXYNOS
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_PINCTRL
	select UBOOT_CONFIG_PINCTRL_EXYNOS78x0
	select UBOOT_CONFIG_SUPPORT_SPL

config  UBOOT_CONFIG_TARGET_A7Y17LTE
	bool "Samsung SM-A520F board"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_CLK_EXYNOS
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_PINCTRL
	select UBOOT_CONFIG_PINCTRL_EXYNOS78x0
	select UBOOT_CONFIG_SUPPORT_SPL

config  UBOOT_CONFIG_TARGET_A3Y17LTE
	bool "Samsung SM-A520F board"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_CLK_EXYNOS
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_PINCTRL
	select UBOOT_CONFIG_PINCTRL_EXYNOS7880
	select UBOOT_CONFIG_SUPPORT_SPL

endchoice
endif

config UBOOT_CONFIG_SYS_SOC
	default "exynos"

source "../../../board/samsung/smdkv310/Kconfig"
source "../../../board/samsung/trats/Kconfig"
source "../../../board/samsung/universal_c210/Kconfig"
source "../../../board/samsung/origen/Kconfig"
source "../../../board/samsung/trats2/Kconfig"
source "../../../board/samsung/odroid/Kconfig"
source "../../../board/samsung/arndale/Kconfig"
source "../../../board/samsung/smdk5250/Kconfig"
source "../../../board/samsung/smdk5420/Kconfig"
source "../../../board/samsung/espresso7420/Kconfig"
source "../../../board/samsung/axy17lte/Kconfig"

config UBOOT_CONFIG_SPL_LDSCRIPT
	default "board/samsung/common/exynos-uboot-spl.lds" if UBOOT_CONFIG_ARCH_EXYNOS5 || UBOOT_CONFIG_ARCH_EXYNOS4

endif
