if UBOOT_CONFIG_TARGET_QEMU_ARM_32BIT || UBOOT_CONFIG_TARGET_QEMU_ARM_64BIT

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x00000000

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_CMD_QFW
	select UBOOT_CONFIG_QFW_MMIO
	imply VIRTIO_MMIO
	imply VIRTIO_PCI
	imply VIRTIO_NET
	imply VIRTIO_BLK

endif

if UBOOT_CONFIG_TARGET_QEMU_ARM_64BIT && !UBOOT_CONFIG_TFABOOT
config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS
	imply SYS_MTDPARTS_RUNTIME
	imply SET_DFU_ALT_INFO

source "../../../board/emulation/common/Kconfig"
endif
