if UBOOT_CONFIG_TARGET_PHYCORE_IMX8MM

config UBOOT_CONFIG_SYS_BOARD
	default "phycore_imx8mm"

config UBOOT_CONFIG_SYS_VENDOR
	default "phytec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "phycore_imx8mm"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/phytec/phycore_imx8mm/imximage-8mm-sd.cfg"

endif
