config UBOOT_CONFIG_A
	bool "A"
	default y

config UBOOT_CONFIG_A0
	bool "A0"
	depends on UBOOT_CONFIG_A
	default y
	help
	  This depends on A, so should be a submenu of A.

config UBOOT_CONFIG_A0_0
	bool "A1_0"
	depends on UBOOT_CONFIG_A0
	help
	  Submenus are created recursively.
	  This should be a submenu of A0.

config UBOOT_CONFIG_A1
	bool "A1"
	depends on UBOOT_CONFIG_A
	default y
	help
	  This should line up with A0.

choice
	prompt "choice"
	depends on UBOOT_CONFIG_A1
	help
	  Choice should become a submenu as well.

config UBOOT_CONFIG_A1_0
	bool "A1_0"

config UBOOT_CONFIG_A1_1
	bool "A1_1"

endchoice

config UBOOT_CONFIG_B
	bool "B"
	help
	  This is independent of A.

config UBOOT_CONFIG_C
	bool "C"
	depends on UBOOT_CONFIG_A
	help
	  This depends on A, but not a consecutive item, so can/should not
	  be a submenu.
