if UBOOT_CONFIG_TARGET_VERDIN_IMX8MM

config UBOOT_CONFIG_SYS_BOARD
	default "verdin-imx8mm"

config UBOOT_CONFIG_SYS_VENDOR
	default "toradex"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "verdin-imx8mm"

config UBOOT_CONFIG_TDX_CFG_BLOCK
	default y

config UBOOT_CONFIG_TDX_CFG_BLOCK_EXTRA
	default y

config UBOOT_CONFIG_TDX_HAVE_MMC
	default y

config UBOOT_CONFIG_TDX_HAVE_EEPROM_EXTRA
	default y

config UBOOT_CONFIG_TDX_CFG_BLOCK_DEV
	default "0"

config UBOOT_CONFIG_TDX_CFG_BLOCK_PART
	default "1"

# Toradex config block in eMMC, at the end of 1st "boot sector"
config UBOOT_CONFIG_TDX_CFG_BLOCK_OFFSET
	default "-512"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/toradex/verdin-imx8mm/imximage.cfg"

source "../../../board/toradex/common/Kconfig"

endif
