if UBOOT_CONFIG_TARGET_LION_RK3368

config UBOOT_CONFIG_SYS_BOARD
	default "lion_rk3368"

config UBOOT_CONFIG_SYS_VENDOR
	default "theobroma-systems"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "lion_rk3368"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

config UBOOT_CONFIG_ENV_SIZE
	default 0x2000

config UBOOT_CONFIG_ENV_OFFSET
	default 0x3c000 if UBOOT_CONFIG_ENV_IS_IN_SPI_FLASH

endif
