if UBOOT_CONFIG_TARGET_IMXRT1020_EVK

config UBOOT_CONFIG_SYS_BOARD
	string
	default "imxrt1020-evk"

config UBOOT_CONFIG_SYS_VENDOR
	string
	default "freescale"

config UBOOT_CONFIG_SYS_SOC
	string
	default "imxrt1020"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	string
	default "imxrt1020-evk"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/freescale/imxrt1020-evk/imximage.cfg"

endif
