# SPDX-License-Identifier: (GPL-2.0+ OR MIT)

config UBOOT_CONFIG_PINCTRL_MSCC
	bool

config UBOOT_CONFIG_PINCTRL_MSCC_OCELOT
	depends on UBOOT_CONFIG_SOC_OCELOT && UBOOT_CONFIG_PINCTRL_FULL && UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_PINCTRL_MSCC
	default y
	bool "Microsemi ocelot family pin control driver"
	help
	   Support pin multiplexing and pin configuration control on
	   Microsemi ocelot SoCs.

config UBOOT_CONFIG_PINCTRL_MSCC_LUTON
	depends on UBOOT_CONFIG_SOC_LUTON && UBOOT_CONFIG_PINCTRL_FULL && UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_PINCTRL_MSCC
	default y
	bool "Microsemi luton family pin control driver"
	help
	   Support pin multiplexing and pin configuration control on
	   Microsemi luton SoCs.

config UBOOT_CONFIG_PINCTRL_MSCC_JR2
	depends on UBOOT_CONFIG_SOC_JR2 && UBOOT_CONFIG_PINCTRL_FULL && UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_PINCTRL_MSCC
	default y
	bool "Microsemi jr2 family pin control driver"
	help
	    Support pin multiplexing and pin configuration control on
	    Microsemi jr2 SoCs.

config UBOOT_CONFIG_PINCTRL_MSCC_SERVALT
	depends on UBOOT_CONFIG_SOC_SERVALT && UBOOT_CONFIG_PINCTRL_FULL && UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_PINCTRL_MSCC
	default y
	bool "Microsemi servalt family pin control driver"
	help
	    Support pin multiplexing and pin configuration control on
	    Microsemi servalt SoCs.

config UBOOT_CONFIG_PINCTRL_MSCC_SERVAL
	depends on UBOOT_CONFIG_SOC_SERVAL && UBOOT_CONFIG_PINCTRL_FULL && UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_PINCTRL_MSCC
	default y
	bool "Microsemi serval family pin control driver"
	help
	    Support pin multiplexing and pin configuration control on
	    Microsemi serval SoCs.

