if UBOOT_CONFIG_TARGET_ROCK960_RK3399

config UBOOT_CONFIG_SYS_BOARD
	default "rock960_rk3399"

config UBOOT_CONFIG_SYS_VENDOR
	default "vamrs"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "rock960_rk3399"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
