# SPDX-License-Identifier: GPL-2.0
#
# Copyright 2019 Google LLC
#

config UBOOT_CONFIG_INTEL_APOLLOLAKE
	bool
	select UBOOT_CONFIG_FSP_VERSION2
	select UBOOT_CONFIG_HAVE_FSP
	select UBOOT_CONFIG_ARCH_MISC_INIT
	select UBOOT_CONFIG_USE_CAR
	select UBOOT_CONFIG_INTEL_SOC
	select UBOOT_CONFIG_INTEL_PMC
	select UBOOT_CONFIG_TPL_X86_TSC_TIMER_NATIVE
	select UBOOT_CONFIG_SPL_PCH
	select UBOOT_CONFIG_TPL_PCH
	select UBOOT_CONFIG_PCIEX_LENGTH_256MB
	select UBOOT_CONFIG_PCH
	select UBOOT_CONFIG_P2SB
	select UBOOT_CONFIG_SMP_AP_WORK
	select UBOOT_CONFIG_INTEL_GMA_SWSMISCI
	select UBOOT_CONFIG_ACPI_GNVS_EXTERNAL
	select UBOOT_CONFIG_TPL_OF_PLATDATA_PARENT
	select UBOOT_CONFIG_TPL_OF_PLATDATA_INST
	select UBOOT_CONFIG_TPL_READ_ONLY
	imply ENABLE_MRC_CACHE
	imply AHCI_PCI
	imply SCSI
	imply SCSI_AHCI
	imply SPI_FLASH
	imply USB
	imply USB_EHCI_HCD
	imply TPL
	imply SPL
	imply TPL_X86_16BIT_INIT
	imply TPL_OF_PLATDATA
	imply ACPI_PMC
	imply MMC
	imply DM_MMC
	imply MMC_PCI
	imply MMC_SDHCI
	imply CMD_MMC
	imply VIDEO_FSP
	imply PINCTRL_INTEL
	imply PINCTRL_INTEL_APL
	imply HAVE_VBT
	imply HAVE_X86_FIT
	imply INTEL_GPIO
	imply SMP
	imply HAVE_ITSS
	imply HAVE_P2SB
	imply CLK
	imply CMD_CLK
	imply CLK_INTEL
	imply ACPI_GPE
	imply INTEL_GMA_ACPI

if UBOOT_CONFIG_INTEL_APOLLOLAKE

config UBOOT_CONFIG_DCACHE_RAM_BASE
	default 0xfef00000

config UBOOT_CONFIG_DCACHE_RAM_SIZE
	default 0xc0000

config UBOOT_CONFIG_DCACHE_RAM_MRC_VAR_SIZE
	default 0xb0000

config UBOOT_CONFIG_CPU_SPECIFIC_OPTIONS
	def_bool y
	select UBOOT_CONFIG_SMM_TSEG
	select UBOOT_CONFIG_X86_RAMTEST

config UBOOT_CONFIG_SMM_TSEG_SIZE
	hex
	default 0x800000

config UBOOT_CONFIG_MMCONF_BASE_ADDRESS
	hex
	default 0xe0000000

config UBOOT_CONFIG_TPL_SIZE_LIMIT
	default 0x7800

config UBOOT_CONFIG_CPU_ADDR_BITS
	default 39

config UBOOT_CONFIG_APL_SPI_FLASH_BOOT
	bool "Support booting with SPI-flash driver instead memory-mapped SPI"
	select UBOOT_CONFIG_TPL_SPI_FLASH_SUPPORT
	select UBOOT_CONFIG_TPL_SPI
	select UBOOT_CONFIG_TPL_DM_SPI
	select UBOOT_CONFIG_TPL_DM_SPI_FLASH
	help
	  This enables SPI and SPI flash in TPL. Without the this only
	  available boot method is to use memory-mapped SPI. Since this is
	  actually fast and produces a TPL which is 7KB smaller, memory-mapped
	  SPI is the default.

config UBOOT_CONFIG_APL_BOOT_FROM_FAST_SPI_FLASH
	bool "Boot using SPI flash driver"
	select UBOOT_CONFIG_APL_SPI_FLASH_BOOT
	help
	  This option is separate from APL_SPI_FLASH_BOOT since it is useful to
	  be able to compare booting speed with the same build. Enable this to
	  use the SPI-flash driver to load SPL, U-Boot and FSP-M. For technical
	  reasons FSP-S is currently always loaded from memory-mapped SPI. See
	  Apollo Lake's arch_fsp_init_r() for details about that.

config UBOOT_CONFIG_VBT_ADDR
	default 0xff3f1000

endif
