if UBOOT_CONFIG_TARGET_ROCKPRO64_RK3399

config UBOOT_CONFIG_SYS_BOARD
	default "rockpro64_rk3399"

config UBOOT_CONFIG_SYS_VENDOR
	default "pine64"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "rockpro64_rk3399"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
