# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2020-2021 Texas Instruments Incorporated - https://www.ti.com/

choice
	prompt "K3 AM64 based boards"
	optional

config UBOOT_CONFIG_TARGET_AM642_A53_EVM
	bool "TI K3 based AM642 EVM running on A53"
	select UBOOT_CONFIG_ARM64
	select UBOOT_CONFIG_SOC_K3_AM642
	imply BOARD
	imply SPL_BOARD
	imply TI_I2C_BOARD_DETECT

config UBOOT_CONFIG_TARGET_AM642_R5_EVM
	bool "TI K3 based AM642 EVM running on R5"
	select UBOOT_CONFIG_CPU_V7R
	select UBOOT_CONFIG_SYS_THUMB_BUILD
	select UBOOT_CONFIG_K3_LOAD_SYSFW
	select UBOOT_CONFIG_SOC_K3_AM642
	select UBOOT_CONFIG_RAM
	select UBOOT_CONFIG_SPL_RAM
	select UBOOT_CONFIG_K3_DDRSS
	imply SYS_K3_SPL_ATF
	imply TI_I2C_BOARD_DETECT

endchoice

if UBOOT_CONFIG_TARGET_AM642_A53_EVM

config UBOOT_CONFIG_SYS_BOARD
       default "am64x"

config UBOOT_CONFIG_SYS_VENDOR
       default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
       default "am64x_evm"

source "../../../board/ti/common/Kconfig"

endif

if UBOOT_CONFIG_TARGET_AM642_R5_EVM

config UBOOT_CONFIG_SYS_BOARD
       default "am64x"

config UBOOT_CONFIG_SYS_VENDOR
       default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
       default "am64x_evm"

config UBOOT_CONFIG_SPL_LDSCRIPT
	default "arch/arm/mach-omap2/u-boot-spl.lds"

source "../../../board/ti/common/Kconfig"

endif
