if UBOOT_CONFIG_TARGET_DHCOMIMX6

config UBOOT_CONFIG_SYS_BOARD
	default "dh_imx6"

config UBOOT_CONFIG_SYS_VENDOR
	default "dhelectronics"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "dh_imx6"

endif
