if UBOOT_CONFIG_TARGET_K2E_EVM

config UBOOT_CONFIG_SYS_BOARD
	default "ks2_evm"

config UBOOT_CONFIG_SYS_VENDOR
	default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "k2e_evm"

endif

if UBOOT_CONFIG_TARGET_K2HK_EVM

config UBOOT_CONFIG_SYS_BOARD
	default "ks2_evm"

config UBOOT_CONFIG_SYS_VENDOR
	default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "k2hk_evm"

endif

if UBOOT_CONFIG_TARGET_K2L_EVM

config UBOOT_CONFIG_SYS_BOARD
	default "ks2_evm"

config UBOOT_CONFIG_SYS_VENDOR
	default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "k2l_evm"

endif

if UBOOT_CONFIG_TARGET_K2G_EVM

config UBOOT_CONFIG_SYS_BOARD
	default "ks2_evm"

config UBOOT_CONFIG_SYS_VENDOR
	default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "k2g_evm"

endif

source "../../../board/ti/common/Kconfig"
