# SPDX-License-Identifier: GPL-2.0

# depends on itself

config UBOOT_CONFIG_A
	bool "A"
	depends on UBOOT_CONFIG_A

# select itself

config UBOOT_CONFIG_B
	bool
	select UBOOT_CONFIG_B

# depends on each other

config UBOOT_CONFIG_C1
	bool "C1"
	depends on UBOOT_CONFIG_C2

config UBOOT_CONFIG_C2
	bool "C2"
	depends on UBOOT_CONFIG_C1

# depends on and select

config UBOOT_CONFIG_D1
	bool "D1"
	depends on UBOOT_CONFIG_D2
	select UBOOT_CONFIG_D2

config UBOOT_CONFIG_D2
	bool

# depends on and imply

config UBOOT_CONFIG_E1
	bool "E1"
	depends on UBOOT_CONFIG_E2
	imply E2

config UBOOT_CONFIG_E2
	bool "E2"

# property

config UBOOT_CONFIG_F1
	bool "F1"
	default UBOOT_CONFIG_F2

config UBOOT_CONFIG_F2
	bool "F2"
	depends on UBOOT_CONFIG_F1

# menu

menu "menu depending on its content"
	depends on UBOOT_CONFIG_G

config UBOOT_CONFIG_G
	bool "G"

endmenu
