menu "SPCR - System priority and configuration register"

choice
	prompt "Optimize"

config UBOOT_CONFIG_SPCR_OPT_UNSET
	bool "Don't set value"

config UBOOT_CONFIG_SPCR_OPT_NONE
	bool "No performance enhancement"

config UBOOT_CONFIG_SPCR_OPT_SPEC_READ
	bool "Performance enhancement by speculative read"

endchoice

if UBOOT_CONFIG_ARCH_MPC8308 || UBOOT_CONFIG_ARCH_MPC831X || UBOOT_CONFIG_ARCH_MPC837X

choice
	prompt "TSEC emergency priority"

config UBOOT_CONFIG_SPCR_TSECEP_UNSET
	bool "Don't set value"

config UBOOT_CONFIG_SPCR_TSECEP_0
	bool "Level 0 (lowest priority)"

config UBOOT_CONFIG_SPCR_TSECEP_1
	bool "Level 1"

config UBOOT_CONFIG_SPCR_TSECEP_2
	bool "Level 2"

config UBOOT_CONFIG_SPCR_TSECEP_3
	bool "Level 3 (highest priority)"

endchoice

endif

config UBOOT_CONFIG_SPCR_OPT
	hex
	default 0x0 if UBOOT_CONFIG_SPCR_OPT_UNSET
	default 0x0 if UBOOT_CONFIG_SPCR_OPT_NONE
	default 0x800000 if UBOOT_CONFIG_SPCR_OPT_SPEC_READ

config UBOOT_CONFIG_SPCR_TSECEP
	hex
	default 0x0 if UBOOT_CONFIG_SPCR_TSECEP_UNSET
	default 0x0 if UBOOT_CONFIG_SPCR_TSECEP_0
	default 0x100 if UBOOT_CONFIG_SPCR_TSECEP_1
	default 0x200 if UBOOT_CONFIG_SPCR_TSECEP_2
	default 0x300 if UBOOT_CONFIG_SPCR_TSECEP_3

config UBOOT_CONFIG_SPCR_TSEC1EP
	hex
	default 0x0 if UBOOT_CONFIG_SPCR_TSEC1EP_UNSET
	default 0x0 if UBOOT_CONFIG_SPCR_TSEC1EP_0
	default 0x100 if UBOOT_CONFIG_SPCR_TSEC1EP_1
	default 0x200 if UBOOT_CONFIG_SPCR_TSEC1EP_2
	default 0x300 if UBOOT_CONFIG_SPCR_TSEC1EP_3

config UBOOT_CONFIG_SPCR_TSEC2EP
	hex
	default 0x0 if UBOOT_CONFIG_SPCR_TSEC2EP_UNSET
	default 0x0 if UBOOT_CONFIG_SPCR_TSEC2EP_0
	default 0x1 if UBOOT_CONFIG_SPCR_TSEC2EP_1
	default 0x2 if UBOOT_CONFIG_SPCR_TSEC2EP_2
	default 0x3 if UBOOT_CONFIG_SPCR_TSEC2EP_3

endmenu
