if UBOOT_CONFIG_OMAP44XX

choice
	prompt "OMAP4 board select"
	optional

config UBOOT_CONFIG_TARGET_OMAP4_PANDA
	bool "TI OMAP4 PandaBoard"

config UBOOT_CONFIG_TARGET_OMAP4_SDP4430
	bool "TI OMAP4 SDP4430"

endchoice

config UBOOT_CONFIG_SYS_SOC
	default "omap4"

source "../../../../board/ti/panda/Kconfig"
source "../../../../board/ti/sdp4430/Kconfig"

endif
