if UBOOT_CONFIG_TARGET_AT91SAM9N12EK

config UBOOT_CONFIG_SYS_BOARD
	default "at91sam9n12ek"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmel"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "at91sam9n12ek"

endif
