if UBOOT_CONFIG_TARGET_EVB_AST2500

config UBOOT_CONFIG_SYS_BOARD
	default "evb_ast2500"

config UBOOT_CONFIG_SYS_VENDOR
	default "aspeed"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "evb_ast2500"

endif
