# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2020 Dario Binacchi <dariobin@libero.it>
#
config UBOOT_CONFIG_AM335X_LCD
	bool "Enable AM335x video support"
	help
	   Supports video output to an attached LCD panel.
