if UBOOT_CONFIG_BOARD_COMTREND_WAP5813N

config UBOOT_CONFIG_SYS_BOARD
	default "wap5813n"

config UBOOT_CONFIG_SYS_VENDOR
	default "comtrend"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "comtrend_wap5813n"

endif
