if UBOOT_CONFIG_TARGET_SHEEVAPLUG

config UBOOT_CONFIG_SYS_BOARD
	default "sheevaplug"

config UBOOT_CONFIG_SYS_VENDOR
	default "Marvell"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "sheevaplug"

endif
