config UBOOT_CONFIG_OPTEE_LIB
	bool "Support OPTEE library"
	default y if UBOOT_CONFIG_OPTEE || UBOOT_CONFIG_OPTEE_IMAGE
	help
	  Selecting this option will enable the shared OPTEE library code.

config UBOOT_CONFIG_OPTEE_IMAGE
	bool "Support OPTEE images"
	help
	  Selecting this option to boot OPTEE images.
	  This option enable the OPTEE specific checks done before booting
	  an OPTEE image created with mkimage

config UBOOT_CONFIG_BOOTM_OPTEE
	bool "Support OPTEE bootm command"
	select UBOOT_CONFIG_BOOTM_LINUX
	select UBOOT_CONFIG_OPTEE_IMAGE
	help
	  Select this command to enable chain-loading of a Linux kernel
	  via an OPTEE firmware.
	  The bootflow is BootROM -> u-boot -> OPTEE -> Linux in this case.
