if UBOOT_CONFIG_TARGET_JETSON_TK1

config UBOOT_CONFIG_SYS_BOARD
	default "jetson-tk1"

config UBOOT_CONFIG_SYS_VENDOR
	default "nvidia"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "jetson-tk1"

endif
