if UBOOT_CONFIG_OMAP34XX

# We only enable the clocks for the GPIO banks that a given board requies.
config UBOOT_CONFIG_OMAP3_GPIO_2
	bool
	default y if UBOOT_CONFIG_CMD_GPIO

config UBOOT_CONFIG_OMAP3_GPIO_3
	bool
	default y if UBOOT_CONFIG_CMD_GPIO

config UBOOT_CONFIG_OMAP3_GPIO_4
	bool
	default y if UBOOT_CONFIG_CMD_GPIO

config UBOOT_CONFIG_OMAP3_GPIO_5
	bool
	default y if UBOOT_CONFIG_CMD_GPIO

config UBOOT_CONFIG_OMAP3_GPIO_6
	bool
	default y if UBOOT_CONFIG_CMD_GPIO

choice
	prompt "OMAP3 board select"
	optional

config UBOOT_CONFIG_TARGET_AM3517_EVM
	bool "AM3517 EVM"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_I2C
	select UBOOT_CONFIG_DM_MMC
	select UBOOT_CONFIG_DM_SERIAL
	imply CMD_DM

config UBOOT_CONFIG_TARGET_OMAP3_BEAGLE
	bool "TI OMAP3 BeagleBoard"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_OMAP3_GPIO_5
	select UBOOT_CONFIG_OMAP3_GPIO_6
	imply CMD_DM

config UBOOT_CONFIG_TARGET_CM_T35
	bool "CompuLab CM-T3530 and CM-T3730 boards"
	select UBOOT_CONFIG_OMAP3_GPIO_2
	select UBOOT_CONFIG_OMAP3_GPIO_5
	select UBOOT_CONFIG_OMAP3_GPIO_6 if LED_STATUS

config UBOOT_CONFIG_TARGET_DEVKIT8000
	bool "TimLL OMAP3 Devkit8000"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_SERIAL
	imply CMD_DM

config UBOOT_CONFIG_TARGET_OMAP3_EVM
	bool "TI OMAP3 EVM"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_OMAP3_GPIO_2
	select UBOOT_CONFIG_OMAP3_GPIO_3
	select UBOOT_CONFIG_OMAP3_GPIO_5
	select UBOOT_CONFIG_OMAP3_GPIO_6
	imply CMD_DM

config UBOOT_CONFIG_TARGET_OMAP3_IGEP00X0
	bool "IGEP"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_OMAP3_GPIO_3
	select UBOOT_CONFIG_OMAP3_GPIO_5
	select UBOOT_CONFIG_OMAP3_GPIO_6
	imply CMD_DM

config UBOOT_CONFIG_TARGET_OMAP3_OVERO
	bool "OMAP35xx Gumstix Overo"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_OMAP3_GPIO_2
	select UBOOT_CONFIG_OMAP3_GPIO_3
	select UBOOT_CONFIG_OMAP3_GPIO_4
	select UBOOT_CONFIG_OMAP3_GPIO_5
	select UBOOT_CONFIG_OMAP3_GPIO_6
	imply CMD_DM

config UBOOT_CONFIG_TARGET_OMAP3_PANDORA
	bool "OMAP3 Pandora"
	select UBOOT_CONFIG_OMAP3_GPIO_4
	select UBOOT_CONFIG_OMAP3_GPIO_6

config UBOOT_CONFIG_TARGET_OMAP3_LOGIC
	bool "OMAP3 Logic"
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_OMAP3_GPIO_3
	select UBOOT_CONFIG_OMAP3_GPIO_4
	select UBOOT_CONFIG_OMAP3_GPIO_6
	imply CMD_DM

config UBOOT_CONFIG_TARGET_NOKIA_RX51
	bool "Nokia RX51"

config UBOOT_CONFIG_TARGET_TAO3530
	bool "TAO3530"
	select UBOOT_CONFIG_OMAP3_GPIO_2
	select UBOOT_CONFIG_OMAP3_GPIO_3
	select UBOOT_CONFIG_OMAP3_GPIO_4
	select UBOOT_CONFIG_OMAP3_GPIO_5
	select UBOOT_CONFIG_OMAP3_GPIO_6

config UBOOT_CONFIG_TARGET_SNIPER
	bool "LG Optimus Black"
	select UBOOT_CONFIG_DM
	select UBOOT_CONFIG_DM_GPIO
	select UBOOT_CONFIG_DM_SERIAL
	select UBOOT_CONFIG_OMAP3_GPIO_2
	select UBOOT_CONFIG_OMAP3_GPIO_3
	select UBOOT_CONFIG_OMAP3_GPIO_4
	select UBOOT_CONFIG_OMAP3_GPIO_5
	select UBOOT_CONFIG_OMAP3_GPIO_6
	imply CMD_DM

endchoice

choice
	prompt "Memory Controller"
	default UBOOT_CONFIG_SDRC

config UBOOT_CONFIG_SDRC
	bool "SDRC controller"
	help
	  The default memory controller on most OMAP3 boards is SDRC.

config UBOOT_CONFIG_EMIF4
	bool "EMIF4 controller"
	help
	  Enable this on boards like AM3517 which use EMIF4 controller
endchoice

config UBOOT_CONFIG_SPL_OMAP3_ID_NAND
	bool "Support OMAP3-specific ID and MFR function"
	help
	  Support for an OMAP3-specific set of functions to return the
	  ID and MFR of the first attached NAND chip, if present.

config UBOOT_CONFIG_SYS_SOC
	default "omap3"

source "../../../../board/logicpd/am3517evm/Kconfig"
source "../../../../board/ti/beagle/Kconfig"
source "../../../../board/timll/devkit8000/Kconfig"
source "../../../../board/ti/evm/Kconfig"
source "../../../../board/isee/igep00x0/Kconfig"
source "../../../../board/logicpd/omap3som/Kconfig"
source "../../../../board/nokia/rx51/Kconfig"
source "../../../../board/lg/sniper/Kconfig"

endif
