
if UBOOT_CONFIG_TARGET_LS1043ARDB

config UBOOT_CONFIG_SYS_BOARD
	default "ls1043ardb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_SOC
	default "fsl-layerscape"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ls1043ardb"

config UBOOT_CONFIG_SYS_HAS_ARMV8_SECURE_BASE
	bool "Enable secure address for PSCI image"
	depends on UBOOT_CONFIG_ARMV8_PSCI
	help
	  PSCI image can be re-located to secure RAM.
	  If enabled, please also define the value for ARMV8_SECURE_BASE,
	  for LS1043ARDB, it could be some address in OCRAM.

if UBOOT_CONFIG_FSL_LS_PPA
config UBOOT_CONFIG_SYS_LS_PPA_FW_ADDR
	hex "PPA Firmware Addr"
	default 0x60400000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_XIP
	default 0x400000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_MMC || UBOOT_CONFIG_SYS_LS_PPA_FW_IN_NAND

if UBOOT_CONFIG_CHAIN_OF_TRUST
config UBOOT_CONFIG_SYS_LS_PPA_ESBC_ADDR
	hex "PPA Firmware HDR Addr"
	default 0x60680000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_XIP
	default 0x680000 if UBOOT_CONFIG_SYS_LS_PPA_FW_IN_MMC || UBOOT_CONFIG_SYS_LS_PPA_FW_IN_NAND
endif
endif

source "../../../board/freescale/common/Kconfig"

endif
