if UBOOT_CONFIG_ARCH_VF610

config UBOOT_CONFIG_VF610
	bool
	default y

choice
	prompt "Vybrid board select"

config UBOOT_CONFIG_TARGET_VF610TWR
	bool "TWR-VF65GS10-DS5"

config UBOOT_CONFIG_TARGET_COLIBRI_VF
	bool "Colibri VF50/61"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_PCM052
	bool "PCM-052"
	select UBOOT_CONFIG_SYS_FSL_ERRATUM_ESDHC135
	select UBOOT_CONFIG_SYS_FSL_ERRATUM_ESDHC_A001

config UBOOT_CONFIG_TARGET_BK4R1
	bool "BK4r1"
	select UBOOT_CONFIG_SYS_FSL_ERRATUM_ESDHC135
	select UBOOT_CONFIG_SYS_FSL_ERRATUM_ESDHC_A001
	select UBOOT_CONFIG_BOARD_LATE_INIT

endchoice

config UBOOT_CONFIG_SYS_SOC
	default "vf610"

source "../../../../../board/freescale/vf610twr/Kconfig"
source "../../../../../board/phytec/pcm052/Kconfig"
source "../../../../../board/toradex/colibri_vf/Kconfig"

endif
