if UBOOT_CONFIG_TARGET_MALTA

config UBOOT_CONFIG_SYS_BOARD
	default "malta"

config UBOOT_CONFIG_SYS_VENDOR
	default "imgtec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "malta"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0xbe000000 if UBOOT_CONFIG_32BIT
	default 0xffffffffbe000000 if UBOOT_CONFIG_64BIT

endif
