if UBOOT_CONFIG_TARGET_VEXPRESS64_BASE_FVP || UBOOT_CONFIG_TARGET_VEXPRESS64_JUNO

config UBOOT_CONFIG_SYS_BOARD
	default "vexpress64"

config UBOOT_CONFIG_SYS_VENDOR
	default "armltd"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "vexpress_aemv8a"

config UBOOT_CONFIG_JUNO_DTB_PART
	string "NOR flash partition holding DTB"
	default "board.dtb"
	help
	  The ARM partition name in the NOR flash memory holding the
	  device tree blob to configure U-Boot.

endif
