if UBOOT_CONFIG_TARGET_KMCENT2

config UBOOT_CONFIG_SYS_BOARD
	default "kmcent2"

config UBOOT_CONFIG_SYS_VENDOR
	default "keymile"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "kmcent2"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS
	def_bool y
	select UBOOT_CONFIG_ARCH_T1040
	select UBOOT_CONFIG_PHYS_64BIT

endif
