if UBOOT_CONFIG_TARGET_EMBESTMX6BOARDS

config UBOOT_CONFIG_SYS_BOARD
	default "mx6boards"

config UBOOT_CONFIG_SYS_VENDOR
	default "embest"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "embestmx6boards"

endif
