if UBOOT_CONFIG_TARGET_SAMA5D27_SOM1_EK

config UBOOT_CONFIG_SYS_BOARD
	default "sama5d27_som1_ek"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmel"

config UBOOT_CONFIG_SYS_SOC
	default "at91"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "sama5d27_som1_ek"

endif
