if UBOOT_CONFIG_TARGET_M5249EVB

config UBOOT_CONFIG_SYS_CPU
	default "mcf52x2"

config UBOOT_CONFIG_SYS_BOARD
	default "m5249evb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "M5249EVB"

endif
