if UBOOT_CONFIG_TARGET_M5329EVB

config UBOOT_CONFIG_SYS_CPU
	default "mcf532x"

config UBOOT_CONFIG_SYS_BOARD
	default "m5329evb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "M5329EVB"

endif
