if UBOOT_CONFIG_TARGET_IMX8QM_ROM7720_A1

config UBOOT_CONFIG_SYS_BOARD
	default "imx8qm_rom7720_a1"

config UBOOT_CONFIG_SYS_VENDOR
	default "advantech"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "imx8qm_rom7720"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/advantech/imx8qm_rom7720_a1/imximage.cfg"

source "../../../board/freescale/common/Kconfig"

endif
