config UBOOT_CONFIG_CLK_MVEBU
	bool "MVEBU clock drivers"
	depends on UBOOT_CONFIG_CLK && UBOOT_CONFIG_ARCH_MVEBU
	help
	  Enable support for clock present on Marvell MVEBU SoCs.

config UBOOT_CONFIG_CLK_ARMADA_3720
	bool "Marvell Armada 3720 clock driver"
	depends on UBOOT_CONFIG_CLK_MVEBU && UBOOT_CONFIG_ARM64
	help
	  Enable this to support the clocks on Marvell Armada 3720 SoC.
