# SPDX-License-Identifier: GPL-2.0+

if UBOOT_CONFIG_ARCH_K3

config UBOOT_CONFIG_TI_K3_NAVSS_UDMA
        bool "Texas Instruments UDMA"
        depends on UBOOT_CONFIG_ARCH_K3
        select UBOOT_CONFIG_DMA
        select UBOOT_CONFIG_TI_K3_NAVSS_RINGACC
        select UBOOT_CONFIG_TI_K3_NAVSS_PSILCFG
        select UBOOT_CONFIG_TI_K3_PSIL
        help
          Support for UDMA used in K3 devices.
endif

config UBOOT_CONFIG_TI_K3_PSIL
	bool
