if UBOOT_CONFIG_TARGET_MX23_OLINUXINO

config UBOOT_CONFIG_SYS_BOARD
	default "mx23_olinuxino"

config UBOOT_CONFIG_SYS_VENDOR
	default "olimex"

config UBOOT_CONFIG_SYS_SOC
	default "mxs"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "mx23_olinuxino"

endif
