if UBOOT_CONFIG_TARGET_MX6DL_MAMOJ

config UBOOT_CONFIG_SYS_BOARD
	default "mamoj"

config UBOOT_CONFIG_SYS_VENDOR
	default "bticino"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "imx6dl-mamoj"

endif
