if UBOOT_CONFIG_TARGET_COUGARCANYON2

config UBOOT_CONFIG_SYS_BOARD
	default "cougarcanyon2"

config UBOOT_CONFIG_SYS_VENDOR
	default "intel"

config UBOOT_CONFIG_SYS_SOC
	default "ivybridge"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "cougarcanyon2"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0xffe00000

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_X86_RESET_VECTOR
	select UBOOT_CONFIG_NORTHBRIDGE_INTEL_IVYBRIDGE
	select UBOOT_CONFIG_HAVE_FSP
	select UBOOT_CONFIG_BOARD_ROMSIZE_KB_2048
	select UBOOT_CONFIG_BOARD_EARLY_INIT_F
	select UBOOT_CONFIG_SPI_FLASH_WINBOND

endif
