menu "Microchip PIC32 platforms"
	depends on UBOOT_CONFIG_MACH_PIC32

config UBOOT_CONFIG_SYS_SOC
	default "pic32mzda" if UBOOT_CONFIG_SOC_PIC32MZDA

choice
	prompt "PIC32 SoC select"

config UBOOT_CONFIG_SOC_PIC32MZDA
	bool "Microchip PIC32MZ[DA] family"
	select UBOOT_CONFIG_SYS_CACHE_SHIFT_4
	select UBOOT_CONFIG_ROM_EXCEPTION_VECTORS
	select UBOOT_CONFIG_SUPPORTS_CPU_MIPS32_R1
	select UBOOT_CONFIG_SUPPORTS_CPU_MIPS32_R2
	select UBOOT_CONFIG_SUPPORTS_LITTLE_ENDIAN
	select UBOOT_CONFIG_SYS_MIPS_CACHE_INIT_RAM_LOAD
	help
	  This supports Microchip PIC32MZ[DA] family of microcontrollers.

endchoice

choice
	prompt "Board select"

config UBOOT_CONFIG_TARGET_PIC32MZDASK
	bool "Microchip PIC32MZ[DA] Starter Kit"
	depends on UBOOT_CONFIG_SOC_PIC32MZDA
	help
	  This supports Microchip PIC32MZ[DA] Starter Kit.

endchoice

source "../../../board/microchip/pic32mzda/Kconfig"

endmenu
