menu "Helios4 configuration"
	depends on UBOOT_CONFIG_TARGET_HELIOS4

config UBOOT_CONFIG_ENV_SIZE
	hex "Environment Size"
	default 0x10000

config UBOOT_CONFIG_ENV_OFFSET
	hex "Environment offset"
	default 0xF0000

config UBOOT_CONFIG_ENV_SECT_SIZE
	hex "Environment Sector-Size"
	# Use SPI or SATA flash erase block size of 4 KiB
	default 0x1000 if UBOOT_CONFIG_MVEBU_SPL_BOOT_DEVICE_SPI || UBOOT_CONFIG_MVEBU_SPL_BOOT_DEVICE_SATA
	# Use optimistic 64 KiB erase block, will vary between actual media
	default 0x10000 if UBOOT_CONFIG_MVEBU_SPL_BOOT_DEVICE_MMC || UBOOT_CONFIG_MVEBU_SPL_BOOT_DEVICE_UART

endmenu
