if UBOOT_CONFIG_TARGET_DRACO

config UBOOT_CONFIG_SYS_BOARD
	default "draco"

config UBOOT_CONFIG_SYS_VENDOR
	default "siemens"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "draco"

endif

if UBOOT_CONFIG_TARGET_THUBAN

config UBOOT_CONFIG_SYS_BOARD
	default "draco"

config UBOOT_CONFIG_SYS_VENDOR
	default "siemens"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "thuban"

endif

if UBOOT_CONFIG_TARGET_RASTABAN

config UBOOT_CONFIG_SYS_BOARD
	default "draco"

config UBOOT_CONFIG_SYS_VENDOR
	default "siemens"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "rastaban"

endif

if UBOOT_CONFIG_TARGET_ETAMIN

config UBOOT_CONFIG_SYS_BOARD
        default "draco"

config UBOOT_CONFIG_SYS_VENDOR
        default "siemens"

config UBOOT_CONFIG_SYS_SOC
        default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
        default "etamin"

endif
