# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2015
# Gerald Kerma <dreagle@doukki.net>
# Tony Dinh <mibodhi@gmail.com>

if UBOOT_CONFIG_TARGET_NSA310S

config UBOOT_CONFIG_SYS_BOARD
	default "nsa310s"

config UBOOT_CONFIG_SYS_VENDOR
	default "zyxel"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "nsa310s"

endif
