if UBOOT_CONFIG_TARGET_P2371_0000

config UBOOT_CONFIG_SYS_BOARD
	default "p2371-0000"

config UBOOT_CONFIG_SYS_VENDOR
	default "nvidia"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "p2371-0000"

endif
