choice
	prompt "choice"

config UBOOT_CONFIG_A
	bool "A"

config UBOOT_CONFIG_B
	bool "B"

if UBOOT_CONFIG_B
choice
	prompt "sub choice"

config UBOOT_CONFIG_C
	bool "C"

config UBOOT_CONFIG_D
	bool "D"

if UBOOT_CONFIG_D
choice
	prompt "subsub choice"

config UBOOT_CONFIG_E
	bool "E"

endchoice
endif # D

endchoice
endif # B

endchoice
