if UBOOT_CONFIG_TARGET_PICO_IMX7D

config UBOOT_CONFIG_SYS_BOARD
	default "pico-imx7d"

config UBOOT_CONFIG_SYS_VENDOR
	default "technexion"

config UBOOT_CONFIG_SYS_SOC
	default "mx7"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pico-imx7d"

endif
