menu "MTD Support"

config UBOOT_CONFIG_MTD_PARTITIONS
	bool

config UBOOT_CONFIG_MTD
	bool "Enable MTD layer"
	help
	  Enable the MTD stack, necessary to interact with NAND, NOR,
	  SPI-NOR, SPI-NAND, OneNAND, etc.

config UBOOT_CONFIG_DM_MTD
	bool "Enable Driver Model for MTD drivers"
	depends on UBOOT_CONFIG_DM
	help
	  Enable driver model for Memory Technology Devices (MTD), such as
	  flash, RAM and similar chips, often used for solid state file
	  systems on embedded devices.

config UBOOT_CONFIG_MTD_NOR_FLASH
	bool "Enable parallel NOR flash support"
	help
	  Enable support for parallel NOR flash.

config UBOOT_CONFIG_SYS_MTDPARTS_RUNTIME
	bool "Allow MTDPARTS to be configured at runtime"
	depends on UBOOT_CONFIG_MTD
	help
	  This option allows to call the function board_mtdparts_default to
	  dynamically build the variables mtdids and mtdparts at runtime.

config UBOOT_CONFIG_FLASH_CFI_DRIVER
	bool "Enable CFI Flash driver"
	help
	  The Common Flash Interface specification was developed by Intel,
	  AMD and other flash manufactures. It provides a universal method
	  for probing the capabilities of flash devices. If you wish to
	  support any device that is CFI-compliant, you need to enable this
	  option. Visit <http://www.amd.com/products/nvd/overview/cfi.html>
	  for more information on CFI.

config UBOOT_CONFIG_CFI_FLASH
	bool "Enable Driver Model for CFI Flash driver"
	depends on UBOOT_CONFIG_DM_MTD
	select UBOOT_CONFIG_FLASH_CFI_DRIVER
	help
	  The Common Flash Interface specification was developed by Intel,
	  AMD and other flash manufactures. It provides a universal method
	  for probing the capabilities of flash devices. If you wish to
	  support any device that is CFI-compliant, you need to enable this
	  option. Visit <http://www.amd.com/products/nvd/overview/cfi.html>
	  for more information on CFI.

config UBOOT_CONFIG_SYS_FLASH_USE_BUFFER_WRITE
	bool "Enable buffered writes to flash"
	depends on UBOOT_CONFIG_FLASH_CFI_DRIVER
	help
	  Use buffered writes to flash.

config UBOOT_CONFIG_FLASH_CFI_MTD
	bool "Enable CFI MTD driver"
	depends on UBOOT_CONFIG_FLASH_CFI_DRIVER
	help
	  This option enables the building of the cfi_mtd driver
	  in the drivers directory. The driver exports CFI flash
	  to the MTD layer.

config UBOOT_CONFIG_SYS_FLASH_PROTECTION
	bool "Use hardware flash protection"
	depends on UBOOT_CONFIG_FLASH_CFI_DRIVER
	help
	  If defined, hardware flash sectors protection is used
	  instead of U-Boot software protection.

config UBOOT_CONFIG_SYS_FLASH_CFI
	bool "Define extra elements in CFI for flash geometry"
	depends on UBOOT_CONFIG_FLASH_CFI_DRIVER
	help
	  Define if the flash driver uses extra elements in the
	  common flash structure for storing flash geometry.

config UBOOT_CONFIG_ALTERA_QSPI
	bool "Altera Generic Quad SPI Controller"
	depends on UBOOT_CONFIG_DM_MTD
	help
	  This enables access to Altera EPCQ/EPCS flash chips using the
	  Altera Generic Quad SPI Controller. The controller converts SPI
	  NOR flash to parallel flash interface. Please find details on the
	  "Embedded Peripherals IP User Guide" of Altera.

config UBOOT_CONFIG_FLASH_PIC32
	bool "Microchip PIC32 Flash driver"
	depends on UBOOT_CONFIG_MACH_PIC32 && UBOOT_CONFIG_DM_MTD
	help
	  This enables access to Microchip PIC32 internal non-CFI flash
	  chips through PIC32 Non-Volatile-Memory Controller.

config UBOOT_CONFIG_RENESAS_RPC_HF
	bool "Renesas RCar Gen3 RPC HyperFlash driver"
	depends on UBOOT_CONFIG_RCAR_GEN3 && UBOOT_CONFIG_DM_MTD
	help
	  This enables access to HyperFlash memory through the Renesas
	  RCar Gen3 RPC controller.

config UBOOT_CONFIG_HBMC_AM654
	bool "HyperBus controller driver for AM65x SoC"
	depends on UBOOT_CONFIG_SYSCON
	help
	 This is the driver for HyperBus controller on TI's AM65x and
	 other SoCs

config UBOOT_CONFIG_STM32_FLASH
	bool "STM32 MCU Flash driver"
	depends on UBOOT_CONFIG_ARCH_STM32
	help
	 This is the driver of embedded flash for some STMicroelectronics
	 STM32 MCU.

source "nand/Kconfig"

config UBOOT_CONFIG_SYS_NAND_MAX_CHIPS
	int "NAND max chips"
	depends on UBOOT_CONFIG_MTD_RAW_NAND || UBOOT_CONFIG_CMD_ONENAND || UBOOT_CONFIG_TARGET_S5PC210_UNIVERSAL || \
		SPL_OMAP3_ID_NAND || UBOOT_CONFIG_MTD_SPI_NAND
	default 1
	help
	  The maximum number of NAND chips per device to be supported.

source "spi/Kconfig"

source "ubi/Kconfig"

endmenu
