if UBOOT_CONFIG_TARGET_GAZERBEAM

config UBOOT_CONFIG_GDSYS_LEGACY_OSD_CMDS
	bool
	help
	  Use the 'osdw', 'osdp', and 'osdsize' legacy commands required by
	  gdsys devices.

config UBOOT_CONFIG_GDSYS_LEGACY_DRIVERS
	bool
	help
	  Enable the gdsys legacy drivers under board/gdsys/common. If this
	  option is not set, all relevant DM drivers must be configured for the
	  device in question.

config UBOOT_CONFIG_SYS_FPGA0_BASE
	hex
	default UBOOT_CONFIG_E0600000
	help
	  The base address of the first FPGA's register map.

config UBOOT_CONFIG_SYS_FPGA0_SIZE
	hex
	default 1
	help
	  The base address of the first FPGA's register map.

config UBOOT_CONFIG_SYS_FPGA1_BASE
	hex
	help
	  The base address of the second FPGA's register map.

config UBOOT_CONFIG_SYS_FPGA1_SIZE
	hex
	help
	  The base address of the second FPGA's register map.

config UBOOT_CONFIG_SYS_BOARD
	default "mpc8308"

config UBOOT_CONFIG_SYS_VENDOR
	default "gdsys"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "gazerbeam"

config UBOOT_CONFIG_SYS_FPGA1_BASE
	default UBOOT_CONFIG_E0700000

config UBOOT_CONFIG_SYS_FPGA1_SIZE
	default 1

config UBOOT_CONFIG_GDSYS_LEGACY_OSD_CMDS
	default y

choice
	prompt "FPGA flavor selection"

config UBOOT_CONFIG_SYS_FPGA_FLAVOR_LEGACY
	bool "Legacy flavor"
	help
	  This enables support for the gdsys pre-Gazerbeam FPGA memory layout.

config UBOOT_CONFIG_SYS_FPGA_FLAVOR_GAZERBEAM
	bool "Gazerbeam flavor"
	help
	  This enables support for the gdsys FPGA memory layout of the
	  Gazerbeam board.

endchoice

config UBOOT_CONFIG_EXTENDED_FEATURES
	bool "FPGA extended features"
	depends on UBOOT_CONFIG_GDSYS_LEGACY_DRIVERS
	help
	  Enable support for the extended features field of the IHS FPGA.

config UBOOT_CONFIG_CMD_IOLOOP
	bool "Enable 'ioloop' and 'ioreflect' commands"
	help
	  These commands provide FPGA tests.

endif
