if UBOOT_CONFIG_TARGET_TOTAL_COMPUTE

config UBOOT_CONFIG_SYS_BOARD
	default "total_compute"

config UBOOT_CONFIG_SYS_VENDOR
	default "armltd"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "total_compute"

endif
