if UBOOT_CONFIG_TARGET_XTFPGA

choice
	prompt "XTFPGA board type select"

config UBOOT_CONFIG_XTFPGA_LX60
	bool "Support Avnet LX60"
config UBOOT_CONFIG_XTFPGA_LX110
	bool "Support Avnet LX110"
config UBOOT_CONFIG_XTFPGA_LX200
	bool "Support Avnet LX200"
config UBOOT_CONFIG_XTFPGA_ML605
	bool "Support Xilinx ML605"
config UBOOT_CONFIG_XTFPGA_KC705
	bool "Support Xilinx KC705"

endchoice

config UBOOT_CONFIG_SYS_BOARD
	string
	default "xtfpga"

config UBOOT_CONFIG_SYS_VENDOR
	string
	default "cadence"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	string
	default "xtfpga"

config UBOOT_CONFIG_BOARD_SDRAM_SIZE
	hex
	default 0x04000000 if UBOOT_CONFIG_XTFPGA_LX60
	default 0x03000000 if UBOOT_CONFIG_XTFPGA_LX110
	default 0x06000000 if UBOOT_CONFIG_XTFPGA_LX200
	default 0x18000000 if UBOOT_CONFIG_XTFPGA_ML605
	default 0x38000000 if UBOOT_CONFIG_XTFPGA_KC705

endif
