if UBOOT_CONFIG_TARGET_PXM2

config UBOOT_CONFIG_SYS_BOARD
	default "pxm2"

config UBOOT_CONFIG_SYS_VENDOR
	default "siemens"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pxm2"

endif
