#
# IOMMU devices
#

menu "IOMMU device drivers"

config UBOOT_CONFIG_IOMMU
	bool "Enable Driver Model for IOMMU drivers"
	depends on UBOOT_CONFIG_DM
	help
	  Enable driver model for IOMMU devices. An IOMMU maps device
	  virtiual memory addresses to physical addresses. Devices
	  that sit behind an IOMMU can typically only access physical
	  memory if the IOMMU has been programmed to allow access to
	  that memory.

config UBOOT_CONFIG_APPLE_DART
	bool "Apple DART support"
	depends on UBOOT_CONFIG_IOMMU && UBOOT_CONFIG_ARCH_APPLE
	default y
	help
	  Enable support for the DART on Apple SoCs.  The DART is Apple's
	  IOMMU implementation.  The driver performs the necessary
	  configuration to put the DART into bypass mode such that it can
	  be used transparently by U-Boot.

endmenu
