if UBOOT_CONFIG_TARGET_BOSTON

config UBOOT_CONFIG_SYS_BOARD
	default "boston"

config UBOOT_CONFIG_SYS_VENDOR
	default "imgtec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "boston"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x9fc00000 if UBOOT_CONFIG_32BIT
	default 0xffffffff9fc00000 if UBOOT_CONFIG_64BIT

endif
