if UBOOT_CONFIG_TARGET_NET2BIG_V2

config UBOOT_CONFIG_SYS_BOARD
	default "net2big_v2"

config UBOOT_CONFIG_SYS_VENDOR
	default "LaCie"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "lacie_kw"

endif
