if UBOOT_CONFIG_TARGET_COLIBRI_T20

config UBOOT_CONFIG_SYS_BOARD
	default "colibri_t20"

config UBOOT_CONFIG_SYS_VENDOR
	default "toradex"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "colibri_t20"

config UBOOT_CONFIG_TDX_CFG_BLOCK
	default y

config UBOOT_CONFIG_TDX_HAVE_NAND
	default y

config UBOOT_CONFIG_TDX_CFG_BLOCK_OFFSET
	default "3145728"

source "../../../board/toradex/common/Kconfig"

endif
