if UBOOT_CONFIG_ARCH_IMXRT

config UBOOT_CONFIG_IMXRT
	bool

config UBOOT_CONFIG_IMXRT1020
	bool
	select UBOOT_CONFIG_IMXRT

config UBOOT_CONFIG_IMXRT1050
	bool
	select UBOOT_CONFIG_IMXRT

config UBOOT_CONFIG_SYS_SOC
	default "imxrt"

choice
	prompt "NXP i.MXRT board select"
	optional

config UBOOT_CONFIG_TARGET_IMXRT1020_EVK
	bool "Support imxrt1020 EVK board"
	select UBOOT_CONFIG_IMXRT1020

config UBOOT_CONFIG_TARGET_IMXRT1050_EVK
	bool "Support imxrt1050 EVK board"
	select UBOOT_CONFIG_IMXRT1050

endchoice

source "../../../../board/freescale/imxrt1020-evk/Kconfig"
source "../../../../board/freescale/imxrt1050-evk/Kconfig"

endif
