if UBOOT_CONFIG_TARGET_MCR3000

config UBOOT_CONFIG_SYS_BOARD
	default "MCR3000"

config UBOOT_CONFIG_SYS_VENDOR
	default "cssi"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "MCR3000"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x04000000

endif
