if UBOOT_CONFIG_TARGET_HSDK

config UBOOT_CONFIG_SYS_BOARD
	default "hsdk"

config UBOOT_CONFIG_SYS_VENDOR
	default "synopsys"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "hsdk" if UBOOT_CONFIG_BOARD_HSDK
	default "hsdk-4xd" if UBOOT_CONFIG_BOARD_HSDK_4XD

choice
	prompt "HSDK board type"
	default UBOOT_CONFIG_BOARD_HSDK

config UBOOT_CONFIG_BOARD_HSDK
	bool "ARC HS Development Kit"
	help
	  ARC HS Development Kit based on quard core ARC HS38 processor

config UBOOT_CONFIG_BOARD_HSDK_4XD
	bool "ARC HS4x/HS4xD Development Kit"
	help
	  ARC HS4x/HS4xD Development Kit based on quard core ARC HS48/HS47D
	  processor

endchoice

endif
