if UBOOT_CONFIG_TARGET_BEACON_RZG2M

config UBOOT_CONFIG_SYS_SOC
	default "rmobile"

config UBOOT_CONFIG_SYS_BOARD
	default "beacon-rzg2m"

config UBOOT_CONFIG_SYS_VENDOR
	default "beacon"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "beacon-rzg2m"

endif
