if UBOOT_CONFIG_TARGET_SBx81LIFKW

config UBOOT_CONFIG_SYS_BOARD
       default "SBx81LIFKW"

config UBOOT_CONFIG_SYS_VENDOR
       default "alliedtelesis"

config UBOOT_CONFIG_SYS_CONFIG_NAME
       default "SBx81LIFKW"

endif
