config UBOOT_CONFIG_UBIFS_SILENCE_MSG
	bool "UBIFS silence verbose messages"
	default UBOOT_CONFIG_ENV_IS_IN_UBI
	help
	  Make the verbose messages from UBIFS stop printing. This leaves
	  warnings and errors enabled.
