if UBOOT_CONFIG_TARGET_TB100

config UBOOT_CONFIG_SYS_CPU
	default "arc700"

config UBOOT_CONFIG_SYS_BOARD
	default "tb100"

config UBOOT_CONFIG_SYS_VENDOR
	default "abilis"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "tb100"

endif
