if UBOOT_CONFIG_TARGET_MEERKAT96

config UBOOT_CONFIG_SYS_BOARD
	default "meerkat96"

config UBOOT_CONFIG_SYS_VENDOR
	default "novtech"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "meerkat96"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/novtech/meerkat96/imximage.cfg"

endif
