if UBOOT_CONFIG_TARGET_TRIMSLICE

config UBOOT_CONFIG_SYS_BOARD
	default "trimslice"

config UBOOT_CONFIG_SYS_VENDOR
	default "compulab"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "trimslice"

endif
