config UBOOT_CONFIG_FS_BTRFS
	bool "Enable BTRFS filesystem support"
	select UBOOT_CONFIG_CRC32C
	select UBOOT_CONFIG_LIB_UUID
	select UBOOT_CONFIG_LZO
	select UBOOT_CONFIG_ZSTD
	select UBOOT_CONFIG_RBTREE
	select UBOOT_CONFIG_SHA256
	help
	  This provides a single-device read-only BTRFS support. BTRFS is a
	  next-generation Linux file system based on the copy-on-write
	  principle.
