if UBOOT_CONFIG_TARGET_LS1021AIOT

config UBOOT_CONFIG_SYS_BOARD
	default "ls1021aiot"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_SOC
	default "ls102xa"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ls1021aiot"

source "../../../board/freescale/common/Kconfig"

endif
