if UBOOT_CONFIG_BOARD_COMTREND_VR3032U

config UBOOT_CONFIG_SYS_BOARD
	default "vr3032u"

config UBOOT_CONFIG_SYS_VENDOR
	default "comtrend"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "comtrend_vr3032u"

endif
