if UBOOT_CONFIG_TARGET_AM335X_BALTOS

config UBOOT_CONFIG_SYS_BOARD
	default "baltos"

config UBOOT_CONFIG_SYS_VENDOR
	default "vscom"

config UBOOT_CONFIG_SYS_SOC
	default "am33xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "baltos"

endif
