if UBOOT_CONFIG_TARGET_SMDKC100

config UBOOT_CONFIG_SYS_BOARD
	default "smdkc100"

config UBOOT_CONFIG_SYS_VENDOR
	default "samsung"

config UBOOT_CONFIG_SYS_SOC
	default "s5pc1xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "smdkc100"

endif
