config UBOOT_CONFIG_MODULES
	def_bool y
	option modules

config UBOOT_CONFIG_DEP
	tristate
	default m

choice
	prompt "Tristate Choice"

config UBOOT_CONFIG_CHOICE0
	tristate "Choice 0"

config UBOOT_CONFIG_CHOICE1
	tristate "Choice 1"
	depends on UBOOT_CONFIG_DEP

endchoice
