if UBOOT_CONFIG_TARGET_SAMA5D3XEK

config UBOOT_CONFIG_SYS_BOARD
	default "sama5d3xek"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmel"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "sama5d3xek"

endif
