if UBOOT_CONFIG_TARGET_BAYLEYBAY

config UBOOT_CONFIG_SYS_BOARD
	default "bayleybay"

config UBOOT_CONFIG_SYS_VENDOR
	default "intel"

config UBOOT_CONFIG_SYS_SOC
	default "baytrail"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "bayleybay"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0xfff00000

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_X86_RESET_VECTOR
	select UBOOT_CONFIG_INTEL_BAYTRAIL
	select UBOOT_CONFIG_BOARD_ROMSIZE_KB_8192
	select UBOOT_CONFIG_SPI_FLASH_WINBOND

config UBOOT_CONFIG_PCIE_ECAM_BASE
	default 0xe0000000

endif
