if UBOOT_CONFIG_ROCKCHIP_RK3328

choice
	prompt "RK3328 board select"

config UBOOT_CONFIG_TARGET_EVB_RK3328
	bool "RK3328 evaluation board"
	help
	  RK3328evb is a evaluation board for Rockchip rk3328,
	  with full function and phisical connectors support like
	  usb2.0 host ports, LVDS, JTAG, MAC, SDcard, HDMI, USB-2-serial...

endchoice

config UBOOT_CONFIG_ROCKCHIP_BOOT_MODE_REG
	default 0xff1005c8

config UBOOT_CONFIG_SYS_SOC
	default "rk3328"

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x2000

config UBOOT_CONFIG_SPL_LIBCOMMON_SUPPORT
	default y

config UBOOT_CONFIG_SPL_LIBGENERIC_SUPPORT
	default y

config UBOOT_CONFIG_TPL_LDSCRIPT
	default "arch/arm/mach-rockchip/u-boot-tpl-v8.lds"

config UBOOT_CONFIG_TPL_TEXT_BASE
	default 0xff091000

config UBOOT_CONFIG_TPL_MAX_SIZE
	default 28672

config UBOOT_CONFIG_TPL_STACK
	default 0xff098000

source "../../../../board/rockchip/evb_rk3328/Kconfig"

endif
