if UBOOT_CONFIG_TARGET_MEDCOM_WIDE

config UBOOT_CONFIG_SYS_BOARD
	default "medcom-wide"

config UBOOT_CONFIG_SYS_VENDOR
	default "avionic-design"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "medcom-wide"

endif
