if UBOOT_CONFIG_TARGET_GIEDI

config UBOOT_CONFIG_SYS_BOARD
	default "capricorn"

config UBOOT_CONFIG_SYS_VENDOR
	default "siemens"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "giedi"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/siemens/capricorn/imximage.cfg"
endif

if UBOOT_CONFIG_TARGET_DENEB

config UBOOT_CONFIG_SYS_BOARD
	default "capricorn"

config UBOOT_CONFIG_SYS_VENDOR
	default "siemens"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "deneb"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/siemens/capricorn/imximage.cfg"

endif
