menu "Hardware Spinlock Support"

config UBOOT_CONFIG_DM_HWSPINLOCK
	bool "Enable U-Boot hardware spinlock support"
	help
	  This option enables U-Boot hardware spinlock support

config UBOOT_CONFIG_HWSPINLOCK_SANDBOX
	bool "Enable Hardware Spinlock support for Sandbox"
	depends on UBOOT_CONFIG_SANDBOX && UBOOT_CONFIG_DM_HWSPINLOCK
	help
	  Enable hardware spinlock support in Sandbox. This is a dummy device that
	  can be probed and support all the methods of HWSPINLOCK, but does not
	  really do anything.

config UBOOT_CONFIG_HWSPINLOCK_STM32
	bool "Enable Hardware Spinlock support for STM32"
	depends on UBOOT_CONFIG_ARCH_STM32MP && UBOOT_CONFIG_DM_HWSPINLOCK
	help
	  Enable hardware spinlock support in STM32MP. Hardware spinlocks are
	  hardware mutex which provide a synchronisation mechanism for the
	  various processors on the SoC.

endmenu
