menu "mpc83xx CPU"
	depends on UBOOT_CONFIG_MPC83xx

config UBOOT_CONFIG_SYS_CPU
	default "mpc83xx"

choice
	prompt "Target select"
	optional

config UBOOT_CONFIG_TARGET_MPC837XERDB
	bool "Support MPC837XERDB"
	select UBOOT_CONFIG_ARCH_MPC837X
	select UBOOT_CONFIG_BOARD_EARLY_INIT_F

config UBOOT_CONFIG_TARGET_IDS8313
	bool "Support ids8313"
	select UBOOT_CONFIG_ARCH_MPC8313
	select UBOOT_CONFIG_DM
	imply CMD_DM

config UBOOT_CONFIG_TARGET_KMETER1
	bool "Support kmeter1"
	select UBOOT_CONFIG_VENDOR_KM
	select UBOOT_CONFIG_KM_ENABLE_FULL_DM_DTS_SUPPORT

config UBOOT_CONFIG_TARGET_KMCOGE5NE
	bool "Support kmcoge5ne"
	select UBOOT_CONFIG_VENDOR_KM
	select UBOOT_CONFIG_KM_ENABLE_FULL_DM_DTS_SUPPORT

config UBOOT_CONFIG_TARGET_KMTEGR1
	bool "Support kmtegr1"
	select UBOOT_CONFIG_VENDOR_KM
	select UBOOT_CONFIG_KM_ENABLE_FULL_DM_DTS_SUPPORT

config UBOOT_CONFIG_TARGET_TUXX1
	bool "Support tuxx1"
	select UBOOT_CONFIG_VENDOR_KM
	select UBOOT_CONFIG_KM_ENABLE_FULL_DM_DTS_SUPPORT

config UBOOT_CONFIG_TARGET_KMSUPX5
	bool "Support kmsupx5"
	select UBOOT_CONFIG_VENDOR_KM
	select UBOOT_CONFIG_KM_ENABLE_FULL_DM_DTS_SUPPORT

config UBOOT_CONFIG_TARGET_TUGE1
	bool "Support tuge1"
	select UBOOT_CONFIG_VENDOR_KM
	select UBOOT_CONFIG_KM_ENABLE_FULL_DM_DTS_SUPPORT

config UBOOT_CONFIG_TARGET_KMOPTI2
	bool "Support kmopti2"
	select UBOOT_CONFIG_VENDOR_KM
	select UBOOT_CONFIG_KM_ENABLE_FULL_DM_DTS_SUPPORT

config UBOOT_CONFIG_TARGET_KMTEPR2
	bool "Support kmtepr2"
	select UBOOT_CONFIG_VENDOR_KM
	select UBOOT_CONFIG_KM_ENABLE_FULL_DM_DTS_SUPPORT

config UBOOT_CONFIG_TARGET_GAZERBEAM
	bool "Support gazerbeam"
	select UBOOT_CONFIG_ARCH_MPC8308
	select UBOOT_CONFIG_SYS_FSL_ERRATUM_ESDHC111
	imply ENV_IS_IN_FLASH
	help
	  The "Gazerbeam" is a modular system by Guntermann & Drunck GmbH
	  Systementwicklung based on the NXP MPC8308 SoC for usage in KVM
	  appliances.

	  Features include:
	  * Two gigabit ethernet ports
	  * Multiple USB ports (depending on variant)
	  * Several gigabit ethernet or optical fiber ports (depending on
	    variant)
	  * Several display port inputs and outputs, and supporting redrivers
	    (depending on variant)
	  * Several FPGAs with custom logic (depending on variant)

endchoice

config UBOOT_CONFIG_MPC83XX_QUICC_ENGINE
	bool

# TODO: Imply MPC83xx PCI driver
config UBOOT_CONFIG_MPC83XX_PCI_SUPPORT
	bool

# TODO: Imply TSEC driver
config UBOOT_CONFIG_MPC83XX_TSEC1_SUPPORT
	bool

config UBOOT_CONFIG_MPC83XX_TSEC2_SUPPORT
	bool

config UBOOT_CONFIG_MPC83XX_PCIE1_SUPPORT
	bool

config UBOOT_CONFIG_MPC83XX_PCIE2_SUPPORT
	bool

config UBOOT_CONFIG_MPC83XX_SDHC_SUPPORT
	bool

config UBOOT_CONFIG_MPC83XX_SATA
	bool

config UBOOT_CONFIG_MPC83XX_SECOND_I2C
	bool

config UBOOT_CONFIG_MPC83XX_LDP_PIN
	bool

config UBOOT_CONFIG_ARCH_MPC830X
	bool
	select UBOOT_CONFIG_MPC83XX_SDHC_SUPPORT
	select UBOOT_CONFIG_SYS_CACHE_SHIFT_5

config UBOOT_CONFIG_ARCH_MPC8308
	bool
	select UBOOT_CONFIG_ARCH_MPC830X
	select UBOOT_CONFIG_MPC83XX_TSEC1_SUPPORT
	select UBOOT_CONFIG_MPC83XX_TSEC2_SUPPORT
	select UBOOT_CONFIG_MPC83XX_PCIE1_SUPPORT
	select UBOOT_CONFIG_MPC83XX_SECOND_I2C

config UBOOT_CONFIG_ARCH_MPC8309
	bool
	select UBOOT_CONFIG_ARCH_MPC830X
	select UBOOT_CONFIG_MPC83XX_QUICC_ENGINE
	select UBOOT_CONFIG_MPC83XX_PCI_SUPPORT
	select UBOOT_CONFIG_MPC83XX_SECOND_I2C
	select UBOOT_CONFIG_SYS_FSL_ERRATUM_ESDHC111
	select UBOOT_CONFIG_FSL_ELBC

config UBOOT_CONFIG_ARCH_MPC831X
	bool
	select UBOOT_CONFIG_MPC83XX_PCI_SUPPORT
	select UBOOT_CONFIG_MPC83XX_TSEC1_SUPPORT
	select UBOOT_CONFIG_MPC83XX_TSEC2_SUPPORT
	select UBOOT_CONFIG_SYS_CACHE_SHIFT_5

config UBOOT_CONFIG_ARCH_MPC8313
	bool
	select UBOOT_CONFIG_ARCH_MPC831X
	select UBOOT_CONFIG_MPC83XX_SECOND_I2C
	select UBOOT_CONFIG_FSL_ELBC

config UBOOT_CONFIG_ARCH_MPC832X
	bool
	select UBOOT_CONFIG_MPC83XX_QUICC_ENGINE
	select UBOOT_CONFIG_MPC83XX_PCI_SUPPORT
	select UBOOT_CONFIG_SYS_CACHE_SHIFT_5

config UBOOT_CONFIG_ARCH_MPC834X
	bool
	select UBOOT_CONFIG_SYS_CACHE_SHIFT_5

config UBOOT_CONFIG_ARCH_MPC8360
	bool
	select UBOOT_CONFIG_MPC83XX_QUICC_ENGINE
	select UBOOT_CONFIG_MPC83XX_PCI_SUPPORT
	select UBOOT_CONFIG_MPC83XX_LDP_PIN
	select UBOOT_CONFIG_MPC83XX_SECOND_I2C
	select UBOOT_CONFIG_SYS_CACHE_SHIFT_5

config UBOOT_CONFIG_ARCH_MPC837X
	bool
	select UBOOT_CONFIG_MPC83XX_PCI_SUPPORT
	select UBOOT_CONFIG_MPC83XX_TSEC1_SUPPORT
	select UBOOT_CONFIG_MPC83XX_TSEC2_SUPPORT
	select UBOOT_CONFIG_MPC83XX_PCIE1_SUPPORT
	select UBOOT_CONFIG_MPC83XX_PCIE2_SUPPORT
	select UBOOT_CONFIG_MPC83XX_SDHC_SUPPORT
	select UBOOT_CONFIG_MPC83XX_SATA
	select UBOOT_CONFIG_MPC83XX_LDP_PIN
	select UBOOT_CONFIG_MPC83XX_SECOND_I2C
	select UBOOT_CONFIG_SYS_CACHE_SHIFT_5
	select UBOOT_CONFIG_FSL_ELBC

config UBOOT_CONFIG_SYS_IMMR
	hex "Value for IMMR"
	default 0xE0000000
	help
	  Address for the Internal Memory-Mapped Registers (IMMR) window used
	  to configure the features of the SoC.

source "hrcw/Kconfig"
source "bats/Kconfig"
source "lblaw/Kconfig"
source "elbc/Kconfig"
source "hid/Kconfig"
source "sysio/Kconfig"
source "arbiter/Kconfig"
source "initreg/Kconfig"

config UBOOT_CONFIG_FSL_ELBC
	bool

source "../../../../board/freescale/mpc837xerdb/Kconfig"
source "../../../../board/ids/ids8313/Kconfig"
source "../../../../board/keymile/Kconfig"
source "../../../../board/gdsys/mpc8308/Kconfig"

endmenu
