# SPDX-License-Identifier: GPL-2.0

config MXL_UMT
	bool "User message transfer driver"

	help
	  This driver supports MaxLinear UMT Hardware.
	  UMT HW is designed to work with CQM HW to
	  send the RX/TX counter to PCIe Endpoint.

config MXL_UMT_TEST
	tristate "Testing driver for UMT driver"

	help
	  This test driver is used to test UMT function
	  in the case that PCIe Endpoint driver is not ready
	  or testing result not as expected.
	  This test driver doen't need PCIe HW support.
