# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2015, Bin Meng <bmeng.cn@gmail.com>

config UBOOT_CONFIG_INTEL_QUARK
	bool
	select UBOOT_CONFIG_HAVE_RMU
	select UBOOT_CONFIG_ARCH_EARLY_INIT_R
	select UBOOT_CONFIG_ARCH_MISC_INIT
	imply ENABLE_MRC_CACHE
	imply ETH_DESIGNWARE
	imply ICH_SPI
	imply INTEL_ICH6_GPIO
	imply MMC
	imply MMC_PCI
	imply MMC_SDHCI
	imply MMC_SDHCI_SDMA
	imply SPI_FLASH
	imply SYS_NS16550
	imply USB
	imply USB_EHCI_HCD

if UBOOT_CONFIG_INTEL_QUARK

config UBOOT_CONFIG_HAVE_RMU
	bool "Add a Remote Management Unit (RMU) binary"
	help
	  Select this option to add a Remote Management Unit (RMU) binary
	  to the resulting U-Boot image. It is a data block (up to 64K) of
	  machine-specific code which must be put in the flash for the RMU
	  within the Quark SoC processor to access when powered up before
	  system BIOS is executed.

config UBOOT_CONFIG_RMU_FILE
	string "Remote Management Unit (RMU) binary filename"
	depends on UBOOT_CONFIG_HAVE_RMU
	default "rmu.bin"
	help
	  The filename of the file to use as Remote Management Unit (RMU)
	  binary in the board directory.

config UBOOT_CONFIG_RMU_ADDR
	hex "Remote Management Unit (RMU) binary location"
	depends on UBOOT_CONFIG_HAVE_RMU
	default 0xfff00000
	help
	  The location of the RMU binary is determined by a strap. It must be
	  put in flash at a location matching the strap-determined base address.

	  The default base address of 0xfff00000 indicates that the binary must
	  be located at offset 0 from the beginning of a 1MB flash device.

config UBOOT_CONFIG_HAVE_CMC
	bool
	default UBOOT_CONFIG_HAVE_RMU

config UBOOT_CONFIG_CMC_FILE
	string
	depends on UBOOT_CONFIG_HAVE_CMC
	default UBOOT_CONFIG_RMU_FILE

config UBOOT_CONFIG_CMC_ADDR
	hex
	depends on UBOOT_CONFIG_HAVE_CMC
	default UBOOT_CONFIG_RMU_ADDR

config UBOOT_CONFIG_ESRAM_BASE
	hex
	default 0x80000000
	help
	  Embedded SRAM (eSRAM) memory-mapped base address.

config UBOOT_CONFIG_PCIE_ECAM_BASE
	hex
	default 0xe0000000

config UBOOT_CONFIG_RCBA_BASE
	hex
	default 0xfed1c000
	help
	  Root Complex register block memory-mapped base address.

config UBOOT_CONFIG_ACPI_PM1_BASE
	hex
	default 0x1000
	help
	  ACPI Power Management 1 (PM1) i/o-mapped base address.
	  This device is defined in ACPI specification, with 16 bytes in size.

config UBOOT_CONFIG_ACPI_PBLK_BASE
	hex
	default 0x1010
	help
	  ACPI Processor Block (PBLK) i/o-mapped base address.
	  This device is defined in ACPI specification, with 16 bytes in size.

config UBOOT_CONFIG_SPI_DMA_BASE
	hex
	default 0x1020
	help
	  SPI DMA i/o-mapped base address.

config UBOOT_CONFIG_GPIO_BASE
	hex
	default 0x1080
	help
	  GPIO i/o-mapped base address.

config UBOOT_CONFIG_ACPI_GPE0_BASE
	hex
	default 0x1100
	help
	  ACPI General Purpose Event 0 (GPE0) i/o-mapped base address.
	  This device is defined in ACPI specification, with 64 bytes in size.

config UBOOT_CONFIG_WDT_BASE
	hex
	default 0x1140
	help
	  Watchdog timer i/o-mapped base address.

config UBOOT_CONFIG_SYS_CAR_ADDR
	hex
	default UBOOT_CONFIG_ESRAM_BASE

config UBOOT_CONFIG_SYS_CAR_SIZE
	hex
	default 0x8000
	help
	  Space in bytes in eSRAM used as Cache-As-ARM (CAR).
	  Note this size must not exceed eSRAM's total size.

config UBOOT_CONFIG_X86_TSC_TIMER_FREQ
	int
	default 400000000

endif
