if UBOOT_CONFIG_TARGET_S5P_GONI

config UBOOT_CONFIG_SYS_BOARD
	default "goni"

config UBOOT_CONFIG_SYS_VENDOR
	default "samsung"

config UBOOT_CONFIG_SYS_SOC
	default "s5pc1xx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "s5p_goni"

endif
