if UBOOT_CONFIG_TARGET_ELGIN_RV1108

config UBOOT_CONFIG_SYS_BOARD
	default "elgin_rv1108"

config UBOOT_CONFIG_SYS_VENDOR
	default "elgin"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "elgin_rv1108"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
