if UBOOT_CONFIG_TARGET_GEEKBOX

config UBOOT_CONFIG_SYS_BOARD
	default "geekbox"

config UBOOT_CONFIG_SYS_VENDOR
	default "geekbuying"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "geekbox"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
