if UBOOT_CONFIG_TARGET_M5235EVB

config UBOOT_CONFIG_SYS_CPU
	default "mcf523x"

config UBOOT_CONFIG_SYS_BOARD
	default "m5235evb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "M5235EVB"

endif
