config UBOOT_CONFIG_SYS_FSL_DDR
	bool
	help
	  Select Freescale General DDR driver, shared between most Freescale
	  PowerPC- based SoCs (such as mpc83xx, mpc85xx and ARM- based
	  Layerscape SoCs (such as ls2080a).

config UBOOT_CONFIG_SYS_FSL_MMDC
	bool
	help
	  Select Freescale Multi Mode DDR controller (MMDC).

if UBOOT_CONFIG_SYS_FSL_DDR || UBOOT_CONFIG_SYS_FSL_MMDC

config UBOOT_CONFIG_SYS_FSL_DDR_BE
	bool
	help
		Access DDR registers in big-endian

config UBOOT_CONFIG_SYS_FSL_DDR_LE
	bool
	help
		Access DDR registers in little-endian

config UBOOT_CONFIG_FSL_DDR_BIST
	bool

config UBOOT_CONFIG_FSL_DDR_INTERACTIVE
	bool

config UBOOT_CONFIG_FSL_DDR_SYNC_REFRESH
	bool

config UBOOT_CONFIG_FSL_DDR_FIRST_SLOT_QUAD_CAPABLE
	bool

menu "Freescale DDR controllers"
	depends on UBOOT_CONFIG_SYS_FSL_DDR

config UBOOT_CONFIG_SYS_NUM_DDR_CTLRS
	int "Maximum DDR controllers"
	default 3 if UBOOT_CONFIG_ARCH_LS2080A	|| \
			ARCH_T4240
	default 2 if UBOOT_CONFIG_ARCH_B4860	|| \
			ARCH_BSC9132	|| \
			ARCH_P4080	|| \
			ARCH_P5040	|| \
			ARCH_LX2160A	|| \
			ARCH_LX2162A
	default 1

config UBOOT_CONFIG_SYS_FSL_DDR_VER
	int
	default 50 if UBOOT_CONFIG_SYS_FSL_DDR_VER_50
	default 47 if UBOOT_CONFIG_SYS_FSL_DDR_VER_47
	default 46 if UBOOT_CONFIG_SYS_FSL_DDR_VER_46
	default 44 if UBOOT_CONFIG_SYS_FSL_DDR_VER_44

config UBOOT_CONFIG_SYS_FSL_DDR_VER_50
	bool

config UBOOT_CONFIG_SYS_FSL_DDR_VER_47
	bool

config UBOOT_CONFIG_SYS_FSL_DDR_VER_46
	bool

config UBOOT_CONFIG_SYS_FSL_DDR_VER_44
	bool

config UBOOT_CONFIG_SYS_FSL_DDRC_GEN1
	bool
	help
	  Enable Freescale DDR controller.

config UBOOT_CONFIG_SYS_FSL_DDRC_GEN2
	bool
	depends on !UBOOT_CONFIG_MPC86xx
	help
	  Enable Freescale DDR2 controller.

config UBOOT_CONFIG_SYS_FSL_DDRC_GEN3
	bool
	depends on UBOOT_CONFIG_PPC
	help
	  Enable Freescale DDR3 controller for PowerPC SoCs.

config UBOOT_CONFIG_SYS_FSL_DDRC_ARM_GEN3
	bool
	depends on UBOOT_CONFIG_ARM
	help
	  Enable Freescale DDR3 controller for ARM SoCs.

config UBOOT_CONFIG_SYS_FSL_DDRC_GEN4
	bool
	help
	  Enable Freescale DDR4 controller.

config UBOOT_CONFIG_SYS_FSL_HAS_DDR4
	bool

config UBOOT_CONFIG_SYS_FSL_HAS_DDR3
	bool

config UBOOT_CONFIG_SYS_FSL_HAS_DDR2
	bool

config UBOOT_CONFIG_SYS_FSL_HAS_DDR1
	bool

choice
	prompt "DDR technology"
	default UBOOT_CONFIG_SYS_FSL_DDR4 if UBOOT_CONFIG_SYS_FSL_HAS_DDR4
	default UBOOT_CONFIG_SYS_FSL_DDR3 if UBOOT_CONFIG_SYS_FSL_HAS_DDR3
	default UBOOT_CONFIG_SYS_FSL_DDR2 if UBOOT_CONFIG_SYS_FSL_HAS_DDR2
	default UBOOT_CONFIG_SYS_FSL_DDR1 if UBOOT_CONFIG_SYS_FSL_HAS_DDR1

config UBOOT_CONFIG_SYS_FSL_DDR4
	bool "Freescale DDR4 controller"
	depends on UBOOT_CONFIG_SYS_FSL_HAS_DDR4
	imply DDR_SPD
	select UBOOT_CONFIG_SYS_FSL_DDRC_GEN4

config UBOOT_CONFIG_SYS_FSL_DDR3
	bool "Freescale DDR3 controller"
	depends on UBOOT_CONFIG_SYS_FSL_HAS_DDR3
	imply DDR_SPD
	select UBOOT_CONFIG_SYS_FSL_DDRC_GEN3 if PPC
	select UBOOT_CONFIG_SYS_FSL_DDRC_ARM_GEN3 if ARM

config UBOOT_CONFIG_SYS_FSL_DDR2
	bool "Freescale DDR2 controller"
	depends on UBOOT_CONFIG_SYS_FSL_HAS_DDR2
	imply DDR_SPD
	select UBOOT_CONFIG_SYS_FSL_DDRC_GEN2 if (!MPC86xx && !UBOOT_CONFIG_SYS_FSL_DDRC_GEN3)

config UBOOT_CONFIG_SYS_FSL_DDR1
	bool "Freescale DDR1 controller"
	depends on UBOOT_CONFIG_SYS_FSL_HAS_DDR1
	imply DDR_SPD
	select UBOOT_CONFIG_SYS_FSL_DDRC_GEN1

endchoice

endmenu

config UBOOT_CONFIG_FSL_DMA
	def_bool y if DDR_ECC && UBOOT_CONFIG_MPC85xx && !UBOOT_CONFIG_ECC_INIT_VIA_DDRCONTROLLER

config UBOOT_CONFIG_DDR_ECC
	bool "ECC DDR memory support"

config UBOOT_CONFIG_DDR_ECC_CMD
	bool "Access the ECC features of the memory controller"
	depends on UBOOT_CONFIG_DDR_ECC && UBOOT_CONFIG_MPC83xx
	default y

config UBOOT_CONFIG_ECC_INIT_VIA_DDRCONTROLLER
	bool "DDR Memory controller initializes memory."
	help
	  Use the DDR controller to auto initialize memory.  If not enabled,
	  the DMA controller is responsible for doing this.

endif

config UBOOT_CONFIG_SYS_FSL_ERRATUM_A008378
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_A008109
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_A008511
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_A009663
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_A009801
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_A009803
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_A009942
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_A010165
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_NMG_DDR120
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_DDR_115
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_DDR111_DDR134
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_DDR_A003
	bool

config UBOOT_CONFIG_SYS_FSL_ERRATUM_DDR_A003474
	bool
