if UBOOT_CONFIG_ROCKCHIP_RK3308

config UBOOT_CONFIG_TARGET_EVB_RK3308
	bool "EVB_RK3308"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_ROC_RK3308_CC
       bool "Firefly roc-rk3308-cc"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_SYS_SOC
	default "rk3308"

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x400

config UBOOT_CONFIG_SPL_SERIAL
	default y

config UBOOT_CONFIG_ROCKCHIP_BOOT_MODE_REG
	default 0xff000500


source "../../../../board/rockchip/evb_rk3308/Kconfig"
source "../../../../board/firefly/firefly-rk3308/Kconfig"

endif
