config UBOOT_CONFIG_MODULES
	bool "Enable loadable module support"
	option modules
	default y

choice
	prompt "boolean choice"
	default UBOOT_CONFIG_BOOL_CHOICE1

config UBOOT_CONFIG_BOOL_CHOICE0
	bool "choice 0"

config UBOOT_CONFIG_BOOL_CHOICE1
	bool "choice 1"

endchoice

choice
	prompt "optional boolean choice"
	optional
	default UBOOT_CONFIG_OPT_BOOL_CHOICE1

config UBOOT_CONFIG_OPT_BOOL_CHOICE0
	bool "choice 0"

config UBOOT_CONFIG_OPT_BOOL_CHOICE1
	bool "choice 1"

endchoice

choice
	prompt "tristate choice"
	default UBOOT_CONFIG_TRI_CHOICE1

config UBOOT_CONFIG_TRI_CHOICE0
	tristate "choice 0"

config UBOOT_CONFIG_TRI_CHOICE1
	tristate "choice 1"

endchoice

choice
	prompt "optional tristate choice"
	optional
	default UBOOT_CONFIG_OPT_TRI_CHOICE1

config UBOOT_CONFIG_OPT_TRI_CHOICE0
	tristate "choice 0"

config UBOOT_CONFIG_OPT_TRI_CHOICE1
	tristate "choice 1"

endchoice
