if UBOOT_CONFIG_TARGET_EDISON

config UBOOT_CONFIG_SYS_BOARD
	default "edison"

config UBOOT_CONFIG_SYS_VENDOR
	default "intel"

config UBOOT_CONFIG_SYS_SOC
	default "tangier"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "edison"

config UBOOT_CONFIG_SYS_MALLOC_LEN
	default 0x08000000

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x01101000

config UBOOT_CONFIG_ROM_TABLE_ADDR
	default 0x0e4500

config UBOOT_CONFIG_ROM_TABLE_SIZE
	default 0x007b00

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_X86_LOAD_FROM_32_BIT
	select UBOOT_CONFIG_INTEL_MID
	select UBOOT_CONFIG_INTEL_TANGIER
	select UBOOT_CONFIG_BOARD_LATE_INIT
	select UBOOT_CONFIG_MD5
	imply BINMAN

endif
