if UBOOT_CONFIG_TARGET_NETSPACE_V2

config UBOOT_CONFIG_SYS_BOARD
	default "netspace_v2"

config UBOOT_CONFIG_SYS_VENDOR
	default "LaCie"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "lacie_kw"

endif
