if UBOOT_CONFIG_TARGET_AP152

config UBOOT_CONFIG_SYS_VENDOR
	default "qca"

config UBOOT_CONFIG_SYS_BOARD
	default "ap152"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ap152"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x9f000000

endif
