if UBOOT_CONFIG_TARGET_KP_IMX53

config UBOOT_CONFIG_SYS_BOARD
	default "kp_imx53"

config UBOOT_CONFIG_SYS_VENDOR
	default "k+p"

config UBOOT_CONFIG_SYS_SOC
	default "mx5"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "kp_imx53"

config UBOOT_CONFIG_IMX_CONFIG
	default "board/freescale/mx53loco/imximage.cfg"

endif
