if UBOOT_CONFIG_BOARD_COMTREND_CT5361

config UBOOT_CONFIG_SYS_BOARD
	default "ct5361"

config UBOOT_CONFIG_SYS_VENDOR
	default "comtrend"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "comtrend_ct5361"

endif
