if UBOOT_CONFIG_TARGET_EAGLE

config UBOOT_CONFIG_SYS_SOC
	default "rmobile"

config UBOOT_CONFIG_SYS_BOARD
	default "eagle"

config UBOOT_CONFIG_SYS_VENDOR
	default "renesas"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "eagle"

endif
