if UBOOT_CONFIG_TARGET_CEI_TK1_SOM

config UBOOT_CONFIG_SYS_BOARD
	default "cei-tk1-som"

config UBOOT_CONFIG_SYS_VENDOR
	default "cei"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "cei-tk1-som"

endif
