#
# Central QOS Manager(CQM) configuration
#
config MXL_CBM
	bool "Central Buffer Manager Driver"

	help
	Turn on this option to enable CBM/CQM driver which is a special hardware
	present in the XRX500/FALCONMX/LGM series of SoCs to manage the network buffers
	in HW.
choice
        prompt "SoC platform selection"
        depends on MXL_CBM

config LGM_CQM
        bool "LGM"
        select MXL_SEC_GEN_POOL
        help
          CQM driver for LGM platform.

endchoice

if LGM_CQM
source "drivers/net/datapath/cqm/lgm/Kconfig"
endif

config MXL_CBM_SKB
        bool "hack Skbuff"

config MXL_CBM_TEST
        tristate "CQM unit test module"
