if UBOOT_CONFIG_TARGET_SAMA7G5EK

config UBOOT_CONFIG_SYS_BOARD
	default "sama7g5ek"

config UBOOT_CONFIG_SYS_VENDOR
	default "atmel"

config UBOOT_CONFIG_SYS_SOC
	default "at91"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "sama7g5ek"

endif
