menuconfig UBOOT_CONFIG_MTD_SPI_NAND
	bool "SPI NAND device Support"
	depends on UBOOT_CONFIG_DM_MTD && UBOOT_CONFIG_DM_SPI
	select UBOOT_CONFIG_MTD_NAND_CORE
	select UBOOT_CONFIG_SPI_MEM
	help
	  This is the framework for the SPI NAND device drivers.

config UBOOT_CONFIG_MXL_SPI_NAND
	bool "MXL Serial (SPI/QSPI) NAND driver"
	select UBOOT_CONFIG_MXL_QSPI
	help
	  Enable MXL SPI NAND flash platforms.

config UBOOT_CONFIG_QSPI_QUAD_MODE
	depends on UBOOT_CONFIG_MXL_SPI_NAND
	bool "Use QSPI controller in QUAD I/O mode"
	default n
	help
	  Force the controller to use QUAD IO instead of
	  Single IO (must be supported by the flash)

config UBOOT_CONFIG_SYS_NAND_BLOCK_SIZE
	hex "NAND chip eraseblock size"
	depends on UBOOT_CONFIG_MXL_SPI_NAND
	help
	  Number of data bytes in one eraseblock for the NAND chip on the
	  board. This is the multiple of NAND_PAGE_SIZE and the number of
	  pages.

config UBOOT_CONFIG_SYS_NAND_PAGE_SIZE
	hex "NAND chip page size"
	depends on UBOOT_CONFIG_MXL_SPI_NAND
	help
	  Number of data bytes in one page for the NAND chip on the
	  board, not including the OOB area.

config UBOOT_CONFIG_RAW_NAND_OOB_COMPATIBLE
	bool "OOB layout compatible with RAW NAND flash"
	help
	  This allows the SPI NAND to use the same OOB layout
	  as the RAW flash, without hiding the first bytes of the
	  OOB area.
