if UBOOT_CONFIG_TARGET_IOT_DEVKIT

config UBOOT_CONFIG_SYS_BOARD
	default "iot_devkit"

config UBOOT_CONFIG_SYS_VENDOR
	default "synopsys"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "iot_devkit"

endif
