if UBOOT_CONFIG_TARGET_ROCK2

config UBOOT_CONFIG_SYS_BOARD
	default "rock2"

config UBOOT_CONFIG_SYS_VENDOR
	default "radxa"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "rock2"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
