if UBOOT_CONFIG_TARGET_POPLAR

config UBOOT_CONFIG_SYS_BOARD
	default "poplar"

config UBOOT_CONFIG_SYS_VENDOR
	default "hisilicon"

config UBOOT_CONFIG_SYS_SOC
	default "hi3798cv200"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "poplar"

endif
