if UBOOT_CONFIG_STM32F4

config UBOOT_CONFIG_TARGET_STM32F429_DISCOVERY
	bool "STM32F429 Discovery board"

config UBOOT_CONFIG_TARGET_STM32F429_EVALUATION
	bool "STM32F429 Evaluation board"

config UBOOT_CONFIG_TARGET_STM32F469_DISCOVERY
	bool "STM32F469 Discovery board"

source "../../../../board/st/stm32f429-discovery/Kconfig"
source "../../../../board/st/stm32f429-evaluation/Kconfig"
source "../../../../board/st/stm32f469-discovery/Kconfig"

endif
