// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

IDR_CALIBRATIONFILE1 256 "cal_wlan1_ver6.bin"

IDR_BEAMFORMINGMATRIX_VHT 257 "beamforming_matrix_vht.txt"
IDR_BEAMFORMINGMATRIX_HE 257 "beamforming_matrix_he.txt"

// Wave600 beamforming matrix files
IDR_BEAMFORMINGMATRIX_WAVE600_VHT_HEADER 257 "beamforming_files\\wave600\\vht\\lower_mac_bf_Header_600_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE600_VHT_PHASES 257 "beamforming_files\\wave600\\vht\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE600_HE_HEADER 257 "beamforming_files\\wave600\\he\\lower_mac_bf_Header_600_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE600_HE_PHASES 257 "beamforming_files\\wave600\\he\\lower_bf_report_phases.txt"

// Wave700 VHT beamforming files
IDR_BEAMFORMINGMATRIX_WAVE700_VHT_SU_20MHZ_HEADER 257 "beamforming_files\\wave700\\vht\\vht_su_20mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_VHT_SU_20MHZ_PHASES 257 "beamforming_files\\wave700\\vht\\vht_su_20mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_VHT_SU_40MHZ_HEADER 257 "beamforming_files\\wave700\\vht\\vht_su_40mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_VHT_SU_40MHZ_PHASES 257 "beamforming_files\\wave700\\vht\\vht_su_40mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_VHT_SU_80MHZ_HEADER 257 "beamforming_files\\wave700\\vht\\vht_su_80mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_VHT_SU_80MHZ_PHASES 257 "beamforming_files\\wave700\\vht\\vht_su_80mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_VHT_SU_160MHZ_HEADER 257 "beamforming_files\\wave700\\vht\\vht_su_160mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_VHT_SU_160MHZ_PHASES 257 "beamforming_files\\wave700\\vht\\vht_su_160mhz\\lower_bf_report_phases.txt"

// Wave700 HE beamforming files
IDR_BEAMFORMINGMATRIX_WAVE700_HE_SU_20MHZ_HEADER 257 "beamforming_files\\wave700\\he\\he_su_20mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_HE_SU_20MHZ_PHASES 257 "beamforming_files\\wave700\\he\\he_su_20mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_HE_SU_40MHZ_HEADER 257 "beamforming_files\\wave700\\he\\he_su_40mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_HE_SU_40MHZ_PHASES 257 "beamforming_files\\wave700\\he\\he_su_40mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_HE_SU_80MHZ_HEADER 257 "beamforming_files\\wave700\\he\\he_su_80mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_HE_SU_80MHZ_PHASES 257 "beamforming_files\\wave700\\he\\he_su_80mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_HE_SU_160MHZ_HEADER 257 "beamforming_files\\wave700\\he\\he_su_160mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_HE_SU_160MHZ_PHASES 257 "beamforming_files\\wave700\\he\\he_su_160mhz\\lower_bf_report_phases.txt"

// Wave700 EHT beamforming files
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_20MHZ_HEADER 257 "beamforming_files\\wave700\\eht\\eht_su_20mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_20MHZ_PHASES 257 "beamforming_files\\wave700\\eht\\eht_su_20mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_40MHZ_HEADER 257 "beamforming_files\\wave700\\eht\\eht_su_40mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_40MHZ_PHASES 257 "beamforming_files\\wave700\\eht\\eht_su_40mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_80MHZ_HEADER 257 "beamforming_files\\wave700\\eht\\eht_su_80mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_80MHZ_PHASES 257 "beamforming_files\\wave700\\eht\\eht_su_80mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_160MHZ_HEADER 257 "beamforming_files\\wave700\\eht\\eht_su_160mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_160MHZ_PHASES 257 "beamforming_files\\wave700\\eht\\eht_su_160mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_160MHZ_PHASES_EHT 257 "beamforming_files\\wave700\\eht\\eht_su_160mhz\\lower_bf_report_phases_eht.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_320MHZ_LOWER_HEADER 257 "beamforming_files\\wave700\\eht\\eht_su_320mhz\\lower_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_320MHZ_LOWER_PHASES 257 "beamforming_files\\wave700\\eht\\eht_su_320mhz\\lower_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_320MHZ_LOWER_PHASES_EHT 257 "beamforming_files\\wave700\\eht\\eht_su_320mhz\\lower_bf_report_phases_eht.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_320MHZ_UPPER_HEADER 257 "beamforming_files\\wave700\\eht\\eht_su_320mhz\\upper_mac_bf_Header_700_tx.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_320MHZ_UPPER_PHASES 257 "beamforming_files\\wave700\\eht\\eht_su_320mhz\\upper_bf_report_phases.txt"
IDR_BEAMFORMINGMATRIX_WAVE700_EHT_SU_320MHZ_UPPER_PHASES_EHT 257 "beamforming_files\\wave700\\eht\\eht_su_320mhz\\upper_bf_report_phases_eht.txt"

#define APSTUDIO_READONLY_SYMBOLS
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 2 resource.
//
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
#undef APSTUDIO_READONLY_SYMBOLS

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
    LANGUAGE LANG_ENGLISH,
    SUBLANG_ENGLISH_US
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
    /////////////////////////////////////////////////////////////////////////////
    //
    // TEXTINCLUDE
    //

    1 TEXTINCLUDE
        BEGIN
    "resource.h\0" END

    2 TEXTINCLUDE
        BEGIN
    "#include "
    "winres.h"
    "\r\n"
    "\0" END

    3 TEXTINCLUDE
        BEGIN
    "\r\n"
    "\0" END

#endif // APSTUDIO_INVOKED

#endif // English (United States) resources
/////////////////////////////////////////////////////////////////////////////

#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//

/////////////////////////////////////////////////////////////////////////////
#endif // not APSTUDIO_INVOKED
