if UBOOT_CONFIG_TARGET_PCL063

config UBOOT_CONFIG_SYS_BOARD
	default "pcl063"

config UBOOT_CONFIG_SYS_VENDOR
	default "phytec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pcl063"

endif

if UBOOT_CONFIG_TARGET_PCL063_ULL

config UBOOT_CONFIG_SYS_BOARD
	default "pcl063"

config UBOOT_CONFIG_SYS_VENDOR
	default "phytec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pcl063_ull"

endif
