if UBOOT_CONFIG_TARGET_DISPLAY5

config UBOOT_CONFIG_SYS_CPU
	default "armv7"

config UBOOT_CONFIG_SYS_BOARD
	default "display5"

config UBOOT_CONFIG_SYS_VENDOR
	default "liebherr"

config UBOOT_CONFIG_SYS_SOC
	default "mx6"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "display5"

endif
