if UBOOT_CONFIG_TARGET_DRA7XX_EVM

config UBOOT_CONFIG_SYS_BOARD
	default "dra7xx"

config UBOOT_CONFIG_SYS_VENDOR
	default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "dra7xx_evm"

source "../../../board/ti/common/Kconfig"

endif
