if UBOOT_CONFIG_TARGET_NITROGEN6X

config UBOOT_CONFIG_SYS_BOARD
	default "nitrogen6x"

config UBOOT_CONFIG_SYS_VENDOR
	default "boundary"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "nitrogen6x"

config UBOOT_CONFIG_DDR_MB
	int "Memory size in MB"

endif
