if UBOOT_CONFIG_TARGET_HIHOPE_RZG2

config UBOOT_CONFIG_SYS_SOC
	default "rmobile"

config UBOOT_CONFIG_SYS_BOARD
	default "hihope-rzg2"

config UBOOT_CONFIG_SYS_VENDOR
	default "hoperun"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "hihope-rzg2"

endif
