menuconfig UBOOT_CONFIG_FSL_PFE
	bool "NXP PFE Ethernet driver"
	help
	  This driver provides support for NXP's Packet Forwarding Engine.

if UBOOT_CONFIG_FSL_PFE

config UBOOT_CONFIG_SYS_FSL_PFE_ADDR
	hex "PFE base address"
	default 0x04000000

endif
