if UBOOT_CONFIG_ROCKCHIP_RK3036

choice
	prompt "RK3036 board select"

config UBOOT_CONFIG_TARGET_EVB_RK3036
	bool "EVB_RK3036"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_TARGET_KYLIN_RK3036
	bool "KYLIN_RK3036"
	select UBOOT_CONFIG_BOARD_LATE_INIT

endchoice

config UBOOT_CONFIG_ROCKCHIP_BOOT_MODE_REG
	default 0x200081c8

config UBOOT_CONFIG_SYS_SOC
	default "rk3036"

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x400

config UBOOT_CONFIG_SPL_SERIAL
	default y

source "../../../../board/rockchip/evb_rk3036/Kconfig"
source "../../../../board/rockchip/kylin_rk3036/Kconfig"

endif
