# SPDX-License-Identifier: GPL-2.0

config QOS_TC
	tristate "QoS TC driver"
	depends on DPM_DATAPATH && !GRX500_CBM
	select NET_SCH_RED
	select NET_ACT_COLMARK
	select NET_CLS_IND

	help
	  This driver provides user space API for configuring HW QoS over TC
	  resources as schedulers, queues etc. The interface is based on linux
	  tc offload interface. The Intel datapath driver is used to do the
	  actual hardware configuration.

config QOS_TC_KCOV
	bool "QoS TC KCOV"
	depends on KCOV && QOS_TC
	help
	  Enable coverage on QoS TC driver for fuzzing.

config QOS_TC_TRACING
	bool "QoS TC tracing support"
	depends on QOS_TC
	depends on EVENT_TRACING
	help
	  Select this to enable qos_tc tracing infrastructure.
