config UBOOT_CONFIG_CLK_EXYNOS
	bool
	select UBOOT_CONFIG_CLK
	help
	  This enables support for common clock driver API on Samsung
	  Exynos SoCs.

menu "Clock drivers for Exynos SoCs"
	depends on UBOOT_CONFIG_CLK_EXYNOS

config UBOOT_CONFIG_CLK_EXYNOS7420
	bool "Clock driver for Samsung's Exynos7420 SoC"
	default y
	help
	  This enables common clock driver support for platforms based
	  on Samsung Exynos7420 SoC.

endmenu
