if UBOOT_CONFIG_BOARD_NETGEAR_DGND3700V2

config UBOOT_CONFIG_SYS_BOARD
	default "dgnd3700v2"

config UBOOT_CONFIG_SYS_VENDOR
	default "netgear"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "netgear_dgnd3700v2"

endif
