
if UBOOT_CONFIG_TARGET_LS1046AFRWY

config UBOOT_CONFIG_SYS_BOARD
	default "ls1046afrwy"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_SOC
	default "fsl-layerscape"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "ls1046afrwy"

source "../../../board/freescale/common/Kconfig"
endif
