menu "Bandwidth Monitoring"

config SGAM
	tristate "Session based accounting and metering"
	depends on SOC_LGM
	help
	  This module provides HW based packet counter and HW based metering
	  of the bandwidth to the group of sessions accelerated by HW.
	  These packet counters and meters can be created using the IOCTLs
	  provided in the sgam_api.h and the sessions can be added to these
	  counters and meters using the iptables extended target "GROUP".
endmenu
