if UBOOT_CONFIG_TARGET_POPMETAL_RK3288

config UBOOT_CONFIG_SYS_BOARD
	default "popmetal_rk3288"

config UBOOT_CONFIG_SYS_VENDOR
	default "chipspark"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "popmetal_rk3288"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
