config MXL_VPN
	tristate "Maxlinear VPN Driver"
	depends on m
	select SRAM
	select INET_ESP_OFFLOAD
	help
	  Driver for ARM-EM firmware in Maxlinear platform

config MXL_VPN_TEST
	depends on MXL_VPN
	bool "Enable unit test functions in mxl_vpn"
	help
	  This is to compile in some test features in mxl_vpn
