if UBOOT_CONFIG_TARGET_CROWNBAY

config UBOOT_CONFIG_SYS_BOARD
	default "crownbay"

config UBOOT_CONFIG_SYS_VENDOR
	default "intel"

config UBOOT_CONFIG_SYS_SOC
	default "queensbay"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "crownbay"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0xfff00000

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_X86_RESET_VECTOR
	select UBOOT_CONFIG_INTEL_QUEENSBAY
	select UBOOT_CONFIG_BOARD_ROMSIZE_KB_1024
	select UBOOT_CONFIG_BOARD_EARLY_INIT_F
	select UBOOT_CONFIG_SPI_FLASH_SST

endif
