if UBOOT_CONFIG_TARGET_NANOPI2

config UBOOT_CONFIG_SYS_BOARD
	default "nanopi2"

config UBOOT_CONFIG_SYS_VENDOR
	default "friendlyarm"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "s5p4418_nanopi2"

endif
