if UBOOT_CONFIG_TARGET_OCTEONTX_81XX || UBOOT_CONFIG_TARGET_OCTEONTX_83XX

config UBOOT_CONFIG_SYS_VENDOR
	string
	default	"Marvell"

config UBOOT_CONFIG_SYS_BOARD
	string
	default "octeontx"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "octeontx_common"

endif
