config UBOOT_CONFIG_DM_HASH
	bool "Enable Driver Model for Hash"
	depends on UBOOT_CONFIG_DM
	help
	  If you want to use driver model for Hash, say Y.

config UBOOT_CONFIG_HASH_SOFTWARE
	bool "Enable driver for Hash in software"
	depends on UBOOT_CONFIG_DM_HASH
	depends on UBOOT_CONFIG_MD5
	depends on UBOOT_CONFIG_SHA1
	depends on UBOOT_CONFIG_SHA256
	depends on UBOOT_CONFIG_SHA512_ALGO
	help
	  Enable driver for hashing operations in software. Currently
	  it support multiple hash algorithm including CRC/MD5/SHA.
