if UBOOT_CONFIG_TARGET_ROC_RK3308_CC

config UBOOT_CONFIG_SYS_BOARD
	default "firefly-rk3308"

config UBOOT_CONFIG_SYS_VENDOR
	default "firefly"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "firefly_rk3308"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
