if UBOOT_CONFIG_TARGET_AM57XX_EVM

config UBOOT_CONFIG_SYS_BOARD
	default "am57xx"

config UBOOT_CONFIG_SYS_VENDOR
	default "ti"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "am57xx_evm"

source "../../../board/ti/common/Kconfig"

endif
