if UBOOT_CONFIG_TARGET_ICORE_STM32MP1 || UBOOT_CONFIG_TARGET_MICROGEA_STM32MP1

config UBOOT_CONFIG_SYS_BOARD
	default "stm32mp1"

config UBOOT_CONFIG_SYS_VENDOR
	default "engicam"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "stm32mp15_common"

endif
