if UBOOT_CONFIG_TARGET_NPI_IMX6ULL

config UBOOT_CONFIG_SYS_BOARD
	default "npi_imx6ull"

config UBOOT_CONFIG_SYS_VENDOR
	default "seeed"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "npi_imx6ull"

endif
