if UBOOT_CONFIG_ROCKCHIP_RK322X


config UBOOT_CONFIG_TARGET_EVB_RK3229
	bool "EVB_RK3229"
	select UBOOT_CONFIG_BOARD_LATE_INIT

config UBOOT_CONFIG_ROCKCHIP_BOOT_MODE_REG
	default 0x110005c8

config UBOOT_CONFIG_SYS_SOC
	default "rk322x"

config UBOOT_CONFIG_SYS_MALLOC_F_LEN
	default 0x800

config UBOOT_CONFIG_SPL_LIBCOMMON_SUPPORT
	default y

config UBOOT_CONFIG_SPL_LIBGENERIC_SUPPORT
	default y

config UBOOT_CONFIG_SPL_SERIAL
	default y

config UBOOT_CONFIG_TPL_MAX_SIZE
        default 28672

config UBOOT_CONFIG_TPL_STACK
        default 0x10088000

config UBOOT_CONFIG_TPL_TEXT_BASE
        default 0x10081000

source "../../../../board/rockchip/evb_rk3229/Kconfig"

endif
