if UBOOT_CONFIG_TARGET_HIKEY

config UBOOT_CONFIG_SYS_BOARD
	default "hikey"

config UBOOT_CONFIG_SYS_VENDOR
	default "hisilicon"

config UBOOT_CONFIG_SYS_SOC
	default "hi6220"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "hikey"

endif
