menu "M68000 architecture"
	depends on UBOOT_CONFIG_M68K

config UBOOT_CONFIG_SYS_ARCH
	default "m68k"

# processor family
config UBOOT_CONFIG_MCF520x
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_DM
        select UBOOT_CONFIG_DM_SERIAL
	bool

config UBOOT_CONFIG_MCF52x2
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_DM
        select UBOOT_CONFIG_DM_SERIAL
	bool

config UBOOT_CONFIG_MCF523x
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_DM
        select UBOOT_CONFIG_DM_SERIAL
	bool

config UBOOT_CONFIG_MCF530x
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_DM
        select UBOOT_CONFIG_DM_SERIAL
	bool

config UBOOT_CONFIG_MCF5301x
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_DM
        select UBOOT_CONFIG_DM_SERIAL
	bool

config UBOOT_CONFIG_MCF532x
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_DM
        select UBOOT_CONFIG_DM_SERIAL
	bool

config UBOOT_CONFIG_MCF537x
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_DM
        select UBOOT_CONFIG_DM_SERIAL
	bool

config UBOOT_CONFIG_MCF5441x
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_DM
        select UBOOT_CONFIG_DM_SERIAL
	bool

config UBOOT_CONFIG_MCF5227x
	select UBOOT_CONFIG_OF_CONTROL
	select UBOOT_CONFIG_DM
        select UBOOT_CONFIG_DM_SERIAL
	bool

# processor type
config UBOOT_CONFIG_M5208
	bool
	select UBOOT_CONFIG_MCF520x

config UBOOT_CONFIG_M5235
	bool
	select UBOOT_CONFIG_MCF523x

config UBOOT_CONFIG_M5249
	bool
	select UBOOT_CONFIG_MCF52x2

config UBOOT_CONFIG_M5253
	bool
	select UBOOT_CONFIG_MCF52x2

config UBOOT_CONFIG_M5271
	bool
	select UBOOT_CONFIG_MCF52x2

config UBOOT_CONFIG_M5272
	bool
	select UBOOT_CONFIG_MCF52x2

config UBOOT_CONFIG_M5275
	bool
	select UBOOT_CONFIG_MCF52x2

config UBOOT_CONFIG_M5282
	bool
	select UBOOT_CONFIG_MCF52x2

config UBOOT_CONFIG_M5307
	bool
	select UBOOT_CONFIG_MCF530x

config UBOOT_CONFIG_M53015
	bool
	select UBOOT_CONFIG_MCF5301x

config UBOOT_CONFIG_M5329
	bool
	select UBOOT_CONFIG_MCF532x

config UBOOT_CONFIG_M5373
	bool
	select UBOOT_CONFIG_MCF532x
	select UBOOT_CONFIG_MCF537x

config UBOOT_CONFIG_M54418
	bool
	select UBOOT_CONFIG_MCF5441x

choice
	prompt "Target select"
	optional

config UBOOT_CONFIG_TARGET_M5235EVB
	bool "Support M5235EVB"
	select UBOOT_CONFIG_M5235

config UBOOT_CONFIG_TARGET_COBRA5272
	bool "Support cobra5272"
	select UBOOT_CONFIG_M5272

config UBOOT_CONFIG_TARGET_EB_CPU5282
	bool "Support eb_cpu5282"
	select UBOOT_CONFIG_M5282

config UBOOT_CONFIG_TARGET_M5208EVBE
	bool "Support M5208EVBE"
	select UBOOT_CONFIG_M5208

config UBOOT_CONFIG_TARGET_M5249EVB
	bool "Support M5249EVB"
	select UBOOT_CONFIG_M5249

config UBOOT_CONFIG_TARGET_M5253DEMO
	bool "Support M5253DEMO"
	select UBOOT_CONFIG_M5253

config UBOOT_CONFIG_TARGET_M5272C3
	bool "Support M5272C3"
	select UBOOT_CONFIG_M5272

config UBOOT_CONFIG_TARGET_M5275EVB
	bool "Support M5275EVB"
	select UBOOT_CONFIG_M5275

config UBOOT_CONFIG_TARGET_M5282EVB
	bool "Support M5282EVB"
	select UBOOT_CONFIG_M5282

config UBOOT_CONFIG_TARGET_ASTRO_MCF5373L
	bool "Support astro_mcf5373l"
	select UBOOT_CONFIG_M5373

config UBOOT_CONFIG_TARGET_M53017EVB
	bool "Support M53017EVB"
	select UBOOT_CONFIG_M53015

config UBOOT_CONFIG_TARGET_M5329EVB
	bool "Support M5329EVB"
	select UBOOT_CONFIG_M5329

config UBOOT_CONFIG_TARGET_M5373EVB
	bool "Support M5373EVB"
	select UBOOT_CONFIG_M5373

config UBOOT_CONFIG_TARGET_AMCORE
	bool "Support AMCORE"
	select UBOOT_CONFIG_M5307

config UBOOT_CONFIG_TARGET_STMARK2
        bool "Support stmark2"
        select UBOOT_CONFIG_M54418

endchoice

source "../../board/BuS/eb_cpu5282/Kconfig"
source "../../board/astro/mcf5373l/Kconfig"
source "../../board/cobra5272/Kconfig"
source "../../board/freescale/m5208evbe/Kconfig"
source "../../board/freescale/m5235evb/Kconfig"
source "../../board/freescale/m5249evb/Kconfig"
source "../../board/freescale/m5253demo/Kconfig"
source "../../board/freescale/m5272c3/Kconfig"
source "../../board/freescale/m5275evb/Kconfig"
source "../../board/freescale/m5282evb/Kconfig"
source "../../board/freescale/m53017evb/Kconfig"
source "../../board/freescale/m5329evb/Kconfig"
source "../../board/freescale/m5373evb/Kconfig"
source "../../board/sysam/amcore/Kconfig"
source "../../board/sysam/stmark2/Kconfig"

endmenu
