
config UBOOT_CONFIG_STM32MP1_DDR
	bool "STM32MP1 DDR driver"
	depends on UBOOT_CONFIG_DM && UBOOT_CONFIG_OF_CONTROL && UBOOT_CONFIG_ARCH_STM32MP
	select UBOOT_CONFIG_RAM
	select UBOOT_CONFIG_SPL_RAM if SPL
	default y
	help
		activate STM32MP1 DDR controller driver for STM32MP1 soc
		family:	support for LPDDR2, LPDDR3 and DDR3
		the SDRAM parameters for controleur and phy need to be provided
		in device tree (computed by DDR tuning tools)

config UBOOT_CONFIG_STM32MP1_DDR_INTERACTIVE
	bool "STM32MP1 DDR driver : interactive support"
	depends on UBOOT_CONFIG_STM32MP1_DDR
	help
		activate interactive support in STM32MP1 DDR controller driver
		used for DDR tuning tools
		to enter in intercative mode type 'd' during SPL DDR driver
		initialisation

config UBOOT_CONFIG_STM32MP1_DDR_INTERACTIVE_FORCE
	bool "STM32MP1 DDR driver : force interactive mode"
	depends on UBOOT_CONFIG_STM32MP1_DDR_INTERACTIVE
	help
		force interactive mode in STM32MP1 DDR controller driver
		skip the polling of character 'd' in console
		useful when SPL is loaded in sysram
		directly by programmer

config UBOOT_CONFIG_STM32MP1_DDR_TESTS
	bool "STM32MP1 DDR driver : tests support"
	depends on UBOOT_CONFIG_STM32MP1_DDR_INTERACTIVE
	default y
	help
		activate test support for interactive support in
		STM32MP1 DDR controller driver: command test

config UBOOT_CONFIG_STM32MP1_DDR_TUNING
	bool "STM32MP1 DDR driver : support of tuning"
	depends on UBOOT_CONFIG_STM32MP1_DDR_INTERACTIVE
	default y
	help
		activate tuning command in STM32MP1 DDR interactive mode
		used for DDR tuning tools
		- DQ Deskew algorithm
		- DQS Trimming
