# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2019 Intel Corporation <www.intel.com>

if UBOOT_CONFIG_TARGET_SLIMBOOTLOADER

config UBOOT_CONFIG_SYS_BOARD
	default "slimbootloader"

config UBOOT_CONFIG_SYS_VENDOR
	default "intel"

config UBOOT_CONFIG_SYS_SOC
	default "slimbootloader"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "slimbootloader"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0x00100000

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS
	def_bool y
	select UBOOT_CONFIG_SYS_SLIMBOOTLOADER
	select UBOOT_CONFIG_USB_STORAGE
	select UBOOT_CONFIG_USB_KEYBOARD

endif
