// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2021 MaxLinear, Inc.
 */

#include "lgm_evm_b0_qspi_nand.dts"

/*
   Disable SLIC220
 */
&irc0 { /* vcodec0 irq */
	status = "disabled";
};

&irc1 {/* vcodec1 irq */
	status = "disabled";
};

&vcodec0 {
	status = "disabled";
};

&vcodec1 {
	status = "disabled";
};

/*
   Enable DXS
 */

&c55 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_c55_tdm1>;
};

/* pin conflict with dxs3 */
&ptn5150_1 {
	status = "disabled";
};

/* pin conflict with dxs3 */
&led16 {
	status = "disabled";
};

/* pin conflict with dxs2 */
&led17 {
	status = "disabled";
};

&ssc1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1>;

	dxs0: dxs@0 {
		status = "okay";
		compatible = "lantiq,duslicxs";
		reg = <0>;
		spi-max-frequency = <8000000>;
		spi-cpha;
		spi-cpol;
		interrupt-parent = <&gpio1>;
		interrupts = <8 1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_spi1_cs0>;
		intel,reset-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
		intel,reset-interval = <10>;
	};

	dxs1: dxs@2 {
		status = "okay";
		compatible = "lantiq,duslicxs";
		reg = <2>;
		spi-max-frequency = <8000000>;
		spi-cpha;
		spi-cpol;
		interrupt-parent = <&gpio1>;
		interrupts = <8 1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_spi1_cs2>;
		intel,reset-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
		intel,reset-interval = <10>;
	};

	dxs2: dxs@1 {
		status = "okay";
		compatible = "lantiq,duslicxs";
		reg = <1>;
		spi-max-frequency = <8000000>;
		spi-cpha;
		spi-cpol;
		interrupt-parent = <&gpio1>;
		interrupts = <8 1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_spi1_cs1>;
		intel,reset-gpios = <&ssogpio 17 GPIO_ACTIVE_HIGH>;
		intel,reset-interval = <10>;
	};

	dxs3: dxs@4 {
		status = "okay";
		compatible = "lantiq,duslicxs";
		reg = <4>;
		spi-max-frequency = <8000000>;
		spi-cpha;
		spi-cpol;
		interrupt-parent = <&gpio1>;
		interrupts = <8 1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_spi1_cs4>;
		intel,reset-gpios = <&ssogpio 16 GPIO_ACTIVE_HIGH>;
		intel,reset-interval = <10>;
	};
};
