// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2020-2022 MaxLinear, Inc.
 * Copyright (C) 2019-2020 Intel Corporation.
 */

/dts-v1/;
#include "octopus_641_base.dtsi"
#include "octopus_641_sfp_eth_wan.dtsi"
#include "octopus_emmc.dtsi"
#include "octopus_641_led.dtsi"
#include "voice.dtsi"

&gsw {
	gsw_140: gsw_core@10 {
		compatible = "intel,gsw_core";
		num_resources = <0>;
		intel,gsw_ext-switch = <1>;
		master-mdio = <&mac0_mdio>;
		intel,gsw_ext-phyid = <0x1f>;
		intel,gsw_ext-baseaddr = <0xe000>;
		intel,gsw_ext-sgmiibaseaddr = <0xD000>;
		intel,gsw-devid = <1>;
		intel,gsw-globalpce-rules = <64>;
		mxl,lpid_config = <&lpid_config>;
	};
};

&gsw_mac8 {
	speed = <2500>;
	xpcs = <&hsior_xpcs1>;
};

&lpid_config {
	mxl,port-mode = <LPID_PORT_MODE0>;
};

&aqsphylan {
	status = "disabled";
};

&lan1 {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	compatible = "mxl,pdi";
	mxl,dp-dev-port = <10>;
	mxl,dp-port-id = <10>;
	mxl,xgmac-id = <10>;
	mac = <&gsw_mac8>;
	phy-mode = "2500base-x";

	fixed-link {
		speed = <2500>;
		full-duplex;
		pause;
		asym-pause;
	};

	lan1_eth: ethernet@1 {
		compatible = "mxl,pdi-port";
		reg = <1>;
	};
};

&i2c_expander {
	status = "okay";

	/* 10GPHY:B2/3: x, 0,  MoCA:C0/1: 1,x,  GSW140: B0/1  0,x */
	/* select 10GPHY and GSW140 by default */
	analog_sw_sel1 {
		gpio-hog;
		gpios = <3 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "analog_sw_sel1";
	};

	analog_sw_sel2 {
		gpio-hog;
		gpios = <4 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "analog_sw_sel2";
	};

	/* 0 - 10GPHY,  1 - MOCA,  2 - GSW140 */
	reset_gsw140 {
		gpio-hog;
		gpios = <2 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "gsw140-reset";
	};
};

&hsior_xpcs0 {
	xpcs-mode = <2>; /* <0> - SGMII, <1> - 1000BaseX, <2> - 2500BaseX, <3> - 5GBaseR, <4> - 10GBaseR, <5> - USXGMII, <6> - 10GKR, <7> - QUSXGMII */
	xpcs-cl37 = <0 0 0 0 0 0 0 0>; /* <0> - disable, <1> - SGMII MAC side, <2> - SGMII PHY side, <3> - BaseX */
	status = "okay";
};

&hsior_xpcs1 {
	xpcs-mode = <2>; /* <0> - SGMII, <1> - 1000BaseX, <2> - 2500BaseX, <3> - 5GBaseR, <4> - 10GBaseR, <5> - USXGMII, <6> - 10GKR, <7> - QUSXGMII */
	xpcs-cl37 = <0 0 0 0 0 0 0 0>; /* <0> - disable, <1> - SGMII MAC side, <2> - SGMII PHY side, <3> - BaseX */
	status = "okay";
};

&pcie21 {
	status = "disabled";
};

&pcie20 {
	status = "disabled";
};

&combophy2 { /* PCIe20/21, HSIOR_XPCS0/1, SATA20/21 */
	status = "okay";
};

&i2c3 {
	status = "okay";
};
