// SPDX-License-Identifier: GPL-2.0
/*
 * Copyright (C) 2020-2022 MaxLinear, Inc.
 * Copyright (C) 2019-2020 Intel Corporation.
 *
 * This program is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License, as published by the Free
 * Software Foundation; either version 2 of the License, or (at your option)
 * any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with this program; if not, see <http://www.gnu.org/licenses/>.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

#include "lightning_mountain.dtsi"
#include "firewall_domain.dtsi"
#include "noc_firewall.dtsi"

/* EMMC setting */
&emmc {
	status = "okay";
	bus-width = <8>;
	non-removable;
};

&emmc_phy {
	status = "okay";
};

/ {
	sdxc_pwr: regulator-gpio {
		compatible = "regulator-gpio";

		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		regulator-name = "BD2204GUL";
		regulator-type = "voltage";

		/* SD_PWR_EN */
		enable-gpio = <&ssogpio 14 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		/* SD_PWR_SEL */
		gpios = <&gpio2 18 GPIO_ACTIVE_HIGH>;
		states = <3300000 0x0
			  1800000 0x1>;

		status = "disabled";
	};
};

&sdxc {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdio &pinctrl_sdio_wp_gpio>;
	cd-gpios = <&gpio2 16 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	vqmmc-supply = <&sdxc_pwr>;

	/* 208MHz requires rework of termination resistors.
	 * Since this is not yet available in default boards,
	 * we limit freq to 104MHz.
	 */
	max-frequency = <104000000>;
};

&gphy0 {
	status = "disabled";
};

&gphy1 {
	status = "disabled";
};

&gphy2 {
	status = "disabled";
};

&gphy3 {
	status = "disabled";
};

/******************************************************************************
 ** Board configuration: XPCS SERDES Parameters
 ******************************************************************************/
&wan_xpcs {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <0 0 0 0 0 0 0 0>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&lan_xpcs {
	rx_attn_lvl = <0 0 0 7 7 7 7 7>;
	rx_ctle_boost = <18 18 18 0 0 0 0 0>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 1 1 1 1 1>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <0 0 0 0 0 0 0 0>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 40 40 40 40 40>;
	tx_eq_pre = <4 4 4 0 0 0 0 0>;
	tx_eq_post = <4 4 4 0 0 0 0 0>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&hsiol_xpcs0 {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <1 1 1 1 1 1 1 1>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&hsiol_xpcs1 {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <1 1 1 1 1 1 1 1>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&hsior_xpcs0 {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <1 1 1 1 1 1 1 1>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

&hsior_xpcs1 {
	rx_attn_lvl = <0 0 0 0 0 0 0 0>;
	rx_ctle_boost = <18 18 18 16 16 16 16 16>;
	rx_ctle_pole = <0 0 0 2 2 2 2 2>;
	rx_vga1_gain = <4 4 4 5 5 5 5 5>;
	rx_vga2_gain = <4 4 4 5 5 5 5 5>;
	rx_dfe_bypass = <1 1 1 0 0 0 0 0>;
	cont_adapt_en = <0 0 0 1 1 1 1 1>;
	rx_cali = <1 1 1 1 1 1 1 1>;
	tx_vboost_en = <1 1 1 1 1 1 1 1>;
	tx_vboost_lvl = <5 5 5 5 5 5 5 5>;
	tx_iboost_lvl = <15 15 15 15 15 15 15 15>;
	tx_eq_main = <16 16 19 28 28 28 28 28>;
	tx_eq_pre = <4 4 4 16 16 16 16 16>;
	tx_eq_post = <4 4 4 32 32 32 32 32>;
	tx_eq_ovrride = <1 1 1 1 1 1 1 1>;
};

/* PCIe */
&pcie21 { /* M2_KeyB */
	status = "disabled";
	mxl,has_cellular_module;
	power_on-gpios = <&ssogpio 14 GPIO_ACTIVE_HIGH>;
	module_reset-gpios = <&ssogpio 12 GPIO_ACTIVE_HIGH>;
	reset-assert-ms = <200>;
	reset-gpios = <&ssogpio 13 GPIO_ACTIVE_LOW>;
	num-lanes = <1>;
};

&pcie30 { /* WIFI-615 */
	status = "disabled";
	reset-assert-ms = <200>;
	reset-gpios = <&ssogpio 10 GPIO_ACTIVE_LOW>;
	num-lanes = <1>;
};

&pcie31 { /* WIFI-665-6G */ 
	status = "disabled";
	reset-assert-ms = <200>;
	reset-gpios = <&ssogpio 11 GPIO_ACTIVE_LOW>;
	num-lanes = <1>;
};

&pcie40 { /* DSL - VRX619 */ 
	status = "disabled";
	reset-assert-ms = <200>;
	reset-gpios = <&ssogpio 15 GPIO_ACTIVE_HIGH>;
	num-lanes = <1>;
};

&pcie41 { /* WiFi-665-5G */
	status = "disabled";
	reset-assert-ms = <200>;
	reset-gpios = <&ssogpio 9 GPIO_ACTIVE_LOW>;
	num-lanes = <1>;
};

&lpid_config {
	mxl,port-mode = <LPID_PORT_MODE0>;
};

/ {
	aliases {
		eth0_1 = &lan0;
		eth0_2 = &lan2;
		eth0_3 = &lan3;
		eth0_4 = &lan4;
		eth0_5 = &lan5;
	};
	usb0_vbus:regulator-vbus@0 {
		compatible = "regulator-fixed";
		regulator-name = "usb0_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio0 1 1>;
		enable-active-low;
	};

	usb1_vbus:regulator-vbus@1 {
		compatible = "regulator-fixed";
		regulator-name = "usb1_vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gpio0 3 1>;
		enable-active-low;
	};
};

&i2c0 {
	pmic: pmic@6a {
		compatible = "bd2653swv";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic_function>;
		reg = <0x6a>;
		interrupt-parent = <&gpio2>;
		interrupts = <26 IRQ_TYPE_LEVEL_HIGH>;

		vdd_cpu0: BUCK0 {
			regulator-compatible = "buck0";
			regulator-name = "cpu0";
		};

		vdd_cpu1: BUCK1 {
			regulator-compatible = "buck1";
			regulator-name = "cpu1";
		};

		vdd_adp: BUCK2 {
			regulator-compatible = "buck2";
			regulator-name = "adp";
			regulator-min-microvolt = <0>;
			regulator-max-microvolt = <880000>;
		};

		vdd_roc: BUCK3 {
			regulator-compatible = "buck3";
			regulator-name = "roc";
		};
	};
};

&epu {
	vdd-cpu0-supply = <&vdd_cpu0>;
	vdd-cpu1-supply = <&vdd_cpu1>;
	vdd-adp-supply = <&vdd_adp>;
};

/******************************************************************************
 ** Board configuration: Configure LAN/WAN interfaces
 ******************************************************************************/
&eth {
	status = "okay";

    lan0: interface@0 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		reg = <0>;
		mxl,dp-dev-port = <3>;
		mxl,dp-port-id = <3>;
		mxl,dp-port-10g;
		mxl,xgmac-id = <3>;
		mac = <&gsw_mac1>;
		phy-mode = "10gbase-kr";
		fixed-link {
		    speed = <10000>;
		    full-duplex;
		    pause;
		    asym-pause;
		};
	};

	lan1: interface@1 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		reg = <1>;
		mxl,dp-dev-port = <4>;
		mxl,dp-port-id = <4>;
		mxl,dp-port-10g;
		mxl,xgmac-id = <4>;
		mac = <&gsw_mac2>;
		phy-mode = "10gbase-kr";
		fixed-link {
			speed = <10000>;
			full-duplex;
			pause;
			asym-pause;
		};
	};

	lan2: interface@2 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <5>;
		mxl,dp-port-id = <5>;
		mxl,xgmac-id = <5>;
		mac = <&gsw_mac3>;
		managed = "in-band-status";
		phy = <&gphy0>;
		phy-mode = "sgmii";
		lan2_eth: ethernet@2 {
			compatible = "mxl,pdi-port";
			reg = <2>;
			phy-mode = "rgmii";
			phy-handle = <&gphy0>;
		};
	};

	lan3: interface@3 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <6>;
		mxl,dp-port-id = <6>;
		mxl,xgmac-id = <6>;
		mac = <&gsw_mac4>;
		managed = "in-band-status";
		phy = <&gphy1>;
		phy-mode = "sgmii";
		lan3_eth: ethernet@3 {
			compatible = "mxl,pdi-port";
			reg = <3>;
			phy-mode = "rgmii";
			phy-handle = <&gphy1>;
		};
	};

	lan4: interface@4 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <7>;
		mxl,dp-port-id = <7>;
		mxl,xgmac-id = <7>;
		mac = <&gsw_mac5>;
		managed = "in-band-status";
		phy = <&gphy2>;
		phy-mode = "sgmii";
		lan4_eth: ethernet@4 {
			compatible = "mxl,pdi-port";
			reg = <4>;
			phy-mode = "rgmii";
			phy-handle = <&gphy2>;
		};
	};

	lan5: interface@5 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,dp-dev-port = <8>;
		mxl,dp-port-id = <8>;
		mxl,xgmac-id = <8>;
		mac = <&gsw_mac6>;
		managed = "in-band-status";
		phy = <&gphy3>;
		phy-mode = "sgmii";
		lan5_eth: ethernet@5 {
			compatible = "mxl,pdi-port";
			reg = <5>;
			phy-mode = "rgmii";
			phy-handle = <&gphy3>;
		};
	};

	wan0: interface@8 {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "mxl,pdi";
		mxl,wan = <1>;
		mxl,dp-dev-port = <9>;
		mxl,dp-port-id = <9>;
		mxl,xgmac-id = <9>;
		mxl,dp-port-10g;
		mxl,pon_hgu_sim = <0>;
		mac = <&gsw_mac0>;
		phy-mode = "10gbase-kr";
		fixed-link {
		    speed = <10000>;
		    full-duplex;
		    pause;
		    asym-pause;
		};
	};
};

/******************************************************************************
 ** Board configuration: Configure DECT interfaces
 ******************************************************************************/
&ssc1 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1>;
	dect@0 {
		compatible = "intel,dect_spi";
		spi-max-frequency = <4000000>;
		reg = <0>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;
		interrupt-parent = <&gpio2>;
		reset-gpios = <&ssogpio 13 GPIO_ACTIVE_HIGH>;
		intel,dect-cs = <&gpio0 14 GPIO_ACTIVE_LOW >;
		spi-cpol;
		spi-cpha;
	};
};

&cgu0 {
	cgussc {
		#address-cells = <1>;
		#size-cells = <0>;

		/* SSC in LJPLL4 for PCIe */
		cgussc1: cgussc@110 {
			reg = <0x110>;
			intel,ssc-enable = <1>;
			intel,ssc-spread = <5>;
			intel,ssc-dir = <1>; /* 0: center, 1: down */
			intel,ssc-divval = <10>;
		};
	};
};

&pinctrl {
	pinctrl_ledc0_rst: ledc0_rst {
		intel,pins = <9>;
		function = "ssoled0_rst";
		pinmux = <0>;
		groups = "ledc0_rst";
	};
};

&ssogpio {
	status = "okay";
	ngpios = <16>;
	reset-gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
	mxl,sso-pin-avail = <0xFFFFFF>;
};

&ssoled {
	status = "okay";
	mxl,sso-def-brightness = <0>;
	mxl,sso-def-updatesrc = <1>; /* 0 - manual, 1 - gptc 2 - fpid */
	mxl,sso-def-blinkrate = <2>;

	led16: led16 { /* LAN_LED_B */
		label = "led16:blue:LAN";
		led-gpios = <&ssogpio 7 0>;
		mxl,led-pin = <7>;
	};

	led17: led17 { /* LAN_LED_R */
		label = "led17:red:lan";
		led-gpios = <&ssogpio 6 0>;
		mxl,led-pin = <6>;
	};

	led18: led18 { /* LAN_LED_G */
		label = "led18:green:lan";
		led-gpios = <&ssogpio 5 0>;
		mxl,led-pin = <5>;
	};

	led19: led19 { /* LAN_LED_W */
		label = "led19:white:lan";
		led-gpios = <&ssogpio 4 0>;
		mxl,led-pin = <4>;
	};

	led20: led20 { /* PWR_G */
		label = "led20:green:power";
		led-gpios = <&ssogpio 2 0>;
		mxl,led-pin = <2>;
	};

	led21: led21 { /* PWR_R */
		label = "led21:red:power";
		led-gpios = <&ssogpio 3 0>;
		mxl,led-pin = <3>;
	};

	led22: led22 { /* WIFI_G */
		label = "led22";
		led-gpios = <&ssogpio 1 0>;
		mxl,led-pin = <1>;
	};

	led23: led23 { /* VOIP1_G */
		label = "led23";
		led-gpios = <&ssogpio 0 0>;
		mxl,led-pin = <0>;
	};

	led24: led24 { /* VOIP2_G */
		label = "led24";
		led-gpios = <&ssogpio 8 0>;
		mxl,led-pin = <8>;
	};
};

&ebu_nand {
	status = "disabled";
	nand,cs = <1>;
	nand-ecc-mode = "hw";
	nand-ecc-algo = "bch";
	nand-ecc-strength = <8>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ebu_nand_base &pinctrl_ebu_nand_cs1>;
};

&pinctrl_qspi {
		intel,slew-rate = <1>;
		intel,drive-current = <3>;
};

&qspi0 {
	status = "disabled";
	mxl-spinand@1 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "mxl,spinand";
		reg = <1 1>;
		linux,mtd-name = "nand.0";
		spi-max-frequency = <50000000>;
		page-size = <2048>;
		block-size = <17>; // 2^17, 128KB
		spi-tx-bus-width = <1>;
		spi-rx-bus-width = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_qspi &pinctrl_qspi_cs1 &pinctrl_qspi_rst1>;

		read-delay = <3>;
		tshsl-ns = <200>;
		tsd2d-ns = <255>;
		tchsh-ns = <20>;
		tslch-ns = <20>;

        partition@0 {
            reg = <0x0 0x80000>;
            label = "uboot";
            read-only;
        };

        partition@c0000 {
            reg = <0xc0000 0x500000>;
            label = "uboot_env";
        };

        partition@800000 {
            reg = <0x800000 0x800000>;
            label = "image0";
        };

        partition@1000000 {
            reg = <0x1000000 0x20000>;
            label = "image1";
        };
	};
};

/******************************************************************************
**  PCIE devices temperature sensor node definition
*******************************************************************************/
/ {
	wave_6_0: iwlwave@0 {
		compatible = "mxl,wave";
		wave-band = <2>;  /* 6GHz */
		/* type - 0/1,	param - param required for Cooling type
		 * type 0 for Duty Cycle, 1 for Antenna count
		 */
		max-cooling-state = <3>;
		cooling-states = <
			/* type param */
			1  3
			1  2
			1  1
		>;

		#thermal-sensor-cells = <0>;
		#cooling-cells = <2>;
	};

	wave_5_0: iwlwave@1 {
		compatible = "mxl,wave";
		wave-band = <0>;  /* 5GHz */
		/* type - 0/1,	param - param required for Cooling type
		 * type 0 for Duty Cycle, 1 for Antenna count
		 */
		max-cooling-state = <3>;
		cooling-states = <
			/* type param */
			1  3
			1  2
			1  1
		>;

		#thermal-sensor-cells = <0>;
		#cooling-cells = <2>;
	};

	wave_2_4: iwlwave@2 {
		compatible = "mxl,wave";
		wave-band = <1>;  /* 2.4GHz */
		/* type - 0/1,	param - param required for Cooling type
		 * type 0 for Duty Cycle, 1 for Antenna count
		 */
		max-cooling-state = <3>;
		cooling-states = <
			/* type param */
			1  3
			1  2
			1  1
		>;

		#thermal-sensor-cells = <0>;
		#cooling-cells = <2>;
	};
};


#include "lgm_pinctrl.dtsi"
