if UBOOT_CONFIG_TARGET_T2080RDB

config UBOOT_CONFIG_SYS_BOARD
	default "t208xrdb"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "T208xRDB"

config UBOOT_CONFIG_T2080RDB_REV_D
	bool "Support for T2080RDB revisions D and up"

source "../../../board/freescale/common/Kconfig"

endif
