if UBOOT_CONFIG_TARGET_S5PC210_UNIVERSAL

config UBOOT_CONFIG_SYS_BOARD
	default "universal_c210"

config UBOOT_CONFIG_SYS_VENDOR
	default "samsung"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "s5pc210_universal"

endif
