#
# mcast_helper configuration
#

config MCAST_HELPER_PACKAGE
	tristate "Multicast Helper package enable"
	depends on BRIDGE
	help
	  mcast_helper support

config MCAST_HELPER_REG
	tristate "Multicast Helper Register Support"
	help
	  mcast_helper reg support

config MCAST_HELPER
	tristate "Multicast Helper support"
	help
	  mcast_helper support

config MCAST_HELPER_ACL
	tristate "Multicast Helper ACL support"
	depends on MCAST_HELPER
	help
	  mcast_helper ACL support
