if UBOOT_CONFIG_ARCH_MEDIATEK

config UBOOT_CONFIG_PINCTRL_MTK
	depends on UBOOT_CONFIG_PINCTRL_GENERIC
	bool

config UBOOT_CONFIG_PINCTRL_MT7622
	bool "MT7622 SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MTK

config UBOOT_CONFIG_PINCTRL_MT7623
	bool "MT7623 SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MTK

config UBOOT_CONFIG_PINCTRL_MT7629
	bool "MT7629 SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MTK

config UBOOT_CONFIG_PINCTRL_MT8512
	bool "MT8512 SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MTK

config UBOOT_CONFIG_PINCTRL_MT8516
	bool "MT8516 SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MTK

config UBOOT_CONFIG_PINCTRL_MT8518
        bool "MT8518 SoC pinctrl driver"
	select UBOOT_CONFIG_PINCTRL_MTK

endif
