# SPDX-License-Identifier: GPL-2.0+
#
# Copyright (C) 2018 BayLibre, SAS
#
# Author: Neil Armstrong <narmstrong@baylibre.com>

config UBOOT_CONFIG_VIDEO_MESON
	bool "Enable Amlogic Meson video support"
	depends on UBOOT_CONFIG_DM_VIDEO
	select UBOOT_CONFIG_DISPLAY
	help
	  Enable Amlogic Meson Video Processing Unit video support.
