if UBOOT_CONFIG_TARGET_CHROMEBOX_PANTHER

config UBOOT_CONFIG_SYS_BOARD
	default "chromebox_panther"

config UBOOT_CONFIG_SYS_VENDOR
	default "google"

config UBOOT_CONFIG_SYS_SOC
	default "ivybridge"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "chromebox_panther"

config UBOOT_CONFIG_SYS_TEXT_BASE
	default 0xfff00000

# Panther actually uses haswell, not ivybridge, so this is just a placeholder
config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select UBOOT_CONFIG_X86_RESET_VECTOR
	select UBOOT_CONFIG_NORTHBRIDGE_INTEL_IVYBRIDGE
	select UBOOT_CONFIG_HAVE_INTEL_ME
	select UBOOT_CONFIG_BOARD_ROMSIZE_KB_8192
	select UBOOT_CONFIG_SPI_FLASH_WINBOND

config UBOOT_CONFIG_SYS_CAR_ADDR
	hex
	default 0xff7e0000

config UBOOT_CONFIG_SYS_CAR_SIZE
	hex
	default 0x20000

endif
