if UBOOT_CONFIG_TARGET_PCM052

config UBOOT_CONFIG_SYS_BOARD
	default "pcm052"

config UBOOT_CONFIG_SYS_VENDOR
	default "phytec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "pcm052"

config UBOOT_CONFIG_PCM052_DDR_SIZE
	int
	default 256

config UBOOT_CONFIG_IMX_CONFIG
	default "board/phytec/pcm052/imximage.cfg"

endif

if UBOOT_CONFIG_TARGET_BK4R1

config UBOOT_CONFIG_SYS_BOARD
	default "pcm052"

config UBOOT_CONFIG_SYS_VENDOR
	default "phytec"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "bk4r1"

config UBOOT_CONFIG_PCM052_DDR_SIZE
	int
	default 512

config UBOOT_CONFIG_IMX_CONFIG
	default "board/phytec/pcm052/imximage.cfg"

endif
