if UBOOT_CONFIG_TARGET_MX6SABREAUTO

config UBOOT_CONFIG_SYS_BOARD
	default "mx6sabreauto"

config UBOOT_CONFIG_SYS_VENDOR
	default "freescale"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "mx6sabreauto"

endif
