if UBOOT_CONFIG_TARGET_CHROMEBOOK_BOB

config UBOOT_CONFIG_SYS_BOARD
	default "gru"

config UBOOT_CONFIG_SYS_VENDOR
	default "google"

config UBOOT_CONFIG_SYS_CONFIG_NAME
	default "gru"

config UBOOT_CONFIG_BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
